/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 7, 2014, 11:55:08 AM
    Author     : DELL
*/
@import url(./font/font-stylesheet.css);
/* line 21, ../sass/style-rtl.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/style-rtl.scss */
body {
  font-family: "GESndBook";
  font-size: 18px;
  /*background-color: $bg-color;*/
  background: #f4f4f4 url("../../../assets/images/web6/bg.png") repeat;
  width: 100%;
  direction: rtl;
  text-align: right;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #666666;
}

/* line 38, ../sass/style-rtl.scss */
h3 {
  font-size: 24px;
  color: #3a3636;
}

/* line 42, ../sass/style-rtl.scss */
ul {
  list-style: none;
}

/* line 45, ../sass/style-rtl.scss */
.cv-content {
  min-height: 100%;
}

/*===================================
header
=====================================*/
/* line 52, ../sass/style-rtl.scss */
.head-wrapper {
  background-image: url("../../../assets/images/web6/header-bg.png");
  background-size: cover;
  min-height: 170px;
  color: #fff;
  overflow: hidden;
}

/* line 59, ../sass/style-rtl.scss */
.name-wrapper {
  background-color: #556371;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 5px;
  width: 300px;
  max-width: 50%;
  margin-top: 30px;
  margin-bottom: 40px;
  float: right;
}

/* line 71, ../sass/style-rtl.scss */
.name, .position {
  font-size: 30px;
}

/* line 75, ../sass/style-rtl.scss */
.profile-img-container {
  float: right;
  position: relative;
  right: -30px;
  top: 10px;
}

/* line 81, ../sass/style-rtl.scss */
.profile-img {
  width: 170px;
  height: 170px;
  border: 5px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/*===================================
 tab ul
=====================================*/
/* line 90, ../sass/style-rtl.scss */
.resp-tabs-list.tab-head {
  width: 22%;
}

/* line 93, ../sass/style-rtl.scss */
.resp-tabs-list.tab-head > li {
  color: #fff;
  text-align: center;
  width: 100%;
  margin-bottom: 3px;
  margin-top: 3px;
  -webkit-box-shadow: #aeb3b9 0px 1px 1px;
  -moz-box-shadow: #aeb3b9 0px 1px 1px;
  box-shadow: #aeb3b9 0px 1px 1px;
}

/* line 101, ../sass/style-rtl.scss */
.resp-tabs-list.tab-head > li:hover, .resp-tab-active {
  -webkit-transform: translateX(-24px);
  -moz-transform: translateX(-24px);
  -ms-transform: translateX(-24px);
  -o-transform: translateX(-24px);
  transform: translateX(-24px);
}

/* line 106, ../sass/style-rtl.scss */
.resp-tabs-list.tab-head li:first-child, .resp-tabs-list.tab-head li:nth-child(4),
#tab-item-0, #tab-item-3 {
  background-color: #f16a6c;
}

/* line 110, ../sass/style-rtl.scss */
.resp-tabs-list.tab-head li:nth-child(2), .resp-tabs-list.tab-head li:nth-child(7),
#tab-item-1, #tab-item-6 {
  background-color: #c8dd64;
}

/* line 114, ../sass/style-rtl.scss */
.resp-tabs-list.tab-head li:nth-child(3),
#tab-item-2 {
  background-color: #556371;
}

/* line 118, ../sass/style-rtl.scss */
.resp-tabs-list.tab-head li:nth-child(6),
#tab-item-5 {
  background-color: #c74d5a;
}

/* line 122, ../sass/style-rtl.scss */
.resp-tabs-list.tab-head li:nth-child(5), .resp-tabs-list.tab-head li:nth-child(8),
#tab-item-4, #tab-item-7 {
  background-color: #46bbc5;
}

/* line 126, ../sass/style-rtl.scss */
.resp-tabs-list.tab-head li:nth-child(9),
#tab-item-8 {
  background-color: #c74534;
}

/* line 130, ../sass/style-rtl.scss */
h2.resp-accordion {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin: 0 !important;
  margin-bottom: 5px !important;
  padding-bottom: 10px;
  padding-top: 10px;
  -webkit-box-shadow: #aeb3b9 0px 2px 2px;
  -moz-box-shadow: #aeb3b9 0px 2px 2px;
  box-shadow: #aeb3b9 0px 2px 2px;
  width: 100%;
}

/* line 143, ../sass/style-rtl.scss */
.resp-tabs-container {
  position: relative;
  width: 75%;
  border: #fff solid 2px;
  height: 750px;
  overflow-y: auto;
  -moz-border-radius-topleft: 30px;
  -webkit-border-top-left-radius: 30px;
  border-top-left-radius: 30px;
  -moz-border-radius-bottomright: 70px;
  -webkit-border-bottom-right-radius: 70px;
  border-bottom-right-radius: 70px;
  -webkit-box-shadow: #aeb3b9 0px 6px 10px;
  -moz-box-shadow: #aeb3b9 0px 6px 10px;
  box-shadow: #aeb3b9 0px 6px 10px;
  border: 1px solid #d5d7d9;
  margin-right: 2%;
  padding-right: 10%;
  padding-left: 10%;
  background-color: #f4f4f4;
  margin-bottom: 40px;
}

/* line 159, ../sass/style-rtl.scss */
.rope {
  float: right;
  position: relative;
  width: 3%;
  z-index: 100;
}

/* line 165, ../sass/style-rtl.scss */
#back-rope {
  position: absolute;
  top: 0;
  right: 17px;
  z-index: 101;
}

/* line 171, ../sass/style-rtl.scss */
#front-rope {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
}

/* line 178, ../sass/style-rtl.scss */
.big-circle {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #556371;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #fff;
  top: 413px;
  right: -8.5rem;
}

/* line 189, ../sass/style-rtl.scss */
.sm-circle {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #928457;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #fff;
  right: 132px;
  top: 23px;
}

/* line 199, ../sass/style-rtl.scss */
.contact-info {
  position: absolute;
  width: 195px;
  height: 180px;
  right: 48px;
  top: 60px;
  font-size: 14px;
  color: #fff;
}

/* line 209, ../sass/style-rtl.scss */
.contact-row {
  margin-bottom: 5px;
}

/* line 214, ../sass/style-rtl.scss */
.add {
  background: url("../../../assets/images/web6/loc.png") no-repeat right;
  padding-right: 30px;
}

/* line 218, ../sass/style-rtl.scss */
.phone {
  background: url("../../../assets/images/web6/phone.png") no-repeat right;
  padding-right: 30px;
}

/* line 222, ../sass/style-rtl.scss */
.mail {
  background: url("../../../assets/images/web6/email.png") no-repeat right;
  padding-right: 30px;
}

/*======================================
general classes
========================================*/
/* line 229, ../sass/style-rtl.scss */
.dot:before {
  content: url("../../../assets/images/web6/dot.png");
  float: right;
  /*@include border-radius(50%);*/
  /*border:5px solid #c74d5a;*/
  padding-left: 5px;
  vertical-align: middle;
}

/* line 239, ../sass/style-rtl.scss */
.dash:before, .edu-row span:before {
  content: "-";
}

/* line 242, ../sass/style-rtl.scss */
.tag:before {
  content: "<";
}

/* line 245, ../sass/style-rtl.scss */
.tag:after {
  content: ">";
}

/*======================================
personal info
========================================*/
/* line 251, ../sass/style-rtl.scss */
.p-info-row {
  width: 50%;
  float: right;
}

/* line 256, ../sass/style-rtl.scss */
.p-info-row h3 {
  display: inline-block;
}

/*=========================================
education 
===========================================*/
/* line 263, ../sass/style-rtl.scss */
.edu-row {
  margin-top: 30px;
  margin-bottom: 80px;
  overflow: hidden;
}

/* line 268, ../sass/style-rtl.scss */
.edu-row span {
  display: block;
}

/* line 273, ../sass/style-rtl.scss */
.row-wrapper {
  width: 95%;
  float: right;
}

/*===========================================
experience 
=============================================*/
/* line 281, ../sass/style-rtl.scss */
.exp-row span {
  display: block;
  margin-bottom: 20px;
}

/* line 286, ../sass/style-rtl.scss */
.exp-row {
  width: 90%;
  margin-bottom: 80px;
  overflow: hidden;
}

/*========================================
progress bar
==========================================*/
/* line 294, ../sass/style-rtl.scss */
.progress {
  height: 20px;
  background: #8f8b8b;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
}
/* line 302, ../sass/style-rtl.scss */
.progress > span {
  position: relative;
  float: left;
  margin: 0 -1px;
  min-width: 30px;
  height: 20px;
  line-height: 16px;
  text-align: right;
  background: #ea6c6e;
  background: repeating-linear-gradient(-70deg, #8f8b8b, #8f8b8b 1px, #ea6c6e 1px, #ea6c6e 8px);
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 321, ../sass/style-rtl.scss */
.progress span:before {
  content: " ";
  position: absolute;
  background: #ea6c6e;
  top: 0;
  right: -3px;
  bottom: 0;
  width: 8px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  z-index: 5;
}
/* line 340, ../sass/style-rtl.scss */
.progress .green {
  background: #85c440;
  border-color: #78b337 #6ba031 #568128;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b7dc8e), color-stop(70%, #99ce5f), color-stop(100%, #85c440));
  background-image: -webkit-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: -moz-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: -o-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
}
/* line 340, ../sass/style-rtl.scss */
.progress .red {
  background: #db3a27;
  border-color: #c73321 #b12d1e #8e2418;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ea8a7e), color-stop(70%, #e15a4a), color-stop(100%, #db3a27));
  background-image: -webkit-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: -moz-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: -o-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
}
/* line 340, ../sass/style-rtl.scss */
.progress .orange {
  background: #f2b63c;
  border-color: #f0ad24 #eba310 #c5880d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8da9c), color-stop(70%, #f5c462), color-stop(100%, #f2b63c));
  background-image: -webkit-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -moz-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -o-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
}
/* line 340, ../sass/style-rtl.scss */
.progress .blue {
  background: #5aaadb;
  border-color: #459fd6 #3094d2 #277db2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aed5ed), color-stop(70%, #7bbbe2), color-stop(100%, #5aaadb));
  background-image: -webkit-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -moz-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -o-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
}

/* line 348, ../sass/style-rtl.scss */
.my-progress-style {
  width: 30%;
  overflow: hidden;
}

/*====================================
language
======================================*/
/* line 355, ../sass/style-rtl.scss */
.lang-name, .skill-name {
  display: block;
  float: right;
  width: 50%;
}

/* line 360, ../sass/style-rtl.scss */
.lang-row, .skill-row, .ref-row {
  margin-top: 30px;
  margin-bottom: 80px;
  overflow: hidden;
}

/*======================================
skills
========================================*/
/*===========================================
reference
=============================================*/
/* line 380, ../sass/style-rtl.scss */
.row-wrapper span {
  display: block;
  margin-bottom: 10px;
}

/* line 384, ../sass/style-rtl.scss */
.ref-phone {
  letter-spacing: 0.3rem;
}

/*=========================================
recommendation
===========================================*/
/* line 390, ../sass/style-rtl.scss */
.bold {
  font-weight: bold;
}

/* line 393, ../sass/style-rtl.scss */
.recom-pos {
  padding-right: 8px;
}

/* line 396, ../sass/style-rtl.scss */
.recom-text {
  padding-right: 8px;
}

/* line 399, ../sass/style-rtl.scss */
.recom-row {
  margin-bottom: 80px;
  overflow: hidden;
}

/* line 403, ../sass/style-rtl.scss */
.btn, input[type="submit"] {
  background-color: #f16a6c;
  border: 3px solid #c74d5a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  display: block;
  text-align: center;
  cursor: pointer;
}

/* line 414, ../sass/style-rtl.scss */
.recom-form input[type=text] {
  border: solid #c74d5a 2px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  padding: 10px;
  width: 70%;
  background-color: #f4f4f4;
}

/* line 421, ../sass/style-rtl.scss */
.recom-form textarea {
  border: solid #c74d5a 2px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  padding: 10px;
  width: 70%;
  background-color: #f4f4f4;
}

/* line 428, ../sass/style-rtl.scss */
.error_message {
  display: block;
  padding: 20px 40px 0 20px;
  width: 70%;
}

/* line 433, ../sass/style-rtl.scss */
.form-success {
  background-color: #ccd260;
  color: #fff;
  width: 70%;
  display: block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 443, ../sass/style-rtl.scss */
.form-success i {
  float: left;
}

/* line 446, ../sass/style-rtl.scss */
#form-wrapper {
  display: none;
}

/*============================
scoial
==============================*/
/* line 452, ../sass/style-rtl.scss */
.social-wrapper {
  position: relative;
}

/* line 456, ../sass/style-rtl.scss */
.social {
  width: 10%;
  height: 400px;
  position: absolute;
  top: 425px;
  right: 5%;
  overflow: auto;
  padding: 10px;
}

/* line 466, ../sass/style-rtl.scss */
.social a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #f4f4f4;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

/* line 476, ../sass/style-rtl.scss */
#fb-icon {
  background-color: #3c5593;
  padding-top: 12px;
}

/* line 481, ../sass/style-rtl.scss */
#g-icon {
  background-color: #c74534;
  padding-top: 13px;
}

/* line 486, ../sass/style-rtl.scss */
#t-icon {
  background-color: #00a2e3;
  padding-top: 13px;
}

/* line 490, ../sass/style-rtl.scss */
#ln-icon {
  background-color: #0a6ea5;
  padding-top: 12px;
}

/* line 494, ../sass/style-rtl.scss */
#be-icon {
  background-color: #3b3c38;
  padding-top: 12px;
}

/* line 499, ../sass/style-rtl.scss */
#fb-icon:hover, #t-icon:hover, #g-icon:hover, #be-icon:hover, #ln-icon:hover {
  background-color: #5f6d7b;
}

/*==================================
footer
====================================*/
/* line 505, ../sass/style-rtl.scss */
.footer {
  width: 100%;
  height: 15px;
  background-image: url("../../../assets/images/web6/footer-border.png");
  background-size: cover;
}

/* line 511, ../sass/style-rtl.scss */
.copyright {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
}

/*================================================
tabs media query
==================================================*/
@media only screen and (max-width: 1023px) {
  /* line 524, ../sass/style-rtl.scss */
  .big-circle {
    right: -8.5rem;
  }

  /* line 527, ../sass/style-rtl.scss */
  .social {
    width: 50%;
    top: 746px;
    right: 5%;
    height: 77px;
    overflow: visible;
  }

  /* line 534, ../sass/style-rtl.scss */
  .social a {
    display: inline-block;
  }
}
@media only screen and (max-width: 768px) {
  /* line 542, ../sass/style-rtl.scss */
  .resp-tabs-container {
    padding-top: 10px;
    margin-top: 10px;
  }

  /* line 546, ../sass/style-rtl.scss */
  .rope {
    display: none;
  }

  /* line 549, ../sass/style-rtl.scss */
  .resp-tabs-container {
    padding-top: 10px;
    margin-top: 10px;
  }

  /* line 553, ../sass/style-rtl.scss */
  .rope {
    display: none;
  }

  /* line 556, ../sass/style-rtl.scss */
  .resp-tabs-container {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0;
    padding-right: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  /* line 568, ../sass/style-rtl.scss */
  .resp-tab-content.resp-tab-content-active {
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 573, ../sass/style-rtl.scss */
  .resp-tab-active {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 576, ../sass/style-rtl.scss */
  .row-wrapper {
    width: 93%;
  }

  /* line 579, ../sass/style-rtl.scss */
  .sm-circle {
    display: none;
  }

  /* line 582, ../sass/style-rtl.scss */
  .big-circle {
    /*not circle in mobile versions*/
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    background: none;
  }

  /* line 593, ../sass/style-rtl.scss */
  .contact-info {
    font-size: 16px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #556371;
  }

  /* line 601, ../sass/style-rtl.scss */
  .add {
    background: url("../../../assets/images/web6/loc-dark.png") no-repeat right;
    padding-right: 30px;
  }

  /* line 605, ../sass/style-rtl.scss */
  .phone {
    background: url("../../../assets/images/web6/phone-dark.png") no-repeat right;
    padding-right: 30px;
  }

  /* line 609, ../sass/style-rtl.scss */
  .mail {
    background: url("../../../assets/images/web6/email-dark.png") no-repeat right;
    padding-right: 30px;
  }

  /* line 613, ../sass/style-rtl.scss */
  .social-wrapper {
    width: 100%;
  }

  /* line 616, ../sass/style-rtl.scss */
  .social {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    height: auto;
  }

  /* line 624, ../sass/style-rtl.scss */
  .social a {
    display: inline-block;
    margin: 0;
  }
}
/*================================================
mobile media query
==================================================*/
@media only screen and (max-width: 480px) {
  /* line 635, ../sass/style-rtl.scss */
  body {
    font-size: 16px;
  }

  /* line 638, ../sass/style-rtl.scss */
  .name-wrapper {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  /* line 644, ../sass/style-rtl.scss */
  .name-wrapper h1 {
    font-size: 22px;
  }

  /* line 647, ../sass/style-rtl.scss */
  .profile-img-container {
    width: 100%;
    right: 0;
    top: 0;
  }

  /* line 652, ../sass/style-rtl.scss */
  .profile-img {
    display: block;
    width: 170px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  /* line 660, ../sass/style-rtl.scss */
  h3 {
    font-size: 1rem;
  }

  /* line 663, ../sass/style-rtl.scss */
  .row-wrapper {
    width: 91%;
  }

  /* line 666, ../sass/style-rtl.scss */
  .form-success {
    width: 100%;
  }

  /* line 669, ../sass/style-rtl.scss */
  .btn, .recom-form input, .recom-form input[type=text], .recom-form textarea {
    width: 100%;
  }
}
