#upload{
	 background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #CCCCCC;
    color: #3366CC;
    cursor: pointer !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 264px;
   /* margin-top: 401px;*/
    text-align: center;
    width: 154px;
}
.darkbg{
	background:#ddd !important;
}
#status{
	font-family:Arial; padding:5px;
}
ul#files{ list-style:none; padding:0; margin:0; }
ul#files li{ padding:10px; margin-bottom:2px; width:110px; float:left; margin-right:10px;}
ul#li img{ max-width:100px; max-height:100px; list-style:none; }
.success{ 
float: right;
width: 154px;
list-style:none;
 }