html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

li {
display: list-item;
text-align: -webkit-match-parent;
text-align: -moz-match-parent;
}
 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
	font-family: "ubunturegular", Arial, Tahoma, sans-serif;
	
	color:#404041;
	font-size:9.6px;
}
ul{margin:0px; padding:0px;}
#container{width:595px;background:#FFF;margin:0 auto;overflow:hidden;height:auto}
#content{margin:15px;}
h1{margin:0px;padding:0px; font-size:19.6px;}
#title{width:495px;float:left;}
#title p{font-size:13.4px;}
#image img{float:right;background:#404041;width:66px;height:66px;}
#header{overflow:hidden; margin:5px 0px 0px 0px; float:none;}
#objective{width:550px;border-bottom:1px solid #bfbfc0;padding-bottom:10px;margin-top:20px;}
#info{overflow:hidden;clear:both;float:none;border-bottom:1px solid #d2d2d2;width:580px}
#info .p_data,.social,.mail{float:left;list-style:none;padding:0px 5px 0px 5px;border-left:1px solid #d2d2d2;}
#edu{min-height:88px; border-bottom:1px solid #d2d2d2; overflow:hidden}
.name{ width:77px;float:left;}
.name,.desc{ margin:15px 0px 0px 5px;}
#course,#exp{width:560px; overflow:hidden;border-bottom:1px solid #d2d2d2; margin-right:20px;}
.desc{ margin:0px 0px 10px 20px; width:455px;float:right;   }
.desc .type{margin:0px 0px 5px 0px;}
.desc ul{ margin-left:15px;}
.sub_li{ margin:0px 0px 0px 15px; list-style:none;}
#lang{  overflow:hidden; border-bottom:1px solid #d2d2d2;width:560px;}
#qual{border-bottom:1px solid #d2d2d2;width:560px;overflow:hidden}
#qual .name{ height:35px; margin-top:10px;}
#skill{border-bottom:1px solid #d2d2d2;width:560px; overflow:hidden;}
#ref{min-height:80px;border-bottom:1px solid #d2d2d2;width:560px; margin:0px 0px 25px 0px; overflow:hidden; padding-right:5px;}
#ref .name{ height:35px;}
#skill .desc ul li,#qual .desc ul li { margin:0px; float:left; width:140px; float:left}
#ref .data ul li{ font-weight:bold;}
.desc ul div{margin:3px 0px 0px 15px;}
.data{ margin:0px 0px 10px 0px;border-left:1px solid #d2d2d2; padding:0px 8px; height:auto; overflow:hidden; }
#ref .desc{ border:none;}
.bold{font-weight:bold;}
.exp_data{ margin:3px 0px 0px 25px;}
#edu .desc .e_edu{ margin:0px 0px 0px 15px;}
.p_data,.mail{width:160px;}
.p_data div span{ margin:0px 10px 0px 0px;}
.social{width:100px;}
