body{font-family: 'ubuntu', sans-serif;
     direction: ltr;
	 background-color:#FFF;
     }
img{width: 150px;
    height: 140px;
    float: right;
    }
.container{margin:0 auto;
           width: 960px;}
@page{background-image: url(../../assets/images/cv.png);
	  background-repeat: no-repeat;
            size:portrait ;
            sheet-size:A4;
            margin:0;
            margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;
              }
.clr{clear: both;}
.side-bar{background-image: url(../../assets/images/cv.png);
          background-repeat: no-repeat;
          height: 100%;
          width: 163px;
          float: left;

          }
.gt{margin-left: 15px;}
.first{float: left;}
.name{float: left;
      width: 229px;
      }
.social{width:1200px;
       float: left;
	  margin-top: 27px;
	   
	   text-align: center;
      }
.social h6{
           margin-top:0px;
            margin-bottom:0px;
			float:left;
		     padding-right:30px;
			margin-left:0px;
			margin-right:0px;
 	         padding-top:0px;
             font-size: 15px;
             color: #404041 !important;
             width:270px;
             font-size: 16px;
	  float: left;
	  
	    padding-bottom: 0px;
	    margin-bottom: 0px;
	    margin-top: 0px;
	    
        font-weight: lighter;
        color: #0099cc;
             }
.square{float: right;
	    padding-top: 40px;
	    margin-right: 22px;
      width: 150px;
      }
.adress{float: left;
      width: 229px;
      padding-top: 110px;
      }
h1{font-size: 21px;
   color: #0099cc;
   padding-top: 40px;
   font-weight: lighter;
   margin-left: 15px;}
h3{font-size: 22px;
   color: #404041;
   font-weight: lighter;
   margin-left: 15px;
   padding-top: -25px;}
h4{font-size: 27px;
   color: #0099cc;}
h6{font-size: 16px;
   color: #3e3e3c;}
.nation{font-size: 16px;
	    padding-bottom: 0px;
	    margin-bottom: 0px;
	    margin-top: 0px;
	    margin-left: 15px;
        font-weight: lighter;
        color: #0099cc;}
.link{font-size: 16px;
	  float: left;
	  margin-left: 40px;
	    padding-bottom: 0px;
	    margin-bottom: 0px;
	    margin-top: 0px;
	    margin-left: 15px;
        font-weight: lighter;
        color: #0099cc;}
span{font-size: 16px;
     color: #404041;
     }
span a{font-size: 16px !important;
     color: #404041 !important;
     text-decoration: none;
     }
.objective{margin-top: 0px;}
.title{float: left;
       width:130px;
       margin-left:15px;
       margin-top: 36px;}
.content{float: right;
       width:480px;
       margin-top: 0px;
       border-left: 1px solid #363636;}
.contentt{float: right;
       width:440px;
       margin-right: 38px;
       margin-top: 10px;
       border-left: 1px solid #363636;}
.contenntt{float: right;
       width:440px;
       margin-right: 38px;
       margin-top: 10px;
       border-left: 1px solid #363636;}
.content p{font-size: 16px;
	       margin-top: 0px;
	       padding-left: 15px;
           color: #363636;}
.contentt h2{font-size: 16px;
            color: #0099cc;
            float: left;
             margin-top:0px;
            margin-bottom:0px;
		    padding-left: 15px;
		
			margin-left:0px;
			margin-right:0px;
 	         padding-top:0px;
             
             
             width:200px;
             
	  
	  
	    padding-bottom: 0px;
	    margin-bottom: 0px;
	    margin-top: 0px;}
.contenntt h2{font-size: 16px;
            color: #0099cc;
            
             margin-top:0px;
            margin-bottom:0px;
		    padding-left: 15px;
		
			margin-left:0px;
			margin-right:0px;
 	         padding-top:0px;
             
             
             width:200px;
             
	  
	  
	    padding-bottom: 0px;
	    margin-bottom: 0px;
	    margin-top: 0px;}
.contenntt h2{font-size: 16px;
            color: #0099cc;
            
             margin-top:0px;
            margin-bottom:0px;
		    padding-left: 15px;
		
			margin-left:0px;
			margin-right:0px;
 	         padding-top:0px;
             
             
             width:200px;
             
	  
	  
	    padding-bottom: 0px;
	    margin-bottom: 0px;
	    margin-top: 0px;}
.contentt h3{font-size: 16px;
            color: #0099cc;
            font-weight: bold;
            padding-top: -15px;}
.contentt p{font-size: 16px;
	       margin-top: 0px;
	       padding-left: 15px;
           color: #363636;
           padding-top: -10px;}
.contenntt p{font-size: 16px;
	       margin-top: 0px;
	       padding-bottom: 0px;
	       margin: 0px;
	       padding-left: 15px;
           color: #363636;
          }
.contentt li{font-size: 16px;
	       margin-top: 0px;
	       padding-left: 20px;
           color: #363636;
           padding-top: -20px;
           list-style: none;

           }
.objectiv{margin-top: 10px;}