body{font-family: "Droid Arabic Kufi", Arial, Tahoma, sans-serif;
     direction:rtl;
     text-align:right;}
.container{margin: 0 auto;
           width: 960px;}
.name-bar{float:right;}
.containe{margin: 0 auto;
           width: 960px;
          border-bottom: 1px solid #c5c3c3;}
.contai{margin: 0 auto;
padding-bottom:0px;
           width: 960px;
           min-height:140px;
          border-bottom: 1px solid #c5c3c3;}
.conta{margin: 0 auto;
           width: 960px;
		     border-bottom: 1px solid #c5c3c3;
           min-height: 120px;}
.cnta{margin: 0 auto;
		     border-bottom: 1px solid #c5c3c3;

           width: 960px;
           min-height: 90px;}
.cont{margin: 0 auto;
padding-bottom:10px;
           width: 960px;
           min-height: 70px;
          border-bottom: 1px solid #c5c3c3;}
.connt{margin: 0 auto;

           width: 960px;
           min-height: 70px;
          }
.contt{margin: 0 auto;
padding-bottom:10px;
           width: 960px;
           min-height: 90px;
          border-bottom: 1px solid #c5c3c3;}

.con{margin: 0 auto;
           width: 960px;
		   padding-bottom:10px;
           min-height: 200px;
          border-bottom: 1px solid #c5c3c3;}



.contain{margin: 0 auto;
           width: 960px;
           min-height: 200px;

          border-bottom: 1px solid #c5c3c3;}

.fullname{font-size: 15px;
          color: #404041;
         float:right;
		 width:500px;
		 margin-left:600px;
         margin-top:-20px;
          }
.position {font-size: 17px !important;
           font-weight: lighter;
            color: #404041;
			 margin-left:600px;
		     width:600px;
            padding-top: -30px !important;
            }
                                         
img{width:100px;
    float: left;
	margin-top:-40px;
    }
p{font-size: 12px;
  color: #404041;
  width:100%;
  margin-left:600px;
  padding-top:0px;
 
 }
 h2{color: #404041;
 min-height:160px;
    font-size: 13px;
    font-weight: lighter;}
  h3{color: #404041;
  
    margin-bottom: 0px;
     padding-left: 31px;
    font-size: 13px;
    font-weight: lighter;}
  h4{color: #404041;
    margin-top: -15px;
     
    font-size: 13px;
    font-weight: lighter;}
 .col{
 	   margin-top:0px !important;
 	    width: 195px;
		
		margin-bottom:10px !important;
		border-right: 1px solid #c5c3c3;
      min-height: 210px;
      
      padding-right: 10px;
     padding-left: 10px;
      float: right;
	 }
.cole{
 	   margin-top:0px !important;
 	    width: 195px;
		border-right: 1px solid #c5c3c3;
		margin-bottom:20px !important;
		margin-bottom:15px;
      min-height: 210px;
      
      padding-right: 10px;
     padding-left: 10px;
      float: right;
	 }
.coll{
      margin-top: 10px;
      width: 100px;
      min-height: 210px;
      
      padding-right: 10px;
     padding-left: 10px;
      float: right;}
.col-3{
      margin-top: 10px;
      width: 100px;
      min-height: 120px;
     
      padding-right: 10px;
     padding-left: 0px;
      float: right;}
.col33{
      margin-top: 10px;
     
      min-height: 120px;
    
      padding-right: 10px;
     padding-left: 10px;
      float: right;}

.col-6{      margin-top: 10px;
      width: 100px;
      min-height: 70px;
      
      padding-right: 10px;
     padding-left: 0px;
      float: right;}
.col-66{      margin-top: 10px;
      width: 90px;
      min-height: 70px;
      
      padding-right: 10px;
     padding-left: 10px;
      float: right;}
.col-7{
      margin-top: 10px;
      width:110px;
      min-height: 70px;
      
      padding-right: 10px;
     padding-left: 0px;
      float: right;}
.col-8{
      margin-top: 10px;
      width: 50px;
      min-height: 70px;
      
      padding-right: 10px;
     padding-left: 50px;
      float: right;}
 .col-2{
     
  
      margin-bottom:10px;
      border-right: 1px solid #c5c3c3;
      padding-right: 10px;
     padding-left: 10px;
      float: right;}
	  .col-12{
     
  border-right: 1px solid #c5c3c3;
      
      width:500px;
      padding-right: 10px;
     padding-left: 10px;
      float: right;}
 .col-4{

      width: 522px;
      
      
      padding-right: 10px;
     padding-left: 10px;
      float: right;}
	 
.col-0{
      margin-top: 10px;
      
      
      padding-right: 10px;
     padding-left: 10px;
      float: right;}
.col-5{
       width: 782px;
      margin-top: 10px;
      margin-right: 120px;
      min-height: 80px;
      border-right: 1px solid #c5c3c3;
      padding-right: 10px;
     padding-left: 10px;
      }



h1{color: #404041;
   margin-bottom: 3px; 
   font-size: 13px;}
.nation{color: #404041;
text-align:right;
        padding-right:5px;
        font-size: 11px;
        font-weight: lighter;}
.diploma{color: #404041;
text-align:right;
        font-size: 13px;
        padding-right: 15px;
        font-weight: lighter;}
.notes{margin-right: -20px;
		float:right;
		text-align:right;
		 margin-top:0px;
		direction:rtl;
		width:100px;}
.notes li{display:inline;
          list-style:disc;
		  

         }
.one{ border-right: 1px solid #c5c3c3;
      min-height:40px;
	    width: 522px;
      
      
      padding-right: 10px;
     padding-left: 10px;
	  margin-bottom:10px;}
.two{ border-right: 1px solid #c5c3c3;
      min-height:60px;
	    width: 522px;
      
      
      padding-right: 10px;
     padding-left: 10px;
	  margin-bottom:10px;}
.three{ border-right: 1px solid #c5c3c3;
      min-height:80px;
	    width: 522px;
      
      
      padding-right: 10px;
     padding-left: 10px;
	  margin-bottom:10px;}
.four{ border-right: 1px solid #c5c3c3;
      min-height:45px;
	    width: 522px;
      
      
      padding-right: 10px;
     padding-left: 10px;
	  margin-bottom:10px;}
.five{ border-right: 1px solid #c5c3c3;
      min-height:65px;
	    width: 522px;
      
      
      padding-right: 10px;
     padding-left: 10px;
	  margin-bottom:10px;}
.nots{margin-right: -20px;
      
      padding-bottom:10px !important;
	  margin-top:0px;
	  margin-bottom:0px;}
.nots li{display:list-item;}
.note  {padding-top:0px;
	      float:right;
		  text-align:right;
	    width:400px;
      }
.note li{text-align:right;}
.note ul li{
         width:30%;
	margin-right:500px;
		 float:right;}

.note:first{margin-right:0px !important;}
/*.not {margin-right:100px;
      float: right;
	  width:100px;
      }*/

.date{
	direction:ltr;
}