body{font-family: 'Droid Arabic Kufi', sans-serif;
     direction: rtl;
	 background-color:#FFF;
     }
.pic{margin-top: 102px;
    height: 305px;

    margin-bottom: 13px;
    margin-right: 40px;
    }
.info{float: right;
      width:25px;
      margin-right: 1cm;
          }
.title{float: right;
      width:57px;
      
          }
.text{font-size: 14px;
      color: #333333;
      margin-right: 57px;}
.right-side{float: right;
            margin-right: 30px;
            padding-top: 40px;}
.container{margin:0 auto;
           width: 960px;}


@page{background-image: url(../../assets/images/cv2_ar.png);
	  background-repeat: no-repeat;
            size:portrait ;
            background-position: right;
            background-position: 515px -10px;
            sheet-size:A4;
            margin:0;
            margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;
              }
.clr{clear: both;}
.ob{font-size: 18px;
    color: #3e3e3c;
    font-weight: lighter;}
.back{width:260px;
      padding-left: -9px;
      margin-right: 25px;
      height:200px;
      background: #8bc53f;
       padding-top:-90px;
       padding-right: -50px; }
.empty{height: 80px;
      background: #2f5791;}
.side-bar{
		  background-image: url(../../assets/images/cv2_ar.png);
          height: 100%;
           width: 287px;
          float: right;}
.info{margin-right: 15px;}
.parag{font-size: 13px;
        padding-top: 0px;
        margin-top: 0px;
        width: 170px;
        color: #fff;}
a{
	font-size: 13px;
        padding-top: 0px;
        margin-top: 0px;
        width: 170px;
        color: #fff;
}				
h1{font-size: 26px;
   color: #fff;
   margin-bottom: 0px;
   padding-bottom: 0px;
   margin-right: 24px;
   padding-top: 26px;
   font-weight: lighter;}
h3{font-size: 22px;
   color: white;
   margin-right: 29px !important;
   font-weight: lighter;
   margin-top: 0px;
   padding-top:-5px;
   margin-bottom: 0px;
   padding-bottom: 0px;}
.nation{font-size: 13px;
        color: #fff;
        margin-right: 15px;
        margin-bottom: 0px;
        padding-bottom: 6px;
        padding-top: 0px;
        margin-top: 0px;}
.side-bar span{font-size: 13px;
               color: white;
               font-weight: lighter;}
.contentt{float: left;
       width:440px;
       padding-right: 45px;
       
       margin-top: 10px;
       }
.contentst{float: left;
       width:440px;
       padding-right: 45px;
       
       margin-top: 10px;
       }
.contentt h2{font-size: 16px;
            color: #2f5791;
            float: right;
             margin-top:0px;
            margin-bottom:0px;
        padding-right: 15px;
    
      margin-left:0px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;
             
    
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;}
.contentst p{font-size: 16px;
            color: #2f5791;
            float: right;
             margin-top:0px;
            margin-bottom:0px;
        padding-right: 15px;
    
      margin-left:0px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;
             
    
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;}
.conteentt{
       width:440px;
       padding-right: 45px;
       
       margin-top: 10px;
       }
.conteentt h2{font-size: 16px;
            color: #2f5791;
           
             margin-top:0px;
            margin-bottom:0px;
        padding-right: 15px;
    
      margin-left:0px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;
             
    
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;}
.contentt h4{font-size: 16px;
            color: #575a5d;
            font-weight: lighter;
            float: right;
             margin-top:0px;
            margin-bottom:0px;
        padding-right: 15px;
    
      margin-left:0px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;
             
    
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;}
         
.contentt p{font-size: 16px;
         margin-top: 0px;
            padding-right: 16px;
           color: #575a5d;
           padding-top: -10px;}
.conteentt p{font-size: 16px;
         margin-top: 0px;
            padding-right: 16px;
           color: #575a5d;
           }
.ddd{margin-right:15px;}
.contenntt h2{font-size: 16px;
            color: #2f5791;
            
             margin-top:0px;
            margin-bottom:0px;
        
    
      margin-left:0px;
      margin-right:-120px;
           padding-top:0px;
             
             
             width:200px;}
.t{float: right;}
.tt{float:right;
    width:70px;}
.ts{float:right;
    width:70px;}
      
.tss{float:right;
    width:80px;}
      
.sk{float: right;
    width:200px;}
 
    
      