@page{

    size:portrait ;
    sheet-size:A4;
    margin:0;
    margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;
}
body{
    direction:rtl;
    height:100%;
    width:100%;
    text-align:right;
    font-family:Verdana;
    color:#404041;
    font-size:14px;}     
.head-wrapper{

    width:100%;
}
.cv-head{
    background: #f0f0f0;
    width:100%;
    padding-top:1%;

}
h1,h2,h3,h4,h5,h6{
    color:#404041;
    padding:0;
    margin:0;
}
.cv-name h1{
    font-size:24px;
    /*text-transform: uppercase;*/
    margin-top: -3px;
}
.phone-info{
    float:right; width:30%;
}
.phone-info table td{
    width:40%;
    border:none;
    border:transparent 2mm solid;
}
.phone-info{
    border:transparent 2mm solid;
}
.phone-info table td:nth-child(odd){
    margin-right:5%;

}
.address{
    float:right;
    width:49%;
    margin-right:1%;
}
.address h4{
    line-height:5%;}


.social td{
    width:30%;
    padding: 1%;
    font-size: 14px;
}

hr{
    width:95%;
    color:#646464;}
.img-container{
    /* width:4.5cm; height:5cm; position: fixed;   right:.5cm; top:2cm;*/
    width:22%;
    padding-bottom: 2%;
    margin: 0;
}
.cv-content{
    width:100%;   min-height:50px; float:right;} 
.p-info div {
    margin-right:2%;
    display:block;
}
.bordered{
    border-right:5px solid #646464;
    padding-left:1%;
    padding-right:1%;
    color:#404041;}
.bold{
    font-weight:bold;
    font-size: 12px;

}
a{
    color:#404041;}
.e-info{
    width:100%;
    padding-right:2%;
    padding-bottom: 10px;
  }
.e-info h4{
    width:100%;
    margin-bottom: 1%;
    float:right;
}
.edate{
    width:20%;
    float:right;
    
}
.date{
    width:20%;
    float:right;
    /*padding-top:2.8%;*/

}

.edu{
    width:80%;
    float:right;
   
}
.edu h5{
    font-weight:normal;
    font-size:14px;

}
.exp-head h5{
    margin-top:2.5%;
    font-size:14px;}
.exp-head h5 span{
    font-weight:normal;
    
}


.exp{
    padding-bottom:2%;
}
.t-skills, .p-skills{
    width:100%;
    padding-left:2%;
    padding-right:2%;
}
.t-skill{
    width:48%;
    float:right;}
.p-skill{
    width:24%;
    float:right;
}
.ref-name {
    padding-right:2%;
    float:right;
    width:20%;
    
}
.ref-data{
    width:60%;
    float:right;
    padding-right:2%;}
.ref-data p{
    padding-top:1.5%;
    line-height:5%;


}
.cv-name{
    float:right; width:37%; padding-left:1%; padding-right:1%;
}
.email{
    float:right; width:25%; margin-right:5%;
}
.adds{
    float:right; width:75%;
    margin-top:4%;
}
.social-wrap{
    clear:both;  width:100%; float:right; margin-right:2%;
}
.exp-head div{
    float:right;
    width:100%;
}
.phone-info h4{
    padding-right:1.5%;}

h4{
    font-size: 14px;
}

.social-link{
  width:90%;
  float:right;
}
.social-img{
    width:10%;
    float:right;
    padding-top: -1%;
}
.social-row{
    padding-top: 1%;
    width:30%;
    float: right;
    padding-right: 1%;
}
.section-title, .courses-title{
    width:100%;
    float:right;
    margin-bottom:1%;
}
.section-title h4{
    width:30%;
    float:right;
}
.section-title h5{
    width:60%;
    float:right;
    margin-right: 5%;
}
.exp-head{
    width:75%;
    float:right;
}
.projects{
    margin-right: 20%;
}
.courses-title h4{
    width:40%;
    float:right;
}
.role{
    width:100%;
    border-right:3pt solid #3d3d3d;
    
    /*margin-bottom:5px;*/
    margin-top: 5px;
    padding-right:1%;
    width:100%;
}	
.desc{
    
    width:100%;
    float:right;
}