body{font-family: 'Verdana', sans-serif;
	 background-color:#FFF;
     direction: rtl;
     }
.container{margin:0 auto;
           width: 960px;}


@page{
            size:portrait ;
            sheet-size:A4;
            margin:0;

            margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;
              }
.clr{clear: both;}
.empty{height: 16px;}
.empt{height: 10px;}

.name{height:167px;
      margin-right:15px !important;
      margin-left:15px !important;
      border: 1px dotted #838383; }
.first{float: right;
     padding-bottom: 85px;
       width: 295px;
       }
.l{float: right;
   width: 125px;
   margin-right: 15px;}
.np{float: right;}
.np h1{font-size: 18px;
       color: #404041;
       margin-right: 5px;
       margin-bottom: 0px;
      }
.np h3{font-size: 14px;
       font-weight: lighter;
       color: #404041;
       margin-right: 5px;
       padding-top: -3px;
       margin-top: 0px; }
.second{float: right;
     padding-bottom: 30px;
       width: 260px;
       border-right: 1px dotted #1b1b1b;
       border-left: 1px dotted #1b1b1b;}
.info{float: right;
      padding-left:5px;
      width:19px;
      padding-top: 15px;
          }

.infoo{float: right;
     
      width:19px;
      padding-top: 15px;
          }
.parag{font-size: 14px;
     padding-bottom: 0px;
     margin-bottom: 0px;
        padding-left: -10px;
        padding-top: 15px;
        margin-top: 0px;
        width: 220px;
        color: #404041;}
.para{margin-right:20px;
    font-size: 14px;
     padding-bottom: 0px;
     margin-bottom: 0px;
        padding-left: -10px;
        padding-top: 15px;
        margin-top: 0px;
        width: 220px;
        color: #404041;
     }

.par{margin-right:20px;
    font-size: 14px;
     padding-bottom: 0px;
     margin-bottom: 0px;
        
        padding-top: -15px;
        margin-top: 0px;
        width: 230px;
        color: #404041;
     }
.aa{margin-right: 10px;}
.third{float: right;
     
       width: 195px;
       }
.personal{height: 143px;
           margin-right: 15px !important;
           margin-left: 15px !important;
          border: 1px dotted #838383;
          }
.title{float: right;

       width: 115px;}
.title h1{
             font-size:18px;
             color:#404041;
             
             margin-right: 10px;  }
.titles{float: right;
       width: 140px;}
.titles h1{
             font-size:18px;
             color:#404041;
             
             margin-right: 10px;  }
.info2{float: right;
     margin-right: 45px;
       width: 243px;}
.nation{font-size: 19px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      font-weight: lighter;
        color: #404041;}
.info3{float: right;
     margin-right: 30px;
       width: 315px;}
.objective{height: 172px;
           margin-right: 15px !important;
           margin-left: 15px !important;
           border: 1px dotted #838383;}
.info4{float: right;
     
       width: 604px;}
.info4 p{margin: 0px;
         padding: 10px 0px 20px 0px;
         font-size: 19px;
         color: #404041;
         
         margin-right: 50px ;}
.courses {height: 227px;
          margin-right: 15px !important;
           margin-left: 15px !important;
         border: 1px dotted #838383;}

.education{height: 115px;
           margin-right: 15px !important;
           margin-left: 15px !important;
           border: 1px dotted #838383; } 
.language{height: 71px;
          margin-right: 15px !important;
           margin-left: 15px !important;
          border: 1px dotted #838383;}
.exp{height: 284px;
     margin-right: 15px !important;
           margin-left: 15px !important;
     border: 1px dotted #838383;}
.list{margin-right: 60px;}
.t-skills{height: 107px;
          margin-right: 15px !important;
           margin-left: 15px !important;
          border: 1px dotted #838383;}
.ref{height: 180px;
     margin-right: 15px !important;
           margin-left: 15px !important;
          border: 1px dotted #838383;}
.ff{margin-right: 10px !important;}
.x{padding-left:40px;
   height: 100px;}
