body{font-family: Tahoma, sans-serif;
     background-color:#FFF;
     direction: rtl;
     }
@page{
            size:portrait ;
   
            sheet-size:A4;
            margin:0;
            margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;
              }
.clr{clear: both;}
.container{margin:0 auto;
           width: 960px;}

.personal {position: absolute;
           right:40px;
           float:right;
           
           
          
          }
.ss{float:right;}
.ff{ border:3px solid #1cbbb4;}
.pic{
	 
	 float:right;
   margin-top: 50px;
	 height: 216px;
	 height:150px;
     width:150px;}
.social-bar{height: 77px;
	      
          background: white;
          padding-top: 16px;}
.info{float: right;
      width:30px;
      

          }
.infos{float: right;
      width:50px;
      padding-right:-30px;

          }

.inf0 p{font-size: 16px;
        color: #666666;
        }
.name-bar{height: 177px;
          background: #616161;}
.name{float: right;
	  margin-right: 257px;
      width: 292px;}
.nation{float: right;
	    margin-right: 60px;
      width: 180px;}
.name h1{font-size: 25px;
         color: white;}
.name h3{font-size: 20px;
         color: white;
         padding-top:-13px;
         margin: 0px;}
.address{font-size: 16px;
         font-weight: lighter;
          color: #fff;
          margin: 0px;
          padding-top: 0px;}
.social{height: 44px;
        background: #1cbbb4;}
.social-1{float: left;
          padding-right:0px !important;
          width: 300px;
		  
          margin-left: 22px;}
.social-2{float: right;
          padding-right:0px !important;
          width: 150px;
		  
          margin-right: 22px;}
.ge{margin-left:-10px;}
.w{margin-right:15px;}
.objective{min-height:149px; }
.title{float: right;
      width:57px;
      margin-top: 13px;
      margin-right: 33px;
      padding-left: 10px;
          }

.ob{font-size: 20px;
    color: #1cbbb4;

    }
.text{font-size: 16px;
      margin-left:-40px !important;
      color: #616161;
	  width:680px;
     }
.t{margin-right: 97px;}
.objective p{font-size: 16px;
             color: #464646;
             padding-right:90px;
             padding-left: 0px;
             margin-bottom: 0px;
             margin-top: 0px;}
.dd{margin-right:117px;}
.clr{clear:both;}

.right-side{float:right;
            width:600px;}
.right-2{
            width:600px;}

.rr{padding-right:20px;
	background-position:right;
	float:right;
	  margin-right:20px;
    width:130px;
	 background-image:url(../../assets/images/ee.png);
	  background-repeat:no-repeat;
	  }
.r{padding-right:20px;
   margin-right:20px;
	background-position:right;
	float:right;
    width:250px;
     background-image:url(../../assets/images/envelope.png);
	  background-repeat:no-repeat;
	  }
.social-links{float:left;
               margin-top: -20px;
               width:400px;
			   padding-top:-40px;
			   }
