body{font-family: 'ubuntu', sans-serif;
     direction: ltr;
	 background-color:#FFF;
     }
.pic{margin-top: 102px;
    height: 305px;

    margin-bottom: 13px;
    margin-left: 60px;
    }
.info{float: left;
      width:25px;
      margin-left: 1cm;
          }
.title{float: left;
      width:57px;
      
          }
.text{font-size: 14px;
      color: #333333;
      margin-left: 57px;}
.right-side{float: left;
            margin-left: 30px;
            padding-top: 40px;}
.container{margin:0 auto;
           width: 960px;}


@page{background-image: url(../../assets/images/cv2.png);
	  background-repeat: no-repeat;
            size:portrait ;
            sheet-size:A4;
            margin:0;
            margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;
              }
.clr{clear: both;}
.ob{font-size: 18px;
    color: #3e3e3c;
    font-weight: lighter;}
.back{width:260px;
      padding-right: -9px;
      margin-left: 25px;
      height:200px;
      background: #8bc53f;
       padding-top:-90px;
       padding-left: -70px; }
.empty{height: 80px;
      background: #2f5791;}
.side-bar{background-image: url(../../assets/images/cv2.png);
          background-repeat: no-repeat;
          height: 100%;
          width: 287px;
          float: left;}
.info{margin-left: 15px;}
.parag{font-size: 13px;
        padding-top: 0px;
        margin-top: 0px;
        width: 170px;
        color: #fff;}
a{
	font-size: 13px;
        padding-top: 0px;
        margin-top: 0px;
        width: 170px;
        color: #fff;
}		
h1{font-size: 26px;
   color: #fff;
   margin-bottom: 0px;
   padding-bottom: 0px;
   margin-left: 24px;
   padding-top: 26px;
   font-weight: lighter;}
h3{font-size: 22px;
   color: white;
   margin-left: 29px !important;
   font-weight: lighter;
   margin-top: 0px;
   padding-top:-5px;
   margin-bottom: 0px;
   padding-bottom: 0px;}
.nation{font-size: 13px;
        color: #fff;
        margin-left: 15px;
        margin-bottom: 0px;
        padding-bottom: 6px;
        padding-top: 0px;
        margin-top: 0px;}
.side-bar span{font-size: 13px;
               color: white;
               font-weight: lighter;}
.contentt{float: right;
       width:440px;
       padding-left: 45px;
       
       margin-top: 10px;
       }
.contentst{float: right;
       width:440px;
       padding-left: 45px;
       
       margin-top: 10px;
       }
.contentt h2{font-size: 16px;
            color: #2f5791;
            float: left;
             margin-top:0px;
            margin-bottom:0px;
        padding-left: 15px;
    
      margin-left:0px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;
             
    
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;}
.contentst p{font-size: 16px;
            color: #2f5791;
            float: left;
             margin-top:0px;
            margin-bottom:0px;
        padding-left: 15px;
    
      margin-left:0px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;
             
    
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;}
.conteentt{
       width:440px;
       padding-left: 45px;
       
       margin-top: 10px;
       }
.conteentt h2{font-size: 16px;
            color: #2f5791;
           
             margin-top:0px;
            margin-bottom:0px;
        padding-left: 15px;
    
      margin-left:0px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;
             
    
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;}
.contentt h4{font-size: 16px;
            color: #575a5d;
            font-weight: lighter;
            float: left;
             margin-top:0px;
            margin-bottom:0px;
        padding-left: 15px;
    
      margin-left:0px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;
             
    
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;}
         
.contentt p{font-size: 16px;
         margin-top: 0px;
            padding-left: 16px;
           color: #575a5d;
           padding-top: -10px;}
.conteentt p{font-size: 16px;
         margin-top: 0px;
            padding-left: 16px;
           color: #575a5d;
           }
.contenntt h2{font-size: 16px;
            color: #2f5791;
            
             margin-top:0px;
            margin-bottom:0px;
        
    
      margin-left:-120px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;}
.ddd{margin-left:15px;}
.persons{float: left;

      
       }
.person{float: left;
       padding-left: -150px;
      
       }
.persons2{float: left;
          padding-top: -110px;
          padding-left: 350px;}
 .person h2{list-style: none;
              font-size: 16px;
              color: #414142  !important;}      
.person ul li{list-style: none;
              font-size: 16px;
              color: #414142;}
             
.t{float: left;}
.tt{float:left;
    width:116px;}
.ts{float:left;
    width:130px;}
.tss{float:left;
    width:120px;}
.sk{float: left;
    width:200px;}
 