@page{
    size:portrait ;
    sheet-size:A4;

    margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;
}
body{
    direction:rtl;
    text-align:right;
    font-size:14px;
    font-family:Tahoma;
    color:#464646;
    background-color:#fffbd2;
}

.head-wrapper{
    width:100%;
    padding-right:4%;
    padding-left:4%;
    padding-bottom:1%;
    background-color:#fff;
}
.contact{
    width:70%;
    float:right;
    padding-top:1%;
}

.contact-icon{
    margin-top:1%;
    width:1%;
    float:right;

}
.contact-head{
    color:#ff685d;
    width:10%;
    float:right;
    margin-top:0;
    margin-right:4%;
}
.phone{
    width:100%;
    margin-right:3%;
    color:#464646;
}
.phone table{
    border:none;
    margin-right: -2px;
}
.phone table td{
    padding-right:2%;
    border:none;

}
.email{
    margin-right:5%;
    color:#464646;
}
.social{
    width:30%;
    float:right;
    padding-top:32px;
    color:#464646;
}

.social-link{
    width:80%;
    float:right;

}
.social-img{
    float:right;
    width:15%;

}

.social-row {
    padding-top:2%;
    text-align:left;
    margin-left:-4.5%
}
.profile{
    height:15%;
    background-color:#ff685d;

}
.profile-img{
    width:16%;
    float:right;
    padding-right:3%;
    padding-top:4%;
}
.name-wrapper{
    width:38%;
    float:right;
    padding-top:2%;
    padding-right:2%;
} 
.name  span{
    font-size:38px;
    color:#fff;
    /*text-transform: uppercase;*/
}
.position span{
    font-size:30px;
    color:#fff;
}
.name, .position{
    width:100%;
}
.add{
    width:20%;
    float:right;
    color:#fff;
	padding-bottom:1%;
}
.loc-icon{
    margin-top:30%;   
    width:1%;
    float:right;

}
.add-head{
    color:#fff;
    width:80%;
    float:right;
    padding-right:10%;

}
.cv-content{
    width:100%;
    background-color:#fffbd2;

    color:#464646;
}
.cv-row-wrapper{
    width:100%;
    /*background-color:#fffbd2;*/


}
.cv-title-head{
    width:25%;
    float:right;
    /*background-color:#00b2b0;*/

}
.cv-title-content , .cv-school-content,.cv-skills-content, .cv-lang-content,.cv-ref-content{
    width:74.9%;
    float:right;
    border-style: solid;
    border-bottom-width:1mm;
    border-color:#464646;
    padding-bottom:.35%;
    min-height:14%;
    background-color:#fffbd2;
}

.cv-title-content .p{
    width:55%;
    padding:2% 2% -1% 2%;
    float:right;
    max-height:10.5%;
}
.info{
    width: 32%;
    background-color:#ffe0a9;
    float:right;
    margin-right:4%;

    font-size:16px;
    padding:2% 2% 0 0; 
    height:10.5%;
}

.cv-school-head{
    width:25%;
    float:right;
    /*background-color:#83d244;*/

}

.cv-school-wrapper{
    background: transparent url(../../assets/images/bg-green.jpg) repeat-y fixed right top;
}
.date,.ref-name{
    margin-top:2%;
    margin-right:2%;
}
.edu-name{
    margin-right:8%;
}
.edu-detail{
    margin-right:6%;
    padding:0 2% 2% 2%;
}
.hr{
    width:130%;
    height:1mm;
    border-style: dotted;
    border-bottom-width:.5mm;
    border-color:#464646;
    margin-right:2%;
}
.cv-course-head{
    width:25%;
    float:right;
    /*background-color:#609932;*/

}
.cv-courses-wrapper{
    background: transparent url(../../assets/images/bg-dark-green.png) repeat-y fixed right top;
}
.cv-exp-head{
    width:25%;
    float:right;
    /*background-color:#ff6e2e;*/

}
.cv-exp-wrapper{
    background: transparent url(../../assets/images/bg-orange.png) repeat-y fixed right top;
}
.exp-years{
    margin-top:2%;
    margin-right:2%;
}
.cv-exp-wrapper{
    background: transparent url(../../assets/images/bg-orange.png) repeat-y fixed right top;
}
.exp-years{
    margin-top:2%;
    margin-right:2%;
}
.cv-skills-head{
    width:25%;
    float:right;
    /*background-color:#d2448a;*/

}
.cv-skills-wrapper{
    background: transparent url(../../assets/images/bg-pink.png) repeat-y fixed right top;
}
.ul-wrapper ul {
    list-style-type:square;

}
.cv-skills-content, .cv-lang-content,cv-ref-content{
    background-color:#fffbd2;
    height:10.3%;

}

.ul-wrapper{
    margin-right:2%;
}
.cv-skills-head{
    width:25%;
    float:right;
    /*background-color:#ffc22e;*/

}
.cv-skills-wrapper{
    background: transparent url(../../assets/images/bg-pink.png) repeat-y fixed right top;
}


.cv-pskills-head{
    width:25%;
    float:right;
    /*background-color:#7e2953;*/

}
.cv-pskills-wrapper{
    background: transparent url(../../assets/images/bg-purple.png) repeat-y fixed right top;
}
.cv-lang-head{
    width:25%;
    float:right;
    /*background-color:#ffc22e;*/

}
.cv-lang-wrapper{
    background: transparent url(../../assets/images/bg-yellow.png) repeat-y fixed right top;
}
.cv-lang-content{
    height:11.5%;
}
.cv-ref-head{
    width:25%;
    float:right;
    /*background-color:#765ab2;*/

}
.cv-refs-wrapper{
    background: transparent url(../../assets/images/plum.jpg) repeat-y fixed right top;
}
.cv-ref-content{
    height:11.5%;
}
.cv-title-wrapper{
    background: transparent url(../../assets/images/bg-teal.png) repeat-y fixed right top;
}
.side-img-quote{
    margin-right:41%; margin-top:10%;
}
.side-img-school{
    margin-right:39%; margin-top:10%;
}
.side-img-course{
    margin-right:43%; margin-top:10%;
}
.side-img-exp{
    margin-right:44%; margin-top:10%;
}


.side-img-skills{
    margin-right:41%; margin-top:10%;
}
.side-img-lang{
    margin-right:33%; margin-top:10%;
}
.side-img-ref{
    margin-right:43%; margin-top:10%;
}