body{font-family: 'Droid Arabic Kufi', sans-serif;
     direction: rtl;
	 background-color:#FFF;
     }
img{width: 150px;
    height: 140px;
    float: left;
    }
.container{margin:0 auto;
           width: 960px;}


@page{background: url(../../assets/images/cv.png);
	    background-repeat: no-repeat;
            size:portrait ;
            sheet-size:A4;
            margin:0;
            background-position: right;
            background-position: 642px -10px;
            margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;
              }
.clr{clear: both;}
.side-bar{
	background: url(../../assets/images/cv.png);
          height: 100%;
          width: 151px;
          float: right;

          }
.gt{margin-right: 15px;}

.first{float: right;}
.name{float: right;
      width: 229px;
      }
.social{width:1200px;
       float: right;
    margin-top: 27px;
     
     text-align: center;
      }
.social h6{
           margin-top:0px;
            margin-bottom:0px;
      float:right;
    
      margin-left:0px;
      margin-right:0px;
	  padding-left:30px;
           padding-top:0px;
             font-size: 15px;
             color: #404041 !important;
             width:260px;
             font-size: 16px;
    float: right;
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      
        font-weight: lighter;
        color: #0099cc;
             }
.square{float: left;
      padding-top: 40px;
      margin-left: 22px;
      width: 150px;
      }
.adress{float: right;
      width: 229px;
      padding-top: 110px;
      }
h1{font-size: 19px;
   color: #0099cc;
   padding-top: 40px;
   font-weight: lighter;
   margin-right: 15px;}
h3{font-size: 22px;
   color: #404041;
   font-weight: lighter;
   margin-right: 15px;
   padding-top: -25px;}
h4{font-size: 27px;
   color: #0099cc;}
h6{font-size: 16px;
   color: #3e3e3c;}
.nation{font-size: 16px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      margin-right: 15px;
        font-weight: lighter;
        color: #0099cc;}
.link{font-size: 16px;
    float: right;
    margin-right: 40px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      margin-rightt: 15px;
        font-weight: lighter;
        color: #0099cc;}
span{font-size: 16px;
     color: #404041;
     }
span a{font-size: 16px !important;
     color: #404041 !important;
     text-decoration: none;
     }
.objective{margin-top: 0px;}
.title{float: right;
       width:130px;
       margin-right: 15px;
       margin-top: 36px;}
.content{float: left;
       width:480px;
       margin-top: 0px;
       border-right: 1px solid #363636;}
.contentt{float: left;
       width:440px;
       margin-left: 38px;
       margin-top: 10px;
       border-right: 1px solid #363636;}
.contenntt{float: left;
       width:440px;
       margin-left: 38px;
       margin-top: 10px;
       border-right: 1px solid #363636;}
.content p{font-size: 16px;
         margin-top: 0px;
         padding-right: 15px;
           color: #363636;}
.contentt h2{font-size: 16px;
            color: #0099cc;
            float: right;
             margin-top:0px;
            margin-bottom:0px;
        padding-right: 15px;
    
      margin-left:0px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;
             
    
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;}
.contenntt h2{font-size: 16px;
            color: #0099cc;
            
             margin-top:0px;
            margin-bottom:0px;
        padding-right: 15px;
    
      margin-left:0px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;
             
    
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;}
.contenntt h2{font-size: 16px;
            color: #0099cc;
            
             margin-top:0px;
            margin-bottom:0px;
        padding-right: 15px;
    
      margin-left:0px;
      margin-right:0px;
           padding-top:0px;
             
             
             width:200px;
             
    
    
      padding-bottom: 0px;
      margin-bottom: 0px;
      margin-top: 0px;}
.contentt h3{font-size: 16px;
            color: #0099cc;
            font-weight: bold;
            padding-top: -15px;}
.contentt p{font-size: 16px;
         margin-top: 0px;
         padding-right: 15px;
           color: #363636;
           padding-top: -10px;}
.contenntt p{font-size: 16px;
         margin-top: 0px;
         padding-bottom: 0px;
         margin: 0px;
         padding-right: 15px;
           color: #363636;
          }
.contentt li{font-size: 16px;
         margin-top: 0px;
         padding-right: 20px;
           color: #363636;
           padding-top: -20px;
           list-style: none;

           }
.objectiv{margin-top: 10px;}/* CSS Document */

