body{font-family: 'Droid Arabic Kufi', sans-serif;
	 background-color:#FFF;
     direction:rtl;}
.clr{
  clear:both;
  }
.imgg{
	  width:100px;
	  height:100px;
	 margin-right:270px;
	
	 }
.e{margin-right: 15px;}
.container{margin:0 auto;
           width:960px;}
.containe{margin:0 auto;
           width:960px;
          border-bottom: 1px solid #646464;
          min-height: 35px;}
 h1{font-size: 30px;
    color: #404041;
	padding-top:-30px;
	margin-left:40px;
    text-align: center;
   }
h3{color: #404041;
   margin-left:40px;
   text-align: center;
   font-size: 20px;
   padding-top: -30px;}
.phone-no p{list-style: none;
            padding-top:-20px;
             font-size: 15px;
             color: #404041;
            }
.phone-no{float: right;
	      width:120px;
		  position:relative;
          }
.adress p{list-style: none;

             font-size: 15px;
             color: #404041;
            }
.adress{float: right;
	    width:280px;
	      margin-right: 120px;
		  position:relative;
          }
.adres{float: right;
	    width:160px;
	      margin-right: 0px;
		  position:relative;
          }
.adres p{font-size: 15px;
             color: #404041;
			 text-align:center;}
 .add{margin-right: 45px;
      }
.adress p{text-align: center;

         }
.center{width:260px;
        padding-top:-20px;
	    margin-right: -50px;
        text-align: center;}
.mail{width: 160px;
     padding-top:-20px;
      margin-left: 20px;
      margin-right: -10px;}
.email{padding-right: 30px;}
.links{width:340px;
       float: left;
       margin-right: 120px;
      
     
       }
.g{
   width: 10px;

   }
.fb{font-size: 15px;
    color: #404041;
    width:100px;
    float: left;
    text-decoration: none;}
 .links h6 {margin-top:0px;
            margin-bottom:0px;
			float:right;
		
			margin-right:80px;
			margin-left:40px;
 	         padding-top:0px;
             font-size: 15px;
             color: #404041 !important;
             width:200px;
             }
 .color{font-size: 15px;
 	         text-decoration: none;
             color: #404041 !important;}
 .objective h2{
    width: 110px;
     }
.objective p{font-size: 16px;
             color: #404041;
             text-align: center;}
hr{border-top:1px solid #646464;
   margin-left: auto;
   margin-right: auto;
   
   width:450px; }
.personal{list-style: none;
          float: right;
          margin-right: 36px;
          width: 40%;}
.person h2{
    width: 200px;
     }
.personal p{font-size: 16px;
            margin-right:45px;
             color: #404041;
			 padding-bottom:0px;
             margin-bottom:0px;
			 padding-top:0px;}
.person-wraper{margin-right: auto;
               margin-left: auto;
               width:80%;}
h2{text-align: center;
    font-size: 19px;
    color: #ffffff;
    background: #3d3d3d;
    padding: 10px 20px 10px 15px;
    
     margin-left: auto;
     margin-right: auto;}
.education h2{width:120px;}
.education h6{font-size: 16px;
             color: #404041;
			 font-weight:lighter;
             margin-right: auto;
             margin-left: auto;
             display: block;
			 margin:0px;
			 padding:0px;
             text-align: center;}
.education p{font-size: 16px;
             color: #404041;
			 padding-top:-20px;
			 margin-bottom:40px;
             text-align: center;}
.courses h2{width:250px;}
.courses h6{font-size: 16px;
             margin:0px;
			 padding:0px;
             color: #404041;
             margin-left: auto;
             margin-right: auto;
             display: block;
			 font-weight:lighter;
             text-align: center;}
.vv{padding-bottom:30px;}
.list p{font-size: 14px;
        text-align:center;
	 
         color: #404041;
         
         list-style: dashed;}
 .list{list-style: none;}
.experience h2{width:250px;}
.experience h6{font-size: 16px;
               margin:0px;
			 padding:0px;
			 font-weight:lighter;
             color: #404041;

             margin-left: auto;
             margin-right: auto;
             display: block;
             text-align: center;}
.experience h2{width: 270px;}
.experience p{font-size: 16px;
             color: #404041;
             text-align: center;}
.languages h6 {font-size: 16px;
                margin:0px;
			 padding:0px;
			 font-weight:lighter;
             color: #404041;
            
             
             display: block;
             text-align: right;}
.languages h2{width:120px;}
.t-skills h2{width:190px;}
.t-skill{width:1000px;
       float: right;
	  
	   
	   
          
	     
}
.t-skill li{
	        margin-top:0px;
            margin-bottom:0px;
			float:right;
		
			margin-right:80px;
			margin-left:40px;
 	         padding-top:0px;
             font-size: 16px;
             color: #404041 !important;
             width:200px;

            }
.t-skil{ margin-top:0px;
            margin-bottom:0px;
			float:right;
		
			margin-right:80px;
			margin-left:40px;
 	         padding-top:0px;
             font-size: 16px;
             color: #404041 !important;
             width:200px;
}
.p-skil{ margin-top:0px;
            margin-bottom:0px;
			float:right;
		
			margin-right:80px;
			margin-left:40px;
 	         padding-top:0px;
             font-size: 16px;
             color: #404041 !important;
             width:90px;
}

.p-skills h2{width:180px;}
.p-skill{width: 100%;
         
       float: right;
	  
	   
	   
          
         }
.p-skill li{
            margin-top:0px;
            margin-bottom:0px;
			float:right;
		
			margin-left:0px;
			margin-right:0px;
 	         padding-top:0px;
             font-size: 16px;
             color: #404041 !important;
            
	        width:25%;
	        padding-bottom: 10px;
	        
            
           }

.refrences h6{font-size: 16px;
              margin-top:0px;
			  margin-left:0px;
			  font-weight:lighter;
             color: #404041;
             margin-left: auto;
			 margin-bottom:0px;
             margin-right: auto;
             display: block;
             text-align: center;}

.bold h6{font-size: 19px;
         margin-bottom:0px;
               margin-top:0px;
			  margin-left:0px;
			  font-weight:lighter;
             color: #404041;
             margin-left: auto;
             margin-right: auto;
             display: block;
             text-align: center;}
.refrences h2{width:120px;}
.date{
	direction:ltr;
}