html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*html,body{
	height: 100%;
}*/
.clr{
	clear: both;
}

body{
	background: url(../images/body-bg.png) no-repeat ;
	background-size: cover;
	direction: rtl;
	font-family: 'HacenTunisialt';
}
.container{
	width: 960px;
	margin: 0 auto;
}
.page-wrap{
	min-height: 100%;
	margin-bottom: -50px;
}
.page-wrap:after{
	content: "";
	display: block;
	height:50px;
}
.top-bar{
	height: 5px;
	background: #40a9e0;
}
.nav-logo-area{
	height: 115px;
}
.nav-logo-area .logo{
	float: right;
	background: url(../images/logo.png) no-repeat;
	width: 87px;
	height: 89px;
	margin-top: 23px;
}
.nav-logo-area .left-area{
	float: left;
	width: 815px;
}
.nav-logo-area .left-area .user-lang-area{
	margin-top: 5px;
}
.nav-logo-area .left-area .user-lang-area p{
	float: right;
	font-size: 15px;
}
.nav-logo-area .left-area .user-lang-area ul{
	float: left;
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
}
.nav-logo-area .left-area .user-lang-area ul li{
	float: right;
}
.nav-logo-area .left-area .user-lang-area ul li a{
	font-size: 14px;
}
.nav-logo-area .left-area .user-lang-area ul li a.ar{
	background: url('../images/lang.png') no-repeat 100% -8%;
	width: 20px;
	height: 20px;
	color: #3b9ccf;
	padding-right: 25px;
}
.nav-logo-area .left-area .user-lang-area ul li a.en{
	background: url('../images/lang.png') no-repeat 0% 105%;
	width: 20px;
	height: 20px;
	color: #202020;
	padding-left: 25px;
	margin-right: 10px;
	border-right: 1px solid #ccc;
	padding-right: 10px;
}
.blue-navigation-area{
	height: 60px;
	background: #40a9e0;
	margin-top: 15px;
	position: relative;
	transform: skew(0deg,-0.1deg);
	-webkit-transform: skew(0deg,-0.1deg);
	-moz-transform: skew(0deg,-0.1deg);
	-ms-transform: skew(0deg,-0.1deg);
}
.blue-navigation-area:after{
	content: "";
	transform: skew(-30deg,1.8deg);
	-webkit-transform: skew(-30deg,1.8deg);
	-moz-transform: skew(-30deg,1.8deg);
	-ms-transform: skew(-30deg,1.8deg);
	background: #40a9e0;
	width: 350px;
	position: absolute;
	top: -3px;
	right: -21px;
	height: 67px;
}
.blue-navigation-area:before{
	content: "";
	transform: skew(-5deg);
	-webkit-transform: skew(-5deg);
	-moz-transform: skew(-5deg);
	-ms-transform: skew(-5deg);
	background: #40a9e0;
	width: 50px;
	position: absolute;
	top: -8px;
	left: -3px;
	height: 60px;
}
.gray-navigation-area{
	height: 70px;
	background: #414141;
	margin-top: -70px;
	position: relative;
}
.gray-navigation-area:after{
	content: "";
	transform: skew(-25deg);
	-webkit-transform: skew(-25deg);
	-moz-transform: skew(-25deg);
	-ms-transform: skew(-25deg);
	background: #414141;
	width: 50px;
	position: absolute;
	top: 0;
	right: -21px;
	height: 70px;
}
.menu{
	position: relative;
	z-index: 1;
	top: 30px;
	float: right;
}
.menu li{
	float: right;
	margin-right: 5px;
}
.menu li:first-child{
	margin-right: 5px;
}
.menu li a{
	font-size: 16px;
	color: #fff;
	padding: 5px 15px;
	position: relative;
}
.menu li a:hover{
	background: #40a9e0;
	padding: 5px 15px;
}
.menu li a:hover:after{
	width: 0; 
	height: 0; 
	border-top: 0px solid transparent;
	border-bottom: 35px solid transparent; 
	border-left:15px solid #40a9e0;
	content: "";
	position: absolute;
	right: -15px;
	bottom: 0px;
}
.controls{
	float: left;
	position: relative;
	top: 25px;
}
.controls > li{
	float: right;
	border-right:1px solid #9d9d9d;
	padding-right: 10px;
	margin-left: 10px;
	position: relative;
	cursor: pointer;
}
.controls > li a{
	display: block;
}
.controls li a.notifications{
	background: url('../images/icons.png') no-repeat -184px -104px;
	width: 16px;
	height: 16px;
}
.controls li a.messages{
	background: url('../images/icons.png') no-repeat -180px -597px;
	width: 18px;
	height: 12px;
}
.controls li a.logout{
	background: url('../images/icons.png') no-repeat -183px -133px;
	width: 17px;
	height: 18px;
}
.controls .ntf .unread-counter{
	background: #ff3a3a;
	width: 10px;
	height: 10px;
	display: block;
	color: #fff;
	font-size: 11px;
	padding: 2px;
	position: absolute;
	top: -7px;
	right: 19px;
	line-height: 10px;
}
.controls .msg .unread-counter{
	background: #ff3a3a;
	width: 10px;
	height: 10px;
	display: block;
	color: #fff;
	font-size: 11px;
	padding: 2px;
	position: absolute;
	top: -7px;
	right: 20px;
	line-height: 10px;
}
.controls li .panel{
	position: absolute;
	background: #fff;
	width: 290px;
	min-height: 152px;
	border: 1px solid #d5d5d5;
	left: -35px;
	margin-top: 20px;
	z-index: 3;
	display: none;
}
.controls li .panel:before{
	content: "";
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-bottom: 10px solid #fff;
	border-right: 7px solid transparent;
	position: absolute;
	left: 35px;
	z-index: 1;
	top: -10px;
}
.panel .head-area{
	padding:10px;
	margin-bottom: 10px;
}
.panel .head-area p.new{
	float: right;
	color: #40a9e0;
	font-size: 14px;
}
.panel .head-area p.all{
	float: left;
	color: #414141;
	font-size: 14px;
}
.panel li{
	height: 80px;
	background: #f3f3f3;
	margin-top: 3px;
	padding: 5px;
}
.panel li label{
	color: #414141;
	font-size: 15px;
}
.panel li p{
	color: #6a6a6a;
	font-size: 14px;
	line-height: 17px;
	text-align: justify;
	margin-top: 6px;
}
.panel a.view-all{
	background: #40a9e0;
	font-size: 14px;
	color: #fff;
	padding: 8px;
	text-align: center;
	border:1px solid #40a9e0;
}



.about-content .right-side{
	float: right;
	width: 320px;
	margin-top: 40px;
}
.about-content .right-side h1{
	font-size: 22px;
	color: #3b9ccf;
	text-align: left;
}
.about-content .left-side{
	float: left;
	width: 630px;
	margin-top: 40px;
}
.about-content .left-side p{
	color: #414141;
	text-align: justify;
	font-size: 16px;
	line-height: 25px;
}
.about-content .left-side p span.blue{
	color: #3b9ccf;
}
.about-content .left-side p.second{
	margin-top: 70px;
}
.footer-wrapper{
	height: 50px;
	background: #3b9ccf;
	border-bottom: 4px solid #202020;
}

/* steps */

.mail-confirm p{
	background: #ff5252;
	padding: 7px 5px;
	color: #fff;
	font-size: 14px;
	float: left;
	margin-top: -20px;
	margin-left: 5px;
	z-index: 2;
	position: relative;
}
.create-wizard{
	margin-top: 30px;
}
.tabs li{
	width: 10.9%;
	background: #414141;
	float: right;
	margin-right: 2px;
	text-align: center;
	padding: 10px 0;
	position: relative;
}
.tabs li:first-child{
	margin-right: 0;
}
.tabs li.active{
	background: #40a9e0;
}
.tabs li.active:after{
	content: "";
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #40a9e0;
	position: absolute;
	left: -8px;
	z-index: 1;
}
.tabs li.active:before{
	content: attr(data-step) " ";
	background: #414141;
	color: #fff;
	text-align: center;
	position: absolute;
	padding: 3px 2px 2px 2px;
	display: block;
	width: 15px;
	top: -15px;
	right: 40%;
	line-height: 15px;
	font-size: 15px;
}
.tabs li a{
	color: #fff;
	font-size: 15px;
}
.progress-bar{
	height: 18px;
	border:1px solid #e3e3e3;
	margin-top: 5px;
}
.progress-bar .done{
	background: #f89e17;
	height: 18px;
	width: 35%;
}
.progress-bar .done span{
	display: block;
	color: #fff;
	font-size: 14px;
	text-align: center;
	position: relative;
	top: 3px;
}
.progress-hint{
	font-size: 14px;
	color: #f39200;
	text-align: center;
	margin: 6px auto;
	display: block;
}
.wizard-form{
	margin-top: 30px;
	width: 100%;
}
.wizard-form label{
	color: #414141;
	font-size: 17px;
}
.wizard-form tr{
	margin-bottom: 20px;
	display: block;
}
.wizard-form tr td:first-child{
	width: 200px;
	vertical-align: middle;
}
.data-area input[type="text"]{
	height: 26px;
	padding-right: 5px;
	outline: none;
	width: 200px;
	font-family: 'HacenTunisialt';
	border:1px solid #dcdcdc;
	transition: all 0.3s;
	-moz-transtion: all 0.3s;
	-o-transtion: all 0.3s;
	-ms-transtion: all 0.3s;
	-webkit-transition: all 0.3s;
}
.data-area select{
	width: 205px;
	height: 28px;
	font-family: 'HacenTunisialt';
	border:1px solid #dcdcdc;
	outline: none;
	transition: all 0.3s;
	-moz-transtion: all 0.3s;
	-o-transtion: all 0.3s;
	-ms-transtion: all 0.3s;
	-webkit-transition: all 0.3s;
}
.data-area textarea{
	width: 200px;
	height: 110px;
	border:1px solid #dcdcdc;
	outline: none;
	font-family: 'HacenTunisialt';
	transition: all 0.3s;
	-moz-transtion: all 0.3s;
	-o-transtion: all 0.3s;
	-ms-transtion: all 0.3s;
	-webkit-transition: all 0.3s;
}
.buttons{
	margin-top: 15px;
	border-top: 1px solid #dcdcdc;
	padding-top: 15px;
}
.buttons .previous-step{
	float: right;
	background: url('../images/icons.png') no-repeat 8px -124px;
	height: 26px;
	color: #414141;
	padding-right: 23px;
	font-size: 15px;
	border: 0;
	cursor: pointer;
	font-family: 'HacenTunisialt';
	transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-webkit-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	-ms-transition: background ease-in-out .5s;
	line-height: 25px;
	margin-top: 6px;
}
.buttons .previous-step:hover{
	background: url('../images/icons.png') no-repeat 8px -156px;
	color: #40a9e0;
}
.buttons .save-next{
	float: left;
}
.buttons .save-next .save , .step9 .save{
	background: #3aaa35;
	border: 0;
	padding: 3px 30px;
	font-family: 'HacenTunisialt';
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border:2px solid #fff;
	transition:background ease-in-out .5s;
	-moz-transition:background ease-in-out .5s;
	-webkit-transition:background ease-in-out .5s;
	-o-transition:background ease-in-out .5s;
	-ms-transition:background ease-in-out .5s;
}
.buttons .save-next .save:hover , .step9 .save:hover{
	background: url('../images/icons.png') no-repeat 36px -120px;
	border: 0;
	padding: 3px 30px;
	font-family: 'HacenTunisialt';
	color: #3aaa35;
	border:2px solid #3aaa35;
}
.buttons .save-next .next-step{
	background: url('../images/icons.png') no-repeat -80px -62px;
	height: 26px;
	color: #414141;
	padding-left: 23px;
	font-size: 15px;
	border: 0;
	cursor: pointer;
	font-family: 'HacenTunisialt';
	transition:background ease-in-out .5s;
	-moz-transition:background ease-in-out .5s;
	-webkit-transition:background ease-in-out .5s;
	-o-transition:background ease-in-out .5s;
	-ms-transition:background ease-in-out .5s;
}
.buttons .save-next .next-step:hover{
	background: url('../images/icons.png') no-repeat -80px -92px;
	color: #40a9e0;
}
input[type="text"]:focus , input[type="password"]:focus , select:focus , textarea:focus , input[type="url"]:focus , input[type="email"]:focus{
	border:1px solid #56b4ef;
	-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 6px rgba(82,168,236,.6);
	-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 6px rgba(82,168,236,.6);
	-ms-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 6px rgba(82,168,236,.6);
	box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 0 6px rgba(82,168,236,.6);
	outline: none;
}
.blue-title{
	color: #40a9e0;
	font-size: 20px;
	border-bottom: 3px solid #40a9e0;
	padding-bottom: 3px;
	float: right;
	position: relative;
}
.blue-title:after{
	content: "";
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #40a9e0;
	position: absolute;
	bottom: -11px;
	left: 50px;
}
.step2{
	width: 380px;
	margin-top: 55px;
	float: right;
}
.step2 tr td:first-child {
	width: 135px;
}
.small-select{
	width: 60px !important;
	margin-left: 10px;
}
.left-side-form{
	float: left;
	width: 540px;
	margin-top: 40px;
}
.seperator{
	float: right;
}
.user-pic{
	width: 230px;
	height: 230px;
	border:2px solid #40a9e0;
	margin: auto;
	background: #414141;
	display: block;
}
.user-pic img{
	min-width: 230px;
	min-height: 230px;
	max-height: 230px;
	max-width: 230px;
}
.user-pic .settings{
	background: #4aade2 url(../images/icons.png) no-repeat 34px -196px;
	width: 23px;
	height: 23px;
	color: #f8f8f8;
	padding: 5px 30px 5px 20px;
	font-size: 15px;
	position: relative;
	top: -33px;
	right: 5px;
}
.step2{
	border-bottom: 0 !important;
}
hr.sep{
	border: 1px solid #F0F0F0;
	width: 75%;
}
.bottom-form .right-side{
	margin-top: 25px;
	float: right;
	width: 380px;
}
.bottom-form .right-side label{
	width: 135px;
	color: #414141;
	display: inline-block;
}
.bottom-form .right-side .social{
	float: left;
	margin-left: 37px;
}
.bottom-form .right-side .social img{
	top: 11px;
	position: relative;
}
.bottom-form .right-side .social input[type="text"]{
	width: 165px;
}
.bottom-form .left-side{
	float: left;
	width: 540px;
	margin-top: 25px;
}
.bottom-form .left-side .phone-no{
	background: #eaeaea;
	height: 30px;
	width: 310px;
	float: right;
	padding: 9px 4px;
	margin-right: 50px;
	margin-bottom: 5px;
}
.bottom-form .left-side .phone-no label{
	color: #414141;
}
.bottom-form .left-side .phone-no input[type="text"]{
	width: 150px;
}
.bottom-form .left-side .phone-no .small-input{
	width: 60px !important;
}
.bottom-form .left-side .phone-no-delete{
	float: right;
}
.phone-no-delete .delete{
	background: url('../images/icons.png') no-repeat -80px -239px;
	width: 18px;
	height: 21px;
	display: block;
	float: left;
	margin: 13px;
}
.bottom-form .left-side .add-phone{
	background: url('../images/icons.png') no-repeat -77px -272px;
	width: 21px;
	height: 21px;
	display: block;
	margin-right: 60px;
}
.education{
	background: #414141;
	height: 130px;
	padding: 10px;
	margin-top: 20px;
	width: 93%;
	float: right;
}
.step3 .education table{
	width: 100%;
}
.step3 .education label{
	color: #fff;
	margin-left: 10px;
	vertical-align: middle;
}

select{
	color: #959595;
}
.step3 .education textarea{
	height: 40px;
	width: 92%;
	margin-right: -8px;
	margin-top: 35px;
}
.step3 .education-added .delete{
	background: url('../images/icons.png') no-repeat -80px -239px;
	width: 18px;
	height: 21px;
	display: block;
	float: left;
	margin-top: 150px;
}
.step3 .add{
	background: url('../images/icons.png') no-repeat -77px -272px;
	width: 21px;
	height: 21px;
	display: block;
	margin-top: 20px;
}

/* courses */

.courses{
	background: #414141;
	height: 45px;
	padding: 10px;
	margin-top: 20px;
	width: 93%;
	float: right;
}
.step4 .courses table{
	width: 100%;
}
.step4 .courses label{
	color: #fff;
	margin-left: 10px;
	vertical-align: middle;
}

.step4 .courses-added .delete{
	background: url('../images/icons.png') no-repeat -80px -239px;
	width: 18px;
	height: 21px;
	display: block;
	float: left;
	margin-top: 65px;
}
.step4 .add{
	background: url('../images/icons.png') no-repeat -77px -272px;
	width: 21px;
	height: 21px;
	display: block;
	margin-top: 20px;
}
.step4 input[type="text"]{
	height: 26px;
	padding-right: 5px;
	outline: none;
	width: 140px;
	font-family: 'HacenTunisialt';
	border: 1px solid #dcdcdc;
	transition: all 0.3s;
	-moz-transtion: all 0.3s;
	-o-transtion: all 0.3s;
	-ms-transtion: all 0.3s;
	-webkit-transition: all 0.3s;
}
.experince-years{
	margin-top: 20px;
}

/* experience */

.experience{
	background: #414141;
	height: 165px;
	padding: 10px;
	margin-top: 20px;
	width: 93%;
	float: right;
}
.step5 .experience table{
	width: 100%;
}
.step5 .experience table tr td{
	padding-bottom: 15px;
}
.step5 .experience label{
	color: #fff;
	margin-left: 10px;
	vertical-align: middle;
}
.step5 .experience textarea{
	height: 40px;
	width: 92%;
}
.step5 .experience-added .delete{
	background: url('../images/icons.png') no-repeat -80px -239px;
	width: 18px;
	height: 21px;
	display: block;
	float: left;
	margin-top: 184px;
}
.step5 .add{
	background: url('../images/icons.png') no-repeat -77px -272px;
	width: 21px;
	height: 21px;
	display: block;
	margin-top: 20px;
}
.step5 input[type="text"]{
	height: 26px;
	padding-right: 5px;
	outline: none;
	width: 140px;
	font-family: 'HacenTunisialt';
	border: 1px solid #dcdcdc;
	transition: all 0.3s;
	-moz-transtion: all 0.3s;
	-o-transtion: all 0.3s;
	-ms-transtion: all 0.3s;
	-webkit-transition: all 0.3s;
}
.wide-input{
	width: 760px !important;
	margin-right: 11px;
}

/* projects */

.prev-projects{
	background: #414141;
	height: 100px;
	padding: 10px;
	margin-top: 20px;
	width: 93%;
	float: right;
}
.step5 .prev-projects table{
	width: 100%;
}
.step5 .prev-projects label{
	color: #fff;
	margin-left: 10px;
	vertical-align: middle;
}
.step5 .prev-projects table tr td{
	padding-bottom: 15px;
}

.step5 .prev-projects-added .delete{
	background: url('../images/icons.png') no-repeat -80px -239px;
	width: 18px;
	height: 21px;
	display: block;
	float: left;
	margin-top: 119px;
}
.step5 .add{
	background: url('../images/icons.png') no-repeat -77px -272px;
	width: 21px;
	height: 21px;
	display: block;
	margin-top: 20px;
}
.step5 input[type="text"]{
	height: 26px;
	padding-right: 5px;
	outline: none;
	width: 140px;
	font-family: 'HacenTunisialt';
	border: 1px solid #dcdcdc;
	transition: all 0.3s;
	-moz-transtion: all 0.3s;
	-o-transtion: all 0.3s;
	-ms-transtion: all 0.3s;
	-webkit-transition: all 0.3s;
}
.step5 .prev-projects textarea{
	height: 40px;
	width: 92%;
}

/* step 6 */

.personal-activites{
	margin-top: 20px;
}
.personal-activites li{
	float: right;
	width: 25%;
	margin-bottom: 10px;
}
.personal-activites li label{
	color: #414141;
	font-size: 15px;
}
.step6 .languages-added{
	width: 54%;
}
.step6 .languages{
	margin-top: 15px;
}
.step6 .add{
	background: url('../images/icons.png') no-repeat -77px -272px;
	width: 21px;
	height: 21px;
	display: block;
	margin-right: 75px;
}
.step6 .languages-added .delete{
	background: url('../images/icons.png') no-repeat -80px -239px;
	width: 18px;
	height: 21px;
	display: block;
	float: left;
	margin-top: -20px;
}
.step6 .languages label{
	color: #414141;
	font-size: 15px;
	width: 70px;
	display: inline-block;
}
.small-input{
	width: 60px !important;
}
.step8 .themes{
	margin-top: 20px;
}
.step8 .themes > li{
	float: right;
	margin-left: 2%;
	margin-bottom: 25px;
}

.step8 .themes li a img{
	width: 210px;
	height: 228px;
	z-index: -1;
	position: relative;
}
.step8 .themes li a{
	border: 3px solid #40a9e0;
	display: block;
	border-radius: 5px;
	transition:background ease-in-out 0.5s;
	-webkit-transition:background ease-in-out 0.5s;
	-moz-transition:background ease-in-out 0.5s;
	-ms-transition:background ease-in-out 0.5s;
	-o-transition:background ease-in-out 0.5s;
}
.step8 .themes li a:hover{
	background: #40a9e0 url(../images/view-cv.png) no-repeat 50% 50%;
	z-index: 1;
}

.step9 h3{
	font-size: 18px;
	color: #fff;
	background: #40a9e0;
	padding: 10px;
	text-align: center;
	display: table;
	margin: auto;
}
.step9 .download-pdf{
	float: right;
	width: 45%;
	margin-top: 50px;
}
.step9 .download-pdf p.download-it{
	background: #eb462f;
	padding: 10px 50px;
	color: #fff;
	text-align: center;
	display: table;
	margin: auto;
	position: relative;
	margin-top: 50px;
}
.step9 .download-pdf p.download-it a{
	color: #fff;
}
.step9 .download-pdf p.download-it:after{
	content: url(../images/pdf.png) no-repeat;
	position: absolute;
	margin-top: -35px;
	left: -15px;
}
.step9 .download-pdf p.edit-it{
	color: #313131;
	font-size: 15px;
	text-align: center;
	width: 96%;
	margin-top: 10px;
}


.step9 .online-pdf{
	float: left;
	width: 45%;
	margin-top: 50px;
}
.step9 .online-pdf p.link-it{
	background: #4c58ab;
	padding: 10px 50px;
	color: #fff;
	text-align: center;
	display: table;
	margin: auto;
	position: relative;
	margin-top: 50px;
}
.step9 .online-pdf p.link-it a{
	color: #fff;
}
.step9 .online-pdf p.link-it:after{
	content: url(../images/web.png) no-repeat;
	position: absolute;
	margin-top: -35px;
	right: -15px;
}
.step9 .online-pdf p.info{
	color: #313131;
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
}
.step9 .online-pdf .edit-it{
	margin: 15px auto;
	display: table;
}
.step9 .finish-sep{
	margin: 20px;
	display: block;
	float: right;
}
.share-cv{
	background: url(../images/share-cv.png) no-repeat;
	width: 219px;
	height: 224px;
	margin: auto;
}
.share-cv h1{
	margin-top: 75px;
}
.share-cv .social-share{
	clear: both;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: table;
}
.share-cv .social-share li{
	float: left;
	margin-left: 15px;
}
.share-cv .social-share .facebook{
	background: url('../images/icons.png') no-repeat -66px -348px;
	width: 33px;
	height: 32px;
	display: block;
}
.share-cv .social-share .twitter{
	background: url('../images/icons.png') no-repeat -66px -392px;
	width: 33px;
	height: 32px;
	display: block;
}
.share-cv .social-share .gplus{
	background: url('../images/icons.png') no-repeat -65px -440px;
	width: 33px;
	height: 32px;
	display: block;
}
.notifications-approve{
	margin-top: 40px;
}
.notifications-approve span{
	background: #40a9e0;
	font-size: 17px;
	color: #fff;
	padding: 5px 20px;
}
.notifications-approve .notification-text{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #dadada;
}
.notifications-approve .notification-text label{
	font-size: 18px;
	color: #414141;
}
.notifications-approve .notification-text p{
	font-size: 16px;
	color: #676767;
	margin-top: 15px;
	line-height: 22px;
	width: 80%;
}
.notification-text .actions li{
	float: right;
	margin-left: 15px;
}
.notification-text .actions li input[type="submit"]{
	transition:all ease-in-out 0.5s;
	-webkit-transition:all ease-in-out 0.5s;
	-moz-transition:all ease-in-out 0.5s;
	-ms-transition:all ease-in-out 0.5s;
	-o-transition:all ease-in-out 0.5s;
}
.notification-text .actions .refuse{
	background: #ff3f3f;
	border:0;
	padding: 5px 15px;
	font-family: 'HacenTunisialt';
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border:3px solid #ff3f3f;
}
.notification-text .actions .refuse:hover{
	background: #fff;
	color: #ff3f3f;
}
.notification-text .actions .accept{
	background: #f39200;
	border:0;
	padding: 5px 15px;
	font-family: 'HacenTunisialt';
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border:3px solid #f39200;
}
.notification-text .actions .accept:hover{
	background: #fff;
	color: #f39200;
}
.all-notifications{
	margin-top: 30px;
}
.all-notifications .links li{
	float: right;
	margin-left: 15px;
}
.all-notifications .links .ui-state-active a{
	background: #40a9e0;
}
.all-notifications .links a{
	background: #414141;
	padding: 5px 20px;
	color: #fff;
	font-size: 17px;
}
.all-notifications .notifications-content{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #dadada;
}
.all-notifications #new .notifi-content{
	background: #deeff7;
	padding: 15px 5px;
	margin-top: 3px;
}
.all-notifications #new .notifi-content p{
	margin-top: 10px;
	line-height: 20px;
	font-style: 15px;
	color: #414141;
	width: 80%;
}
.all-notifications #new .notifi-content label{
	color: #40a9e0;
	border-right: 5px solid #40a9e0;
	padding-right: 15px;
	margin-left: 15px;
}
.all-notifications #new .notifi-content span{
	color: #40a9e0;
}

.all-notifications #old .notifi-content{
	background: #eeeeee;
	padding: 15px 5px;
	margin-top: 3px;
}
.all-notifications #old .notifi-content p{
	margin-top: 10px;
	line-height: 20px;
	font-style: 15px;
	color: #414141;
	width: 80%;
}
.all-notifications #old .notifi-content label{
	color: #40a9e0;
	border-right: 5px solid #40a9e0;
	padding-right: 15px;
	margin-left: 15px;
}
.all-notifications #old .notifi-content span{
	color: #40a9e0;
}


/* login */

.login-top-area{
	height: 20px;
}
.login-logo{
	margin: auto;
	display: table;
}
.register-login{
	background: url(../images/login-bg.png) no-repeat;
	margin: auto;
	width: 697px;
	height: 329px;
}
.register-login input[type="text"] , .register-login input[type="password"] , .register-login input[type="email"]{
	width: 420px;
	height: 32px;
	border:1px solid #3993c2;
	text-align: center;
	font-size: 18px;
	font-family: 'HacenTunisialt';
	font-weight: normal;
}
.register-login input[type="submit"]{
	background: #414141;
	padding: 5px 55px;
	border:0;
	cursor: pointer;
	color: #fff;
	font-size: 17px;
	font-family: 'HacenTunisialt';
	margin: auto;
	display: table;
	border:3px solid #414141;
	transition:all ease-in-out 0.5s;
	-webkit-transition:all ease-in-out 0.5s;
	-moz-transition:all ease-in-out 0.5s;
	-ms-transition:all ease-in-out 0.5s;
	-o-transition:all ease-in-out 0.5s;
}
.register-login input[type="submit"]:hover{
	background: #fff;
	border:3px solid #414141;
	color: #414141;
}
.login-form , .register-form{
	margin: auto;
	position: relative;
	top: 108px;
}
.register-form{
	top: 30px;
}
.login-form input , .register-form input{
	margin-bottom: 20px;
}
.login-form .login{
	margin-top: 65px !important;
}
.register-form .register{
	margin-top: 35px !important;
}
.login-form a.forget{
	color: #ff0000;
	margin: 10px auto;
	display: table;
}
.login-form a.forget:hover{
	text-decoration: underline;
}
::-webkit-input-placeholder {
   color: #414141;
}

:-moz-placeholder { /* Firefox 18- */
   color: #414141;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #414141;  
}

:-ms-input-placeholder {  
   color: #414141;  
}
/* colors cv */
.cv-colors{
	float: left;
}
.cv-colors li{
	float: left;
	margin: 10px 0px 10px 3px;
	cursor: pointer;
}
.cv-colors .red{
	background: red;
	width: 30px;
	height: 30px;
}
.cv-colors .blue{
	background: blue;
	width: 30px;
	height: 30px;
}
.cv-colors .green{
	background: green;
	width: 30px;
	height: 30px;
}
.cv-colors li div.selected:after{
	content: "âˆڑ";
	color: #fff;
	font-weight: bolder;
	font-size: 20px;
	margin: auto;
	display: table;
	position: relative;
	top: 7px;
}
.user-content .user-data{
	margin-top: 50px;
	display: block;
	padding-bottom: 10px;
	border-bottom:4px solid #40a9e0;
	height: 15px;
}
.user-content .user-data p{
	float: right;
	margin-left: 10%;
	border-right: 5px solid #40a9e0;
	padding-right: 5px;
}
.user-content .user-data a{
	float: left;
}
.user-content .prv-cv{
	margin-top: 15px;
}
.user-content .prv-cv a{
	background: #383b38;
	padding: 10px 20px;
	color: #fff;
	display: inline-block;
}
.user-content .prv-cv p{
	color: #383b38;
	font-size: 15px;
	margin-top: 10px;
}
.user-content .cv-status h3{
	color: #40a9e0;
	font-size: 18px;
	border-bottom: 1px solid #e5e6e5;
	padding-bottom: 10px;
}
.user-content .cv-status .print-allowed{
	color: #009640;
	font-size: 16px;
	margin-top: 10px;
}
.user-content .cv-status .choosen-cv{
	border: 3px solid #40a9e0;
	display: block;
	border-radius: 5px;
	float: right;
}
.cv-pic-actions{
	margin-bottom: 50px;
	display: table;
}
.cv-actions{
	margin-right: 20px;
	float: right;
	border-right: 4px solid #40a9e0;
	padding-right: 15px;

}
.cv-actions ul li p{
	color: #383b38;
	font-size: 16px;
	display: inline-block;
	line-height: 30px;
}
.cv-actions ul li{
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: 2px solid #bebfbe;
}

.cv-actions ul li .facebook{
	background: url('../images/icons.png') no-repeat -166px -448px;
	width: 33px;
	height: 32px;
	display: inline-block;
	top: 10px;
	position: relative;
	margin-right: 10px;
}
.cv-actions ul li .twitter{
	background: url('../images/icons.png') no-repeat -166px -492px;
	width: 33px;
	height: 32px;
	display: inline-block;
	top: 10px;
	position: relative;
	margin-right: 10px;
}
.cv-actions ul li .gplus{
	background: url('../images/icons.png') no-repeat -165px -540px;
	width: 33px;
	height: 32px;
	display: inline-block;
	top: 10px;
	position: relative;
	margin-right: 10px;
}
.cv-actions a.pdf{
	background: url(../images/pdf1.png) no-repeat;
	width: 45px;
	height: 32px;
	display: inline-block;
	position: relative;
	margin-right: 
}
.cv-actions input[type="text"]{
	height: 26px;
	padding-right: 5px;
	outline: none;
	width: 200px;
	font-family: 'HacenTunisialt';
	border:1px solid #dcdcdc;
	transition: all 0.3s;
	-moz-transtion: all 0.3s;
	-o-transtion: all 0.3s;
	-ms-transtion: all 0.3s;
	-webkit-transition: all 0.3s;
}
.cv-actions .edit{
	background: #005da1;
	padding: 0px 15px;
	color: #fff;
	margin: 0 5px;
	border: 2px solid #005da1;
	transition: all 0.3s;
	-moz-transtion: all 0.3s;
	-o-transtion: all 0.3s;
	-ms-transtion: all 0.3s;
	-webkit-transition: all 0.3s;
}
.cv-actions .edit:hover{
	background: #fff;
	color: #005da1;
}
.cv-actions .delete{
	background: #ff4444;
	padding: 0px 15px;
	color: #fff;
	margin: 0 5px;
	border: 2px solid #ff4444;
	transition: all 0.3s;
	-moz-transtion: all 0.3s;
	-o-transtion: all 0.3s;
	-ms-transtion: all 0.3s;
	-webkit-transition: all 0.3s;
}
.cv-actions .delete:hover{
	background: #fff;
	color: #ff4444;
}
.faq .search{
	background: url(../images/search.png) no-repeat;
	width: 198px;
	height: 52px;
	margin: auto;
}
.faq .search input[type="text"]{
	background: transparent;
	width: 130px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border: 0;
	margin-right: 15px;
	font-family: 'HacenTunisialt';
}
.faq .search input[type="submit"]{
	background: url('../images/icons.png') no-repeat -74px -523px;
	width: 29px;
	height: 29px;
	border:0;
	cursor: pointer;
	position: relative;
	top: 10px;
}


.faq .search :-moz-placeholder { /* Firefox 18- */
   color: #fff !important; 
}

.faq .search ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff !important; 
}

.faq .search :-ms-input-placeholder {  
   color: #fff !important; 
}
.faq .search ::-webkit-input-placeholder {
   color: #fff !important;
}
.faq .right-side{
	width: 240px !important;
}
.faq .right-side p{
	color: #414141;
	font-size: 16px;
	text-align: center;
	margin-bottom: 5px;
}
.single-question .question{
	background: url(../images/question-bg.png) no-repeat;
	width: 636px;
	height: 81px;
}
.single-question .question p{
	top: 45px;
	position: relative;
	right: 40px;
	color: #40a9e0;
	font-size: 18px;
}
.single-question p.answer{
	margin-top: 15px;
}
.search-div{
	margin-top: 100px;
}
.pagination{
	margin: 20px auto 0;
	display: table;
}
.pagination li{
	float: right;
	margin-right: 15px;
	padding-left: 10px;
	border-left: 1px solid #414141;
	margin-top: 15px;
}
.pagination li.next , .pagination li.prev{
	background: #40a9e0;
	padding: 12px;
	border:0;
	margin-top: 0;
}
.pagination li.next a , .pagination li.prev a{
	font-weight: bold;
	color: #fff;
}
.pagination li a{
	color: #414141;
	font-size: 14px;
}
.pagination li a:hover{
	color: #40a9e0;
}
.contact-form{
	background: url(../images/login-bg.png) no-repeat;
	height: 329px;
	width: 697px;
	margin-top: 30px;
}
.contact-form img{
	float: left;
	margin: -25px 0 0 25px;
}

/* contact */

.contact-us input[type="text"] , .contact-us input[type="password"] , .contact-us input[type="email"]{
	width: 209px;
	height: 32px;
	border:1px solid #3993c2;
	text-align: center;
	font-size: 18px;
	font-family: 'HacenTunisialt';
	font-weight: normal;
	float: left;
}
.contact-us input[type="submit"]{
	background: #414141;
	padding: 5px 55px;
	border:0;
	cursor: pointer;
	color: #fff;
	font-size: 17px;
	font-family: 'HacenTunisialt';
	margin: 20px auto 0;
	display: table;
	border:3px solid #414141;
	transition:all ease-in-out 0.5s;
	-webkit-transition:all ease-in-out 0.5s;
	-moz-transition:all ease-in-out 0.5s;
	-ms-transition:all ease-in-out 0.5s;
	-o-transition:all ease-in-out 0.5s;
}
.contact-us input[type="submit"]:hover{
	background: #fff;
	border:3px solid #414141;
	color: #414141;
}
.contact-us label{
	color: #414141;
	float: right;
	top: 10px;
	position: relative;
}
.contact-us .c-form{
	margin: 10px 30px 0 0;
	width: 615px;
}
.contact-us .c-form textarea{
	height: 75px;
	width: 88%;
	float: left;
	border:1px solid #3993c2;
}
.contact-us .c-form .subject{
	width: 88%;
}
.full-info .social li{
	float: right;
	margin-left: 20px;
	margin-top: 10px;
}
.full-info .social a{
	display: block;
	width: 35px;
	height: 36px;
	transition:all ease-in-out 0.5s;
	-webkit-transition:all ease-in-out 0.5s;
	-moz-transition:all ease-in-out 0.5s;
	-ms-transition:all ease-in-out 0.5s;
	-o-transition:all ease-in-out 0.5s;
}
.full-info .social a.facebook:hover{
	background: url('../images/icons.png') no-repeat -161px -709px;
}
.full-info .social a.facebook{
	background: url('../images/icons.png') no-repeat -161px -662px;
}
.full-info .social a.twitter:hover{
	background: url('../images/icons.png') no-repeat -104px -710px;
}
.full-info .social a.twitter{
	background: url('../images/icons.png') no-repeat -104px -663px;
}
.full-info .social a.gplus:hover{
	background: url('../images/icons.png') no-repeat -48px -710px;
}
.full-info .social a.gplus{
	background: url('../images/icons.png') no-repeat -48px -663px;
}
.full-info .location{
	background: url('../images/icons.png') no-repeat right -767px;
	height: 20px;
	padding-right: 35px;
	line-height: 22px;
	margin-top: 25px;
	color: #787878;
}
.full-info .phone{
	background: url('../images/icons.png') no-repeat right -806px;
	height: 20px;
	padding-right: 35px;
	line-height: 22px;
	margin-top: 25px;
	color: #787878;
}
.home-page .nav-logo-area{
	height:30px;
}
.home .right-side{
	margin-top: 0;
	width: 40%;
	position: absolute;
	bottom: 45px;
	right: 0;
}
.home-page .page-wrap{
	min-height: 96.3%;
	position: relative;
	width: 1035px;
	margin-right: auto;
	margin-left: auto;
}
.home-page .container{
	width: 1035px;
}
.home-page .logo{
	margin-right: 35%;
}
.home-page .left-side{
	width: 60%;
}
.home-page .left-side h1{
	font-size: 40px;
	text-align: center;
	color: #1f1f1f;
}
.home-page .left-side p{
	font-size: 16px;
	text-align: center;
	color: #707070;
}
.home-page .left-side .points{
	list-style: disc;
	margin-top: 2%;
}
.home-page .left-side .points li{
	width: 40%;
	float: right;
	color: #40a9e0;
	font-size: 18px;
	margin-right: 10%;
	margin-top: 2%;
}

.home-page .left-side .step-result{
	list-style: none;
	margin-top: 5%;
}
.home-page .left-side .step-result li{
	float: right;
	color: #40a9e0;
	font-size: 18px;
	margin-right: 6%;
}
.home-page .left-side .step-result li.arrows{
	margin-top: 3%;
}
.home-page p.support-lang{
	font-size: 30px;
	color: #212121;
	background: url(../images/dad.png) no-repeat right center;
	height: 68px;
	display: table;
	text-align: right;
	padding-right: 80px;
	line-height: 70px;
	margin: 6% auto;
}
.home-page .buttons a{
	display: inline-block;
	color: #fff;
	font-size: 17px;
	width: 180px;
	padding: 8px 0;
	text-align: center;
	margin-right: 3%;
}
.home-page .buttons .login{
	background: #f29200;
	border-bottom: 3px solid #ab6700;
}
.home-page .buttons .fb{
	background: #36589b url(../images/fb.png) no-repeat 95% center;
	border-bottom: 3px solid #1f3258;
}
.home-page .buttons .tw{
	background: #4099ff url(../images/tw.png) no-repeat 97% center;
	border-bottom: 3px solid #2e6eb8;
}