body{font-family: Tahoma, sans-serif;
	 background-color:#FFF;
     direction: ltr;
     }
@page{
            size:portrait ;
   
            sheet-size:A4;
            margin:0;
            margin-left:0; margin-right:0; margin-top:0; margin-bottom:0;
              }
.clr{clear: both;}
.container{margin:0 auto;
           width: 960px;}

.personal {position: absolute;
           left:40px;
           float:left;
           
           
          
          }
.ss{float:left;}
.ff{ border:3px solid #1cbbb4;}
.pic{
   
   float:left;
   margin-top: 50px;
   height: 216px;
   height:150px;
     width:150px;}
.social-bar{height: 77px;
        
          background: white;
          padding-top: 16px;}
.info{float: left;
      width:30px;
      

          }
.infos{float: left;
      width:50px;
      padding-left:-30px;

          }

.inf0 p{font-size: 16px;
        color: #666666;
        }
.name-bar{height: 177px;
          background: #616161;}
.name{float: left;
    margin-left: 257px;
      width: 292px;}
.nation{float: left;
      margin-left: 60px;
      width: 180px;}
.name h1{font-size: 25px;
         color: white;}
.name h3{font-size: 20px;
         color: white;
         padding-top:-13px;
         margin: 0px;}
.address{font-size: 16px;
         font-weight: lighter;
          color: #fff;
          margin: 0px;
          padding-top: 0px;}
.social{height: 44px;
        background: #1cbbb4;}
.social-1{float: right;
          padding-left:0px !important;
          width: 300px;
      
          margin-right: 22px;}
.social-2{float: left;
          padding-left:0px !important;
          width: 150px;
      
          margin-left: 22px;}
.ge{margin-right:-10px;}
.w{margin-left:15px;}
.objective{min-height:149px; }
.title{float: left;
      width:57px;
      margin-top: 13px;
      margin-left: 33px;
      padding-right: 10px;
          }

.ob{font-size: 20px;
    color: #1cbbb4;

    }
.text{font-size: 16px;
      margin-right:-40px !important;
      color: #616161;
    width:680px;
     }
.t{margin-left: 97px;}
.objective p{font-size: 16px;
             color: #464646;
             padding-left:90px;
             padding-right: 0px;
             margin-bottom: 0px;
             margin-top: 0px;}
.dd{margin-left:117px;}
.clr{clear:both;}

.right-side{float:left;
            width:600px;}
.right-2{
            width:600px;}

.rr{padding-left:20px;
  background-position:left;
  float:left;
    margin-left:20px;
    width:130px;
   background-image:url(../../assets/images/ee.png);
    background-repeat:no-repeat;
    }
.r{padding-left:20px;
   margin-left:20px;
  background-position:left;
  float:left;
    width:250px;
     background-image:url(../../assets/images/envelope.png);
    background-repeat:no-repeat;
    }
.social-links{float:right;
               margin-top: -20px;
               width:400px;
         padding-top:-40px;
         }
