body{font-family: 'ubuntu', sans-serif;}
.container{margin: 0 auto;
           width: 960px;}
.name-bar{float:left;}
.containe{margin: 0 auto;
           width: 960px;
          border-bottom: 1px solid #c5c3c3;}
.contai{margin: 0 auto;
padding-bottom:0px;
           width: 960px;
           min-height:140px;
          border-bottom: 1px solid #c5c3c3;}
.conta{margin: 0 auto;
           width: 960px;
		     border-bottom: 1px solid #c5c3c3;
           min-height: 120px;}
.cnta{margin: 0 auto;
		     border-bottom: 1px solid #c5c3c3;

           width: 960px;
           min-height: 90px;}
.cont{margin: 0 auto;
padding-bottom:10px;
           width: 960px;
           min-height: 70px;
          border-bottom: 1px solid #c5c3c3;}
.connt{margin: 0 auto;

           width: 960px;
           min-height: 70px;
          }
.contt{margin: 0 auto;
padding-bottom:10px;
           width: 960px;
           min-height: 90px;
          border-bottom: 1px solid #c5c3c3;}

.con{margin: 0 auto;
           width: 960px;
		   padding-bottom:10px;
           min-height: 200px;
          border-bottom: 1px solid #c5c3c3;}



.contain{margin: 0 auto;
           width: 960px;
           min-height: 200px;

          border-bottom: 1px solid #c5c3c3;}

.fullname{font-size: 22px;
          color: #404041;
          
         margin-top:-20px;
          }
.position {font-size: 17px !important;
           font-weight: lighter;
            color: #404041;
            padding-top: -20px !important;
            }
img{width:100px;
    float: right;
	margin-top:-40px;
    }
p{font-size: 12px;
  color: #404041;
  padding-top:0px;
 
 }
 h2{color: #404041;
 min-height:160px;
    font-size: 13px;
    font-weight: lighter;}
  h3{color: #404041;
  
    margin-bottom: 0px;
     padding-right: 31px;
    font-size: 13px;
    font-weight: lighter;}
  h4{color: #404041;
    margin-top: -15px;
     
    font-size: 13px;
    font-weight: lighter;}
 .col{
 	   margin-top:0px !important;
 	    width: 195px;
		
		margin-bottom:10px !important;
		border-left: 1px solid #c5c3c3;
      min-height: 210px;
      
      padding-left: 10px;
     padding-right: 10px;
      float: left;
	 }
.cole{
 	   margin-top:0px !important;
 	    width: 195px;
		border-left: 1px solid #c5c3c3;
		margin-bottom:20px !important;
		margin-bottom:15px;
      min-height: 210px;
      
      padding-left: 10px;
     padding-right: 10px;
      float: left;
	 }
.coll{
      margin-top: 10px;
      width: 100px;
      min-height: 210px;
      
      padding-left: 10px;
     padding-right: 10px;
      float: left;}
.col-3{
      margin-top: 10px;
      width: 115px;
      min-height: 120px;
     
      padding-left: 10px;
     padding-right: 0px;
      float: left;}

.col33{
      margin-top: 10px;
     
      min-height: 120px;
    
      padding-left: 10px;
     padding-right: 10px;
      float: left;}

.col-6{      margin-top: 10px;
      width: 115px;
      min-height: 70px;
      
      padding-left: 10px;
     padding-right: 0px;
      float: left;}
.col-66{      margin-top: 10px;
      width: 115px;
      min-height: 70px;
      
      padding-left: 10px;
     
      float: left;}
.col-7{
      margin-top: 10px;
      width:125px;
      min-height: 70px;
      
      padding-left: 10px;
     padding-right: 0px;
      float: left;}
.col-8{
      margin-top: 10px;
      width: 100px;
      min-height: 70px;
      
      padding-left: 10px;
      padding-right:15px;
      float: left;}
 .col-2{
     
  
      margin-bottom:10px;
      border-left: 1px solid #c5c3c3;
      padding-left: 10px;
     padding-right: 10px;
      float: left;}
	  .col-12{
     
  border-left: 1px solid #c5c3c3;
      
      width:500px;
      padding-left: 10px;
     padding-right: 10px;
      float: left;}
 .col-4{

      width: 522px;
      
      
      padding-left: 10px;
     padding-right: 10px;
      float: left;}
	 
.col-0{
      margin-top: 10px;
      
      
      padding-left: 10px;
     padding-right: 10px;
      float: left;}
.col-5{
       width: 782px;
      margin-top: 10px;
      margin-left: 120px;
      min-height: 80px;
      border-left: 1px solid #c5c3c3;
      padding-left: 10px;
     padding-right: 10px;
      }



h1{color: #404041;
   margin-bottom: 3px; 
   font-size: 13px;}
.nation{color: #404041;
        padding-left:5px;
        font-size: 11px;
        font-weight: lighter;}
.diploma{color: #404041;
         
        font-size: 13px;
        padding-left: 15px;
        font-weight: lighter;}
.notes{margin-left: -20px;
		float:left;
		
		 margin-top:0px;
		
		width:100px;}
.notes li{display:inline;
          list-style:disc;
		  

         }
.one{ border-left: 1px solid #c5c3c3;
      min-height:40px;
	    width: 522px;
      
      
      padding-left: 10px;
     padding-right: 10px;
	  margin-bottom:10px;}
.two{ border-left: 1px solid #c5c3c3;
      min-height:60px;
	    width: 522px;
      
      
      padding-left: 10px;
     padding-right: 10px;
	  margin-bottom:10px;}
.three{ border-left: 1px solid #c5c3c3;
      min-height:80px;
	    width: 522px;
      
      
      padding-left: 10px;
     padding-right: 10px;
	  margin-bottom:10px;}
.four{ border-left: 1px solid #c5c3c3;
      min-height:45px;
	    width: 522px;
      
      
      padding-left: 10px;
     padding-right: 10px;
	  margin-bottom:10px;}
.five{ border-left: 1px solid #c5c3c3;
      min-height:65px;
	    width: 522px;
      
      
      padding-left: 10px;
     padding-right: 10px;
	  margin-bottom:10px;}
.nots{margin-left: -20px;
      
      padding-bottom:10px !important;
	  margin-top:0px;
	  margin-bottom:0px;}
.nots li{display:list-item;}
.note ul {padding-top:0px;
	      float:left;
		  
	    width:400px;
      }
.note ul li{
         width:30%;
	margin-left:500px;
		 float:left;}

.note:first{margin-left:0px !important;}
/*.not {margin-left:100px;
      float: left;
	  width:100px;
      }*/

