/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
Created on : May 24, 2014, 3:14:04 PM
Author     : DELL
*/
/* line 22, ../sass/style_pink.scss */
body {
  font-family: "Ubuntu Condensed";
  line-height: 1;
  font-size: 18px;
}

/* line 27, ../sass/style_pink.scss */
h4 {
  font-size: 1.1rem;
}

/* line 30, ../sass/style_pink.scss */
.full-width {
  width: 100%;
}

/* line 33, ../sass/style_pink.scss */
.social-wrapper {
  background-color: #363636;
  width: 100%;
  text-align: center;
}

/* line 39, ../sass/style_pink.scss */
.social-icons {
  /*width:25%;*/
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /*vertical-align: middle;*/
  *display: inline;
  /* IE7 */
  *zoom: 1;
}

/* line 51, ../sass/style_pink.scss */
.offset {
  width: 30%;
}

/* line 55, ../sass/style_pink.scss */
#fb-icon, #g-icon, #t-icon {
  float: left;
  margin: 10px;
  text-align: center;
  color: #363636;
  background-color: #f222a1;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 3px transparent;
}

/* line 67, ../sass/style_pink.scss */
#fb-icon i, #g-icon i, #t-icon i {
  margin-top: 10px;
}

/* line 70, ../sass/style_pink.scss */
#fb-icon:hover, #g-icon:hover, #t-icon:hover {
  background-color: #fff;
  border: solid 3px #f222a1;
  color: #f222a1;
}

/* line 78, ../sass/style_pink.scss */
.cv-head {
  clear: both;
  background-color: #f222a1;
  height: auto;
  overflow: hidden;
}

/* line 84, ../sass/style_pink.scss */
.img-container {
  /*width:220px;*/
  float: left;
  width: 17%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 95, ../sass/style_pink.scss */
.img-container img {
  width: 100%;
  display: block;
  border: #fff dashed 2px;
  padding: 1%;
  border-radius: 54%;
}

/* line 103, ../sass/style_pink.scss */
.name-wrapper {
  width: 50%;
  float: left;
  margin-left: 30px;
}

/* line 108, ../sass/style_pink.scss */
.name-wrapper h1 {
  font-weight: lighter;
  color: #fff;
  margin-top: 100px;
  font-size: 4rem;
}

/* line 114, ../sass/style_pink.scss */
.name-wrapper h2 {
  font-size: 30px;
  color: #ebebeb;
}

/* line 119, ../sass/style_pink.scss */
.contact-info {
  width: 22%;
  float: left;
  color: #fff;
  border-left: 2px dashed #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 1rem;
}

/* line 131, ../sass/style_pink.scss */
.contact-info h3 {
  font-size: 1rem;
  line-height: 1%;
}

/* line 135, ../sass/style_pink.scss */
.contact-row {
  margin-bottom: 30px;
}

/* line 138, ../sass/style_pink.scss */
.contact-row span {
  display: block;
}

/* line 141, ../sass/style_pink.scss */
.cv-content {
  overflow: auto;
  padding: 4%;
}

/*==============================================================
tabs css
===============================================================*/
/* line 148, ../sass/style_pink.scss */
.tab-head {
  width: 17%;
}

/* line 151, ../sass/style_pink.scss */
.tab-head li {
  border: transparent 2px solid;
  background-color: #f222a1;
  margin-bottom: 5px !important;
  color: #fff;
  font-size: 1rem;
  word-wrap: break-word;
}

/* line 160, ../sass/style_pink.scss */
h2.resp-accordion {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: transparent 2px solid;
  background-color: #f222a1;
  margin-bottom: 5px !important;
  color: #fff;
  padding: 14px;
}

/* line 170, ../sass/style_pink.scss */
.tab-head li:hover, h2.resp-accordion:hover {
  background-color: #363636 !important;
  color: #f222a1;
}

/* line 174, ../sass/style_pink.scss */
.resp-tab-active {
  border: dashed 2px #f222a1 !important;
  background-color: #fff !important;
  color: #f222a1 !important;
}

/* line 180, ../sass/style_pink.scss */
.resp-tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 500px;
  /*overflow: auto;*/
  border: dashed 2px #f222a1 !important;
  margin-left: 1%;
  padding: 2%;
}

/* line 189, ../sass/style_pink.scss */
.resp-tab-content-active h3 {
  color: #f222a1;
  font-size: 18px;
  display: inline-block;
  padding-left: 10px;
  border-left: solid #363636 5px;
}

/* line 197, ../sass/style_pink.scss */
.resp-tab-content-active span {
  display: inline-block;
  color: #363636;
}

/*======================================
personal info specific content 
=========================================*/
/* line 205, ../sass/style_pink.scss */
.p-info-row {
  width: 100%;
}

/* line 208, ../sass/style_pink.scss */
.p-info-row h3 {
  margin: 0 0 20px 0;
}

/* line 211, ../sass/style_pink.scss */
.p-info-row span {
  color: #363636;
}

/*======================================
education , courses
========================================*/
/* line 217, ../sass/style_pink.scss */
.edu-row {
  margin-bottom: 50px;
}

/* line 220, ../sass/style_pink.scss */
.edu-head {
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

/* line 227, ../sass/style_pink.scss */
.edu-desc {
  margin-left: 30px;
}

/* line 230, ../sass/style_pink.scss */
.edu-desc h3 {
  font-weight: lighter;
}

/*==========================================
experience
============================================*/
/* line 236, ../sass/style_pink.scss */
.exp-row {
  margin-bottom: 50px;
}

/* line 239, ../sass/style_pink.scss */
.exp-head h2 {
  color: #f222a1;
  text-transform: uppercase;
  margin: 0;
}

/* line 244, ../sass/style_pink.scss */
.exp-head h2 span {
  display: inline-block;
  margin-left: 40px;
}

/* line 249, ../sass/style_pink.scss */
.date, .lang-row h4, .skills h4, .ref-row h4, .reccom-row h4 {
  border-left: #f222a1 solid 5px;
  padding-left: 10px;
}

/* line 253, ../sass/style_pink.scss */
.exp-desc {
  margin-left: 20px;
}

/* line 256, ../sass/style_pink.scss */
.exp-desc ul {
  list-style: none;
}

/* line 259, ../sass/style_pink.scss */
.exp-desc ul li:before {
  content: "-";
  position: relative;
  margin-left: -10px;
  /* optional, for multiline li element */
  left: -5px;
}

/*=================================
languages & qualifications
===================================*/
/* line 268, ../sass/style_pink.scss */
.lang-row h4 {
  margin: 0;
}

/* line 272, ../sass/style_pink.scss */
.lang-row span {
  display: block;
  margin: 20px;
  border-left: #363636 5px solid;
  padding-left: 10px;
  color: #f222a1;
}

/* line 279, ../sass/style_pink.scss */
.lang-row {
  margin-bottom: 40px;
}

/*===============================
skills
=================================*/
/* line 285, ../sass/style_pink.scss */
.skills h4 {
  margin-top: 0;
}

/*==================================
reference
====================================*/
/* line 292, ../sass/style_pink.scss */
.ref-row span {
  display: block;
  line-height: 150%;
}

/* line 296, ../sass/style_pink.scss */
.ref-row h4 {
  margin-top: 0;
}

/* line 300, ../sass/style_pink.scss */
.email, .recom-text {
  border-left: #363636 solid 5px;
  padding-left: 10px;
}

/* line 304, ../sass/style_pink.scss */
.ref-desc {
  margin-left: 20px;
}

/* line 307, ../sass/style_pink.scss */
.phone {
  padding-left: 15px;
}

/*===================================
Recomendations
=====================================*/
/* line 313, ../sass/style_pink.scss */
.reccom-row h4 {
  margin-bottom: 5px;
}

/* line 318, ../sass/style_pink.scss */
.reccom-row h4 > span {
  display: inline-block;
  margin-left: 15%;
}

/* line 322, ../sass/style_pink.scss */
.recom-pos {
  color: #f222a1 !important;
  margin-bottom: 10px;
  padding-left: 15px;
}

/* line 327, ../sass/style_pink.scss */
.recom-text {
  line-height: 150%;
  color: #f222a1 !important;
  margin-left: 30px;
  margin-bottom: 20px;
}

/* line 334, ../sass/style_pink.scss */
.btn-wrapper {
  border-bottom: 1px #f222a1 solid;
  position: relative;
  margin-top: 50px;
}

/* line 339, ../sass/style_pink.scss */
.btn {
  background-color: #f222a1;
  padding: 5px;
  color: #fff;
  position: absolute;
  right: 0;
  top: -28px;
  cursor: pointer;
  cursor: hand;
}

/* line 348, ../sass/style_pink.scss */
#form-wrapper {
  display: none;
}

/* line 351, ../sass/style_pink.scss */
.recom-form input {
  height: 30px;
  width: 60%;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 359, ../sass/style_pink.scss */
.recom-form textarea {
  width: 60%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 365, ../sass/style_pink.scss */
.recom-form .btn-submit {
  border: none;
  background-color: #f222a1;
  width: 40%;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 10px;
  height: 30px;
  color: #fff;
}

/* line 375, ../sass/style_pink.scss */
.error_message {
  display: block;
  width: 59.4%;
  background: #f222a1;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
  color: #363636;
}

/* line 385, ../sass/style_pink.scss */
.error_message:after {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: 5px;
  border-top: #f222a1 solid 5px;
  border-left: transparent solid 5px;
  border-right: transparent solid 5px;
}

/* line 394, ../sass/style_pink.scss */
.form-success {
  width: 59.4%;
  display: block;
  background-color: #f222a1;
  color: #f222a1;
  padding: 10px;
  margin-bottom: 5px;
}

/* line 402, ../sass/style_pink.scss */
#form-wrapper {
  padding-top: 20px;
}

/*=====================================
footer
========================================*/
/* line 410, ../sass/style_pink.scss */
.footer {
  width: 100%;
  background-color: #f222a1;
  text-align: center;
  color: #ebebeb;
  border-bottom: #363636 5px solid;
  height: 35px;
  padding-top: 15px;
}

/*================================================
tabs media query
==================================================*/
@media only screen and (max-width: 1024px) and (min-width: 767px) {
  /* line 423, ../sass/style_pink.scss */
  .contact-info {
    margin-left: 25.5%;
  }

  /* line 426, ../sass/style_pink.scss */
  .resp-vtabs .resp-tab-content {
    min-height: 560px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  /* line 431, ../sass/style_pink.scss */
  .social-icons {
    display: inline-block;
    vertical-align: middle;
  }

  /* line 435, ../sass/style_pink.scss */
  .cv-head {
    width: 100%;
  }

  /* line 439, ../sass/style_pink.scss */
  .img-container {
    clear: both;
    width: 100%;
    margin-left: 0;
  }

  /* line 445, ../sass/style_pink.scss */
  .img-container img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 452, ../sass/style_pink.scss */
  .name-wrapper {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  /* line 457, ../sass/style_pink.scss */
  .name-wrapper h1 {
    font-size: 4rem;
    line-height: 100%;
    margin: 0;
  }

  /* line 462, ../sass/style_pink.scss */
  .name-wrapper h2 {
    font-size: 2rem;
    margin: 0;
  }

  /* line 466, ../sass/style_pink.scss */
  .contact-info {
    width: 100%;
    border: none;
    font-size: 1rem;
    margin-left: 0;
    text-align: center;
    padding: 0;
  }

  /* line 474, ../sass/style_pink.scss */
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
    width: 100%;
  }

  /* line 479, ../sass/style_pink.scss */
  .recom-form input {
    width: 97.5%;
  }

  /* line 484, ../sass/style_pink.scss */
  .recom-form textarea {
    width: 98%;
  }

  /* line 487, ../sass/style_pink.scss */
  .recom-form .btn-submit {
    width: 50%;
    margin-left: auto;
    margin-left: auto;
  }

  /* line 492, ../sass/style_pink.scss */
  .error_message {
    width: 96.5%;
  }

  /* line 496, ../sass/style_pink.scss */
  .reccom-row h4 > span {
    margin-left: 50%;
  }

  /* line 501, ../sass/style_pink.scss */
  .form-success {
    width: 96.5%;
  }
}
/*================================================
mobile media query
==================================================*/
@media only screen and (max-width: 480px) {
  /* line 511, ../sass/style_pink.scss */
  .social-icons {
    display: inline-block;
    vertical-align: middle;
    width: 18%;
  }

  /* line 516, ../sass/style_pink.scss */
  .cv-head {
    width: 100%;
  }

  /* line 521, ../sass/style_pink.scss */
  .img-container {
    clear: both;
    width: 100%;
    margin-left: 0;
  }

  /* line 527, ../sass/style_pink.scss */
  .img-container img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 534, ../sass/style_pink.scss */
  .name-wrapper {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  /* line 539, ../sass/style_pink.scss */
  .name-wrapper h1 {
    font-size: 4rem;
    line-height: 100%;
    margin: 0;
    padding-right: 1%;
    padding-left: 1%;
    text-align: center;
  }

  /* line 547, ../sass/style_pink.scss */
  .name-wrapper h2 {
    font-size: 2rem;
    padding-right: 1%;
    padding-left: 1%;
    text-align: center;
  }

  /* line 553, ../sass/style_pink.scss */
  .contact-info {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    font-size: 1rem;
  }

  /* line 562, ../sass/style_pink.scss */
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
    width: 100%;
  }

  /* line 567, ../sass/style_pink.scss */
  .recom-form input {
    width: 94.15%;
  }

  /* line 572, ../sass/style_pink.scss */
  .recom-form textarea {
    width: 95%;
  }

  /* line 575, ../sass/style_pink.scss */
  .recom-form .btn-submit {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 581, ../sass/style_pink.scss */
  .error_message {
    width: 92%;
  }

  /* line 585, ../sass/style_pink.scss */
  .reccom-row h4 > span {
    margin-left: 50%;
  }

  /* line 590, ../sass/style_pink.scss */
  .form-success {
    width: 92%;
  }
}
