/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2014, 2:30:32 PM
    Author     : DELL
*/
/* line 22, ../sass/rtl_pink.scss */
html {
  direction: rtl;
}

/* line 25, ../sass/rtl_pink.scss */
body {
  font-family: "Ubuntu Condensed";
  line-height: 1;
  font-size: 18px;
  direction: rtl;
}

/* line 31, ../sass/rtl_pink.scss */
h4 {
  font-size: 1.1rem;
}

/* line 34, ../sass/rtl_pink.scss */
.full-width {
  width: 100%;
}

/* line 37, ../sass/rtl_pink.scss */
.social-wrapper {
  background-color: #363636;
  width: 100%;
  text-align: center;
}

/* line 43, ../sass/rtl_pink.scss */
.social-icons {
  /*width:25%;*/
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /*vertical-align: middle;*/
  *display: inline;
  /* IE7 */
  *zoom: 1;
}

/* line 55, ../sass/rtl_pink.scss */
.offset {
  width: 30%;
}

/* line 59, ../sass/rtl_pink.scss */
#fb-icon, #g-icon, #t-icon {
  float: left;
  margin: 10px;
  text-align: center;
  color: #363636;
  background-color: #f222a1;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 3px transparent;
}

/* line 71, ../sass/rtl_pink.scss */
#fb-icon i, #g-icon i, #t-icon i {
  margin-top: 10px;
}

/* line 74, ../sass/rtl_pink.scss */
#fb-icon:hover, #g-icon:hover, #t-icon:hover {
  background-color: #fff;
  border: solid 3px #f222a1;
  color: #f222a1;
}

/* line 82, ../sass/rtl_pink.scss */
.cv-head {
  clear: both;
  background-color: #f222a1;
  height: auto;
  overflow: hidden;
}

/* line 88, ../sass/rtl_pink.scss */
.img-container {
  /*width:220px;*/
  float: right;
  width: 17%;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 99, ../sass/rtl_pink.scss */
.img-container img {
  width: 100%;
  display: block;
  border: #fff dashed 2px;
  padding: 1%;
  border-radius: 54%;
}

/* line 107, ../sass/rtl_pink.scss */
.name-wrapper {
  width: 50%;
  float: right;
  margin-right: 30px;
}

/* line 112, ../sass/rtl_pink.scss */
.name-wrapper h1 {
  font-weight: lighter;
  color: #fff;
  margin-top: 100px;
  font-size: 4rem;
}

/* line 118, ../sass/rtl_pink.scss */
.name-wrapper h2 {
  font-size: 30px;
  color: #ebebeb;
}

/* line 123, ../sass/rtl_pink.scss */
.contact-info {
  width: 22%;
  float: right;
  color: #fff;
  border-right: 2px dashed #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 1rem;
}

/* line 135, ../sass/rtl_pink.scss */
.contact-info h3 {
  font-size: 1rem;
  line-height: 1%;
}

/* line 139, ../sass/rtl_pink.scss */
.contact-row {
  margin-bottom: 30px;
}

/* line 142, ../sass/rtl_pink.scss */
.contact-row span {
  display: block;
}

/* line 145, ../sass/rtl_pink.scss */
.cv-content {
  overflow: auto;
  padding: 4%;
}

/*==============================================================
tabs css
===============================================================*/
/* line 152, ../sass/rtl_pink.scss */
.tab-head {
  width: 17%;
}

/* line 155, ../sass/rtl_pink.scss */
.tab-head li {
  border: transparent 2px solid;
  background-color: #f222a1;
  margin-bottom: 5px !important;
  color: #fff;
  font-size: 1rem;
  word-wrap: break-word;
}

/* line 164, ../sass/rtl_pink.scss */
h2.resp-accordion {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: transparent 2px solid;
  background-color: #f222a1;
  margin-bottom: 5px !important;
  color: #fff;
  padding: 14px;
}

/* line 174, ../sass/rtl_pink.scss */
.tab-head li:hover, h2.resp-accordion:hover {
  background-color: #363636 !important;
  color: #f222a1;
}

/* line 178, ../sass/rtl_pink.scss */
.resp-tab-active {
  border: dashed 2px #f222a1 !important;
  background-color: #fff !important;
  color: #f222a1 !important;
}

/* line 184, ../sass/rtl_pink.scss */
.resp-tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 500px;
  /*overflow: auto;*/
  border: dashed 2px #f222a1 !important;
  margin-right: 1%;
  padding: 2%;
}

/* line 195, ../sass/rtl_pink.scss */
.resp-tab-content-active h3 {
  color: #f222a1;
  font-size: 18px;
  display: inline-block;
  padding-right: 10px;
  border-right: solid #363636 5px;
}

/* line 203, ../sass/rtl_pink.scss */
.resp-tab-content-active span {
  display: inline-block;
  color: #363636;
}

/*======================================
personal info specific content 
=========================================*/
/* line 211, ../sass/rtl_pink.scss */
.p-info-row {
  width: 100%;
}

/* line 214, ../sass/rtl_pink.scss */
.p-info-row h3 {
  margin: 0 0 20px 0;
}

/* line 217, ../sass/rtl_pink.scss */
.p-info-row span {
  color: #363636;
}

/*======================================
education , courses
========================================*/
/* line 223, ../sass/rtl_pink.scss */
.edu-row {
  margin-bottom: 50px;
}

/* line 226, ../sass/rtl_pink.scss */
.edu-head {
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

/* line 233, ../sass/rtl_pink.scss */
.edu-desc {
  margin-right: 30px;
}

/* line 236, ../sass/rtl_pink.scss */
.edu-desc h3 {
  font-weight: lighter;
}

/*==========================================
experience
============================================*/
/* line 242, ../sass/rtl_pink.scss */
.exp-row {
  margin-bottom: 50px;
}

/* line 245, ../sass/rtl_pink.scss */
.exp-head h2 {
  color: #f222a1;
  text-transform: uppercase;
  margin: 0;
}

/* line 250, ../sass/rtl_pink.scss */
.exp-head h2 span {
  display: inline-block;
  margin-right: 40px;
}

/* line 255, ../sass/rtl_pink.scss */
.date, .lang-row h4, .skills h4, .ref-row h4, .reccom-row h4 {
  border-right: #f222a1 solid 5px;
  padding-right: 10px;
}

/* line 259, ../sass/rtl_pink.scss */
.exp-desc {
  margin-right: 20px;
}

/* line 262, ../sass/rtl_pink.scss */
.exp-desc ul {
  list-style: none;
}

/* line 265, ../sass/rtl_pink.scss */
.exp-desc ul li:before {
  content: "-";
  position: relative;
  margin-right: -10px;
  /* optional, for multiline li element */
  right: -5px;
}

/*=================================
languages & qualifications
===================================*/
/* line 274, ../sass/rtl_pink.scss */
.lang-row h4 {
  margin: 0;
}

/* line 278, ../sass/rtl_pink.scss */
.lang-row span {
  display: block;
  margin: 20px;
  border-right: #363636 5px solid;
  padding-right: 10px;
  color: #f222a1;
}

/* line 285, ../sass/rtl_pink.scss */
.lang-row {
  margin-bottom: 40px;
}

/*===============================
skills
=================================*/
/* line 291, ../sass/rtl_pink.scss */
.skills h4 {
  margin-top: 0;
}

/*==================================
reference
====================================*/
/* line 298, ../sass/rtl_pink.scss */
.ref-row span {
  display: block;
  line-height: 150%;
}

/* line 302, ../sass/rtl_pink.scss */
.ref-row h4 {
  margin-top: 0;
}

/* line 306, ../sass/rtl_pink.scss */
.email, .recom-text {
  border-right: #363636 solid 5px;
  padding-right: 10px;
}

/* line 310, ../sass/rtl_pink.scss */
.ref-desc {
  margin-right: 20px;
}

/* line 313, ../sass/rtl_pink.scss */
.phone {
  padding-right: 15px;
}

/*===================================
Recomendations
=====================================*/
/* line 319, ../sass/rtl_pink.scss */
.reccom-row h4 {
  margin-bottom: 5px;
}

/* line 324, ../sass/rtl_pink.scss */
.reccom-row h4 > span {
  display: inline-block;
  margin-right: 15%;
}

/* line 328, ../sass/rtl_pink.scss */
.recom-pos {
  color: #f222a1 !important;
  margin-bottom: 10px;
  padding-right: 15px;
}

/* line 333, ../sass/rtl_pink.scss */
.recom-text {
  line-height: 150%;
  color: #f222a1 !important;
  margin-right: 30px;
  margin-bottom: 20px;
}

/* line 340, ../sass/rtl_pink.scss */
.btn-wrapper {
  border-bottom: 1px #f222a1 solid;
  position: relative;
  margin-top: 50px;
}

/* line 345, ../sass/rtl_pink.scss */
.btn {
  background-color: #f222a1;
  padding: 5px;
  color: #fff;
  position: absolute;
  left: 0;
  top: -28px;
  cursor: pointer;
  cursor: hand;
}

/* line 354, ../sass/rtl_pink.scss */
#form-wrapper {
  display: none;
}

/* line 357, ../sass/rtl_pink.scss */
.recom-form input {
  height: 30px;
  width: 60%;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 365, ../sass/rtl_pink.scss */
.recom-form textarea {
  width: 60%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 371, ../sass/rtl_pink.scss */
.recom-form .btn-submit {
  border: none;
  background-color: #f222a1;
  width: 40%;
  margin-right: 10%;
  margin-left: auto;
  margin-top: 10px;
  height: 30px;
  color: #fff;
}

/* line 381, ../sass/rtl_pink.scss */
.error_message {
  display: block;
  width: 59.4%;
  background: #f222a1;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
  color: #363636;
}

/* line 391, ../sass/rtl_pink.scss */
.error_message:after {
  content: " ";
  position: absolute;
  bottom: -5px;
  right: 5px;
  border-top: #f222a1 solid 5px;
  border-left: transparent solid 5px;
  border-right: transparent solid 5px;
}

/* line 400, ../sass/rtl_pink.scss */
.form-success {
  width: 59.4%;
  display: block;
  background-color: #f222a1;
  color: #f222a1;
  padding: 10px;
  margin-bottom: 5px;
}

/* line 408, ../sass/rtl_pink.scss */
#form-wrapper {
  padding-top: 20px;
}

/*=====================================
footer
========================================*/
/* line 416, ../sass/rtl_pink.scss */
.footer {
  width: 100%;
  background-color: #f222a1;
  text-align: center;
  color: #ebebeb;
  border-bottom: #363636 5px solid;
  height: 35px;
  padding-top: 15px;
}

/*================================================
tabs media query
==================================================*/
@media only screen and (max-width: 1024px) and (min-width: 767px) {
  /* line 429, ../sass/rtl_pink.scss */
  .contact-info {
    margin-right: 25.5%;
  }

  /* line 432, ../sass/rtl_pink.scss */
  .resp-vtabs .resp-tab-content {
    min-height: 560px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  /* line 437, ../sass/rtl_pink.scss */
  .social-icons {
    display: inline-block;
    vertical-align: middle;
  }

  /* line 441, ../sass/rtl_pink.scss */
  .cv-head {
    width: 100%;
  }

  /* line 445, ../sass/rtl_pink.scss */
  .img-container {
    clear: both;
    width: 100%;
    margin-right: 0;
  }

  /* line 451, ../sass/rtl_pink.scss */
  .img-container img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 458, ../sass/rtl_pink.scss */
  .name-wrapper {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  /* line 463, ../sass/rtl_pink.scss */
  .name-wrapper h1 {
    font-size: 4rem;
    line-height: 100%;
    margin: 0;
  }

  /* line 468, ../sass/rtl_pink.scss */
  .name-wrapper h2 {
    font-size: 2rem;
    margin: 0;
  }

  /* line 472, ../sass/rtl_pink.scss */
  .contact-info {
    width: 100%;
    border: none;
    font-size: 1rem;
    margin-right: 0;
    text-align: center;
    padding: 0;
  }

  /* line 480, ../sass/rtl_pink.scss */
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
    width: 100%;
  }

  /* line 485, ../sass/rtl_pink.scss */
  .recom-form input {
    width: 97.5%;
  }

  /* line 490, ../sass/rtl_pink.scss */
  .recom-form textarea {
    width: 98%;
  }

  /* line 493, ../sass/rtl_pink.scss */
  .recom-form .btn-submit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 498, ../sass/rtl_pink.scss */
  .error_message {
    width: 96.5%;
  }

  /* line 502, ../sass/rtl_pink.scss */
  .reccom-row h4 > span {
    margin-right: 50%;
  }

  /* line 507, ../sass/rtl_pink.scss */
  .form-success {
    width: 96.5%;
  }
}
/*================================================
mobile media query
==================================================*/
@media only screen and (max-width: 480px) {
  /* line 516, ../sass/rtl_pink.scss */
  .social-icons {
    display: inline-block;
    vertical-align: middle;
    width: 18%;
  }

  /* line 521, ../sass/rtl_pink.scss */
  .cv-head {
    width: 100%;
  }

  /* line 526, ../sass/rtl_pink.scss */
  .img-container {
    clear: both;
    width: 100%;
    margin-right: 0;
  }

  /* line 532, ../sass/rtl_pink.scss */
  .img-container img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 539, ../sass/rtl_pink.scss */
  .name-wrapper {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  /* line 544, ../sass/rtl_pink.scss */
  .name-wrapper h1 {
    font-size: 4rem;
    line-height: 100%;
    margin: 0;
    padding-right: 1%;
    padding-right: 1%;
    text-align: center;
  }

  /* line 552, ../sass/rtl_pink.scss */
  .name-wrapper h2 {
    font-size: 2rem;
    padding-right: 1%;
    padding-right: 1%;
    text-align: center;
  }

  /* line 558, ../sass/rtl_pink.scss */
  .contact-info {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    font-size: 1rem;
  }

  /* line 567, ../sass/rtl_pink.scss */
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
    width: 100%;
  }

  /* line 572, ../sass/rtl_pink.scss */
  .recom-form input {
    width: 94.15%;
  }

  /* line 577, ../sass/rtl_pink.scss */
  .recom-form textarea {
    width: 95%;
  }

  /* line 580, ../sass/rtl_pink.scss */
  .recom-form .btn-submit {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 586, ../sass/rtl_pink.scss */
  .error_message {
    width: 92%;
  }

  /* line 590, ../sass/rtl_pink.scss */
  .reccom-row h4 > span {
    margin-right: 50%;
  }

  /* line 595, ../sass/rtl_pink.scss */
  .form-success {
    width: 92%;
  }
}
