/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
Created on : May 24, 2014, 3:14:04 PM
Author     : DELL
*/
/* line 21, ../sass/style.scss */
body {
  font-family: "Ubuntu Condensed";
  line-height: 1;
  font-size: 18px;
}

/* line 26, ../sass/style.scss */
h4 {
  font-size: 1.1rem;
}

/* line 29, ../sass/style.scss */
.full-width {
  width: 100%;
}

/* line 32, ../sass/style.scss */
.social-wrapper {
  background-color: #ffde5a;
  width: 100%;
  text-align: center;
}

/* line 38, ../sass/style.scss */
.social-icons {
  /*width:25%;*/
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /*vertical-align: middle;*/
  *display: inline;
  /* IE7 */
  *zoom: 1;
}

/* line 50, ../sass/style.scss */
.offset {
  width: 30%;
}

/* line 54, ../sass/style.scss */
#fb-icon, #g-icon, #t-icon {
  float: left;
  margin: 10px;
  text-align: center;
  color: #ffde5a;
  background-color: #00a99d;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 3px transparent;
}

/* line 66, ../sass/style.scss */
#fb-icon i, #g-icon i, #t-icon i {
  margin-top: 10px;
}

/* line 69, ../sass/style.scss */
#fb-icon:hover, #g-icon:hover, #t-icon:hover {
  background-color: #fff;
  border: solid 3px #00a99d;
  color: #00a99d;
}

/* line 77, ../sass/style.scss */
.cv-head {
  clear: both;
  background-color: #00a99d;
  height: auto;
  overflow: hidden;
}

/* line 83, ../sass/style.scss */
.img-container {
  /*width:220px;*/
  float: left;
  width: 17%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 94, ../sass/style.scss */
.img-container img {
  width: 100%;
  display: block;
  border: #00736b dashed 2px;
  padding: 1%;
  border-radius: 54%;
}

/* line 102, ../sass/style.scss */
.name-wrapper {
  width: 50%;
  float: left;
  margin-left: 30px;
}

/* line 107, ../sass/style.scss */
.name-wrapper h1 {
  font-weight: lighter;
  color: #fff;
  margin-top: 100px;
  font-size: 4rem;
}

/* line 113, ../sass/style.scss */
.name-wrapper h2 {
  font-size: 30px;
  color: #ebebeb;
}

/* line 118, ../sass/style.scss */
.contact-info {
  width: 22%;
  float: left;
  color: #005c55;
  border-left: 2px dashed #005c55;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 1rem;
}

/* line 130, ../sass/style.scss */
.contact-info h3 {
  font-size: 1rem;
  line-height: 1%;
}

/* line 134, ../sass/style.scss */
.contact-row {
  margin-bottom: 30px;
}

/* line 137, ../sass/style.scss */
.contact-row span {
  display: block;
}

/* line 140, ../sass/style.scss */
.cv-content {
  overflow: auto;
  padding: 4%;
}

/*==============================================================
tabs css
===============================================================*/
/* line 147, ../sass/style.scss */
.tab-head {
  width: 17%;
}

/* line 150, ../sass/style.scss */
.tab-head li {
  border: transparent 2px solid;
  background-color: #00a99d;
  margin-bottom: 5px !important;
  color: #ebebeb;
  font-size: 1rem;
  word-wrap: break-word;
}

/* line 159, ../sass/style.scss */
h2.resp-accordion {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: transparent 2px solid;
  background-color: #00a99d;
  margin-bottom: 5px !important;
  color: #ebebeb;
  padding: 14px;
}

/* line 169, ../sass/style.scss */
.tab-head li:hover, h2.resp-accordion:hover {
  background-color: #ffde5a !important;
  color: #00a99d;
}

/* line 173, ../sass/style.scss */
.resp-tab-active {
  border: dashed 2px #00a99d !important;
  background-color: #fff !important;
  color: #00a99d !important;
}

/* line 179, ../sass/style.scss */
.resp-tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 500px;
  /*overflow: auto;*/
  border: dashed 2px #00a99d !important;
  margin-left: 1%;
  padding: 2%;
}

/* line 188, ../sass/style.scss */
.resp-tab-content-active h3 {
  color: #00a99d;
  font-size: 18px;
  display: inline-block;
  padding-left: 10px;
  border-left: solid #ffde5a 5px;
}

/* line 196, ../sass/style.scss */
.resp-tab-content-active span {
  display: inline-block;
  color: #404041;
}

/*======================================
personal info specific content 
=========================================*/
/* line 204, ../sass/style.scss */
.p-info-row {
  width: 100%;
}

/* line 207, ../sass/style.scss */
.p-info-row h3 {
  margin: 0 0 20px 0;
}

/*======================================
education , courses
========================================*/
/* line 213, ../sass/style.scss */
.edu-row {
  margin-bottom: 50px;
}

/* line 216, ../sass/style.scss */
.edu-head {
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

/* line 223, ../sass/style.scss */
.edu-desc {
  margin-left: 30px;
}

/* line 226, ../sass/style.scss */
.edu-desc h3 {
  font-weight: lighter;
}

/*==========================================
experience
============================================*/
/* line 232, ../sass/style.scss */
.exp-row {
  margin-bottom: 50px;
}

/* line 235, ../sass/style.scss */
.exp-head h2 {
  color: #00a99d;
  text-transform: uppercase;
  margin: 0;
}

/* line 240, ../sass/style.scss */
.exp-head h2 span {
  display: inline-block;
  margin-left: 40px;
}

/* line 245, ../sass/style.scss */
.date, .lang-row h4, .skills h4, .ref-row h4, .reccom-row h4 {
  border-left: #00a99d solid 5px;
  padding-left: 10px;
}

/* line 249, ../sass/style.scss */
.exp-desc {
  margin-left: 20px;
}

/* line 252, ../sass/style.scss */
.exp-desc ul {
  list-style: none;
}

/* line 255, ../sass/style.scss */
.exp-desc ul li:before {
  content: "-";
  position: relative;
  margin-left: -10px;
  /* optional, for multiline li element */
  left: -5px;
}

/*=================================
languages & qualifications
===================================*/
/* line 264, ../sass/style.scss */
.lang-row h4 {
  margin: 0;
}

/* line 268, ../sass/style.scss */
.lang-row span {
  display: block;
  margin: 20px;
  border-left: #ffde5a 5px solid;
  padding-left: 10px;
  color: #00a99d;
}

/* line 275, ../sass/style.scss */
.lang-row {
  margin-bottom: 40px;
}

/*===============================
skills
=================================*/
/* line 281, ../sass/style.scss */
.skills h4 {
  margin-top: 0;
}

/*==================================
reference
====================================*/
/* line 288, ../sass/style.scss */
.ref-row span {
  display: block;
  line-height: 150%;
}

/* line 292, ../sass/style.scss */
.ref-row h4 {
  margin-top: 0;
}

/* line 296, ../sass/style.scss */
.email, .recom-text {
  border-left: #ffde5a solid 5px;
  padding-left: 10px;
}

/* line 300, ../sass/style.scss */
.ref-desc {
  margin-left: 20px;
}

/* line 303, ../sass/style.scss */
.phone {
  padding-left: 15px;
}

/*===================================
Recomendations
=====================================*/
/* line 309, ../sass/style.scss */
.reccom-row h4 {
  margin-bottom: 5px;
}

/* line 314, ../sass/style.scss */
.reccom-row h4 > span {
  display: inline-block;
  margin-left: 15%;
}

/* line 318, ../sass/style.scss */
.recom-pos {
  color: #00a99d !important;
  margin-bottom: 10px;
  padding-left: 15px;
}

/* line 323, ../sass/style.scss */
.recom-text {
  line-height: 150%;
  color: #00a99d !important;
  margin-left: 30px;
  margin-bottom: 20px;
}

/* line 330, ../sass/style.scss */
.btn-wrapper {
  border-bottom: 1px #00a99d solid;
  position: relative;
  margin-top: 50px;
}

/* line 335, ../sass/style.scss */
.btn {
  background-color: #00a99d;
  padding: 5px;
  color: #ebebeb;
  position: absolute;
  right: 0;
  top: -28px;
  cursor: pointer;
  cursor: hand;
}

/* line 344, ../sass/style.scss */
#form-wrapper {
  display: none;
}

/* line 347, ../sass/style.scss */
.recom-form input {
  height: 30px;
  width: 60%;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 355, ../sass/style.scss */
.recom-form textarea {
  width: 60%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 361, ../sass/style.scss */
.recom-form .btn-submit {
  border: none;
  background-color: #00a99d;
  width: 40%;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 10px;
  height: 30px;
  color: #ebebeb;
}

/* line 371, ../sass/style.scss */
.error_message {
  display: block;
  width: 59.4%;
  background: #ebebeb;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
  color: #404041;
}

/* line 381, ../sass/style.scss */
.error_message:after {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: 5px;
  border-top: #ebebeb solid 5px;
  border-left: transparent solid 5px;
  border-right: transparent solid 5px;
}

/* line 390, ../sass/style.scss */
.form-success {
  width: 59.4%;
  display: block;
  background-color: #00a99d;
  color: #ebebeb;
  padding: 10px;
  margin-bottom: 5px;
}

/*=====================================
footer
========================================*/
/* line 403, ../sass/style.scss */
.footer {
  width: 100%;
  background-color: #00a99d;
  text-align: center;
  color: #ebebeb;
  border-bottom: #ffde5a 5px solid;
  height: 35px;
  padding-top: 15px;
}

/*================================================
tabs media query
==================================================*/
@media only screen and (max-width: 1024px) and (min-width: 767px) {
  /* line 416, ../sass/style.scss */
  .contact-info {
    margin-left: 25.5%;
  }

  /* line 419, ../sass/style.scss */
  .resp-vtabs .resp-tab-content {
    min-height: 560px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  /* line 424, ../sass/style.scss */
  .social-icons {
    display: inline-block;
    vertical-align: middle;
  }

  /* line 428, ../sass/style.scss */
  .cv-head {
    width: 100%;
  }

  /* line 432, ../sass/style.scss */
  .img-container {
    clear: both;
    width: 100%;
    margin-left: 0;
  }

  /* line 438, ../sass/style.scss */
  .img-container img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 445, ../sass/style.scss */
  .name-wrapper {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  /* line 450, ../sass/style.scss */
  .name-wrapper h1 {
    font-size: 4rem;
    line-height: 100%;
    margin: 0;
  }

  /* line 455, ../sass/style.scss */
  .name-wrapper h2 {
    font-size: 2rem;
    margin: 0;
  }

  /* line 459, ../sass/style.scss */
  .contact-info {
    width: 100%;
    border: none;
    font-size: 1rem;
    margin-left: 0;
    text-align: center;
    padding: 0;
  }

  /* line 467, ../sass/style.scss */
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
    width: 100%;
  }

  /* line 472, ../sass/style.scss */
  .recom-form input {
    width: 97.5%;
  }

  /* line 477, ../sass/style.scss */
  .recom-form textarea {
    width: 98%;
  }

  /* line 480, ../sass/style.scss */
  .recom-form .btn-submit {
    width: 50%;
    margin-left: auto;
    margin-left: auto;
  }

  /* line 485, ../sass/style.scss */
  .error_message {
    width: 96.5%;
  }

  /* line 489, ../sass/style.scss */
  .reccom-row h4 > span {
    margin-left: 50%;
  }

  /* line 494, ../sass/style.scss */
  .form-success {
    width: 96.5%;
  }
}
/*================================================
mobile media query
==================================================*/
@media only screen and (max-width: 480px) {
  /* line 504, ../sass/style.scss */
  .social-icons {
    display: inline-block;
    vertical-align: middle;
    width: 18%;
  }

  /* line 509, ../sass/style.scss */
  .cv-head {
    width: 100%;
  }

  /* line 514, ../sass/style.scss */
  .img-container {
    clear: both;
    width: 100%;
    margin-left: 0;
  }

  /* line 520, ../sass/style.scss */
  .img-container img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 527, ../sass/style.scss */
  .name-wrapper {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  /* line 532, ../sass/style.scss */
  .name-wrapper h1 {
    font-size: 4rem;
    line-height: 100%;
    margin: 0;
    padding-right: 1%;
    padding-left: 1%;
    text-align: center;
  }

  /* line 540, ../sass/style.scss */
  .name-wrapper h2 {
    font-size: 2rem;
    padding-right: 1%;
    padding-left: 1%;
    text-align: center;
  }

  /* line 546, ../sass/style.scss */
  .contact-info {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    font-size: 1rem;
  }

  /* line 555, ../sass/style.scss */
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
    width: 100%;
  }

  /* line 560, ../sass/style.scss */
  .recom-form input {
    width: 94.15%;
  }

  /* line 565, ../sass/style.scss */
  .recom-form textarea {
    width: 95%;
  }

  /* line 568, ../sass/style.scss */
  .recom-form .btn-submit {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 574, ../sass/style.scss */
  .error_message {
    width: 92%;
  }

  /* line 578, ../sass/style.scss */
  .reccom-row h4 > span {
    margin-left: 50%;
  }

  /* line 583, ../sass/style.scss */
  .form-success {
    width: 92%;
  }
}
