/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2014, 2:30:32 PM
    Author     : DELL
*/
/* line 21, ../sass/rtl_black.scss */
html {
  direction: rtl;
}

/* line 24, ../sass/rtl_black.scss */
body {
  font-family: "Ubuntu Condensed";
  line-height: 1;
  font-size: 18px;
  direction: rtl;
}

/* line 30, ../sass/rtl_black.scss */
h4 {
  font-size: 1.1rem;
}

/* line 33, ../sass/rtl_black.scss */
.full-width {
  width: 100%;
}

/* line 36, ../sass/rtl_black.scss */
.social-wrapper {
  background-color: #636363;
  width: 100%;
  text-align: center;
}

/* line 42, ../sass/rtl_black.scss */
.social-icons {
  /*width:25%;*/
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /*vertical-align: middle;*/
  *display: inline;
  /* IE7 */
  *zoom: 1;
}

/* line 54, ../sass/rtl_black.scss */
.offset {
  width: 30%;
}

/* line 58, ../sass/rtl_black.scss */
#fb-icon, #g-icon, #t-icon {
  float: left;
  margin: 10px;
  text-align: center;
  color: #636363;
  background-color: #363636;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 3px transparent;
}

/* line 70, ../sass/rtl_black.scss */
#fb-icon i, #g-icon i, #t-icon i {
  margin-top: 10px;
}

/* line 73, ../sass/rtl_black.scss */
#fb-icon:hover, #g-icon:hover, #t-icon:hover {
  background-color: #fff;
  border: solid 3px #363636;
  color: #363636;
}

/* line 81, ../sass/rtl_black.scss */
.cv-head {
  clear: both;
  background-color: #363636;
  height: auto;
  overflow: hidden;
}

/* line 87, ../sass/rtl_black.scss */
.img-container {
  /*width:220px;*/
  float: right;
  width: 17%;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 98, ../sass/rtl_black.scss */
.img-container img {
  width: 100%;
  display: block;
  border: #00736b dashed 2px;
  padding: 1%;
  border-radius: 54%;
}

/* line 106, ../sass/rtl_black.scss */
.name-wrapper {
  width: 50%;
  float: right;
  margin-right: 30px;
}

/* line 111, ../sass/rtl_black.scss */
.name-wrapper h1 {
  font-weight: lighter;
  color: #fff;
  margin-top: 100px;
  font-size: 4rem;
}

/* line 117, ../sass/rtl_black.scss */
.name-wrapper h2 {
  font-size: 30px;
  color: white;
}

/* line 122, ../sass/rtl_black.scss */
.contact-info {
  width: 22%;
  float: right;
  color: white;
  border-right: 2px dashed white;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 1rem;
}

/* line 134, ../sass/rtl_black.scss */
.contact-info h3 {
  font-size: 1rem;
  line-height: 1%;
}

/* line 138, ../sass/rtl_black.scss */
.contact-row {
  margin-bottom: 30px;
}

/* line 141, ../sass/rtl_black.scss */
.contact-row span {
  display: block;
}

/* line 144, ../sass/rtl_black.scss */
.cv-content {
  overflow: auto;
  padding: 4%;
}

/*==============================================================
tabs css
===============================================================*/
/* line 151, ../sass/rtl_black.scss */
.tab-head {
  width: 17%;
}

/* line 154, ../sass/rtl_black.scss */
.tab-head li {
  border: transparent 2px solid;
  background-color: #363636;
  margin-bottom: 5px !important;
  color: white;
  font-size: 1rem;
  word-wrap: break-word;
}

/* line 163, ../sass/rtl_black.scss */
h2.resp-accordion {
  border: transparent 2px solid;
  background-color: #363636;
  margin-bottom: 5px !important;
  color: white;
  padding: 14px;
}

/* line 172, ../sass/rtl_black.scss */
.tab-head li:hover, h2.resp-accordion:hover {
  background-color: #636363 !important;
  color: #363636;
}

/* line 176, ../sass/rtl_black.scss */
.resp-tab-active {
  border: dashed 2px #363636 !important;
  background-color: #fff !important;
  color: #363636 !important;
}

/* line 182, ../sass/rtl_black.scss */
.resp-tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 500px;
  /*overflow: auto;*/
  border: dashed 2px #363636 !important;
  margin-right: 1%;
  padding: 2%;
}

/* line 193, ../sass/rtl_black.scss */
.resp-tab-content-active h3 {
  color: #363636;
  font-size: 18px;
  display: inline-block;
  padding-right: 10px;
  border-right: solid #636363 5px;
}

/* line 201, ../sass/rtl_black.scss */
.resp-tab-content-active span {
  display: inline-block;
  color: #636363;
}

/*======================================
personal info specific content 
=========================================*/
/* line 209, ../sass/rtl_black.scss */
.p-info-row {
  width: 100%;
}

/* line 212, ../sass/rtl_black.scss */
.p-info-row h3 {
  margin: 0 0 20px 0;
}

/*======================================
education , courses
========================================*/
/* line 218, ../sass/rtl_black.scss */
.edu-row {
  margin-bottom: 50px;
}

/* line 221, ../sass/rtl_black.scss */
.edu-head {
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

/* line 228, ../sass/rtl_black.scss */
.edu-desc {
  margin-right: 30px;
}

/* line 231, ../sass/rtl_black.scss */
.edu-desc h3 {
  font-weight: lighter;
}

/*==========================================
experience
============================================*/
/* line 237, ../sass/rtl_black.scss */
.exp-row {
  margin-bottom: 50px;
}

/* line 240, ../sass/rtl_black.scss */
.exp-head h2 {
  color: #363636;
  text-transform: uppercase;
  margin: 0;
}

/* line 245, ../sass/rtl_black.scss */
.exp-head h2 span {
  display: inline-block;
  margin-right: 40px;
}

/* line 250, ../sass/rtl_black.scss */
.date, .lang-row h4, .skills h4, .ref-row h4, .reccom-row h4 {
  border-right: #363636 solid 5px;
  padding-right: 10px;
}

/* line 254, ../sass/rtl_black.scss */
.exp-desc {
  margin-right: 20px;
}

/* line 257, ../sass/rtl_black.scss */
.exp-desc ul {
  list-style: none;
}

/* line 260, ../sass/rtl_black.scss */
.exp-desc ul li:before {
  content: "-";
  position: relative;
  margin-right: -10px;
  /* optional, for multiline li element */
  right: -5px;
}

/*=================================
languages & qualifications
===================================*/
/* line 269, ../sass/rtl_black.scss */
.lang-row h4 {
  margin: 0;
}

/* line 273, ../sass/rtl_black.scss */
.lang-row span {
  display: block;
  margin: 20px;
  border-right: #636363 5px solid;
  padding-right: 10px;
  color: #363636;
}

/* line 280, ../sass/rtl_black.scss */
.lang-row {
  margin-bottom: 40px;
}

/*===============================
skills
=================================*/
/* line 286, ../sass/rtl_black.scss */
.skills h4 {
  margin-top: 0;
}

/*==================================
reference
====================================*/
/* line 293, ../sass/rtl_black.scss */
.ref-row span {
  display: block;
  line-height: 150%;
}

/* line 297, ../sass/rtl_black.scss */
.ref-row h4 {
  margin-top: 0;
}

/* line 301, ../sass/rtl_black.scss */
.email, .recom-text {
  border-right: #636363 solid 5px;
  padding-right: 10px;
}

/* line 305, ../sass/rtl_black.scss */
.ref-desc {
  margin-right: 20px;
}

/* line 308, ../sass/rtl_black.scss */
.phone {
  padding-right: 15px;
}

/*===================================
Recomendations
=====================================*/
/* line 314, ../sass/rtl_black.scss */
.reccom-row h4 {
  margin-bottom: 5px;
}

/* line 319, ../sass/rtl_black.scss */
.reccom-row h4 > span {
  display: inline-block;
  margin-right: 15%;
}

/* line 323, ../sass/rtl_black.scss */
.recom-pos {
  color: #363636 !important;
  margin-bottom: 10px;
  padding-right: 15px;
}

/* line 328, ../sass/rtl_black.scss */
.recom-text {
  line-height: 150%;
  color: #363636 !important;
  margin-right: 30px;
  margin-bottom: 20px;
}

/* line 335, ../sass/rtl_black.scss */
.btn-wrapper {
  border-bottom: 1px #363636 solid;
  position: relative;
  margin-top: 50px;
}

/* line 340, ../sass/rtl_black.scss */
.btn {
  background-color: #363636;
  padding: 5px;
  color: white;
  position: absolute;
  left: 0;
  top: -28px;
  cursor: pointer;
  cursor: hand;
}

/* line 349, ../sass/rtl_black.scss */
#form-wrapper {
  display: none;
}

/* line 352, ../sass/rtl_black.scss */
.recom-form input {
  height: 30px;
  width: 60%;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 360, ../sass/rtl_black.scss */
.recom-form textarea {
  width: 60%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 366, ../sass/rtl_black.scss */
.recom-form .btn-submit {
  border: none;
  background-color: #363636;
  width: 40%;
  margin-right: 10%;
  margin-left: auto;
  margin-top: 10px;
  height: 30px;
  color: white !important;
}

/* line 377, ../sass/rtl_black.scss */
.error_message {
  display: block;
  width: 59.4%;
  background: #636363;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
  color: white !important;
}

/* line 387, ../sass/rtl_black.scss */
.error_message:after {
  content: " ";
  position: absolute;
  bottom: -5px;
  right: 5px;
  border-top: #636363 solid 5px;
  border-left: transparent solid 5px;
  border-right: transparent solid 5px;
}

/* line 396, ../sass/rtl_black.scss */
.form-success {
  width: 59.4%;
  display: block;
  background-color: #363636;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
}

/* line 404, ../sass/rtl_black.scss */
#form-wrapper {
  padding-top: 20px;
}

/*=====================================
footer
========================================*/
/* line 413, ../sass/rtl_black.scss */
.footer {
  width: 100%;
  background-color: #363636;
  text-align: center;
  color: white;
  border-bottom: #636363 5px solid;
  height: 35px;
  padding-top: 15px;
}

/*================================================
tabs media query
==================================================*/
@media only screen and (max-width: 1024px) and (min-width: 767px) {
  /* line 426, ../sass/rtl_black.scss */
  .contact-info {
    margin-right: 25.5%;
  }

  /* line 429, ../sass/rtl_black.scss */
  .resp-vtabs .resp-tab-content {
    min-height: 560px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  /* line 434, ../sass/rtl_black.scss */
  .social-icons {
    display: inline-block;
    vertical-align: middle;
  }

  /* line 438, ../sass/rtl_black.scss */
  .cv-head {
    width: 100%;
  }

  /* line 442, ../sass/rtl_black.scss */
  .img-container {
    clear: both;
    width: 100%;
    margin-right: 0;
  }

  /* line 448, ../sass/rtl_black.scss */
  .img-container img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 455, ../sass/rtl_black.scss */
  .name-wrapper {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  /* line 460, ../sass/rtl_black.scss */
  .name-wrapper h1 {
    font-size: 4rem;
    line-height: 100%;
    margin: 0;
  }

  /* line 465, ../sass/rtl_black.scss */
  .name-wrapper h2 {
    font-size: 2rem;
    margin: 0;
  }

  /* line 469, ../sass/rtl_black.scss */
  .contact-info {
    width: 100%;
    border: none;
    font-size: 1rem;
    margin-right: 0;
    text-align: center;
    padding: 0;
  }

  /* line 477, ../sass/rtl_black.scss */
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
    width: 100%;
  }

  /* line 482, ../sass/rtl_black.scss */
  .recom-form input {
    width: 97.5%;
  }

  /* line 487, ../sass/rtl_black.scss */
  .recom-form textarea {
    width: 98%;
  }

  /* line 490, ../sass/rtl_black.scss */
  .recom-form .btn-submit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 495, ../sass/rtl_black.scss */
  .error_message {
    width: 96.5%;
  }

  /* line 499, ../sass/rtl_black.scss */
  .reccom-row h4 > span {
    margin-right: 50%;
  }

  /* line 504, ../sass/rtl_black.scss */
  .form-success {
    width: 96.5%;
  }
}
/*================================================
mobile media query
==================================================*/
@media only screen and (max-width: 480px) {
  /* line 513, ../sass/rtl_black.scss */
  .social-icons {
    display: inline-block;
    vertical-align: middle;
    width: 18%;
  }

  /* line 518, ../sass/rtl_black.scss */
  .cv-head {
    width: 100%;
  }

  /* line 523, ../sass/rtl_black.scss */
  .img-container {
    clear: both;
    width: 100%;
    margin-right: 0;
  }

  /* line 529, ../sass/rtl_black.scss */
  .img-container img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 536, ../sass/rtl_black.scss */
  .name-wrapper {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  /* line 541, ../sass/rtl_black.scss */
  .name-wrapper h1 {
    font-size: 4rem;
    line-height: 100%;
    margin: 0;
    padding-right: 1%;
    padding-right: 1%;
    text-align: center;
  }

  /* line 549, ../sass/rtl_black.scss */
  .name-wrapper h2 {
    font-size: 2rem;
    padding-right: 1%;
    padding-right: 1%;
    text-align: center;
  }

  /* line 555, ../sass/rtl_black.scss */
  .contact-info {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    font-size: 1rem;
  }

  /* line 564, ../sass/rtl_black.scss */
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
    width: 100%;
  }

  /* line 569, ../sass/rtl_black.scss */
  .recom-form input {
    width: 94.15%;
  }

  /* line 574, ../sass/rtl_black.scss */
  .recom-form textarea {
    width: 95%;
  }

  /* line 577, ../sass/rtl_black.scss */
  .recom-form .btn-submit {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 583, ../sass/rtl_black.scss */
  .error_message {
    width: 92%;
  }

  /* line 587, ../sass/rtl_black.scss */
  .reccom-row h4 > span {
    margin-right: 50%;
  }

  /* line 592, ../sass/rtl_black.scss */
  .form-success {
    width: 92%;
  }
}
