/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2014, 2:30:32 PM
    Author     : DELL
*/
/* line 21, ../sass/rtl.scss */
html {
  direction: rtl;
}

/* line 24, ../sass/rtl.scss */
body {
  font-family: "Ubuntu Condensed";
  line-height: 1;
  font-size: 18px;
  direction: rtl;
}

/* line 30, ../sass/rtl.scss */
h4 {
  font-size: 1.1rem;
}

/* line 33, ../sass/rtl.scss */
.full-width {
  width: 100%;
}

/* line 36, ../sass/rtl.scss */
.social-wrapper {
  background-color: #ffde5a;
  width: 100%;
  text-align: center;
}

/* line 42, ../sass/rtl.scss */
.social-icons {
  /*width:25%;*/
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /*vertical-align: middle;*/
  *display: inline;
  /* IE7 */
  *zoom: 1;
}

/* line 54, ../sass/rtl.scss */
.offset {
  width: 30%;
}

/* line 58, ../sass/rtl.scss */
#fb-icon, #g-icon, #t-icon {
  float: left;
  margin: 10px;
  text-align: center;
  color: #ffde5a;
  background-color: #00a99d;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 3px transparent;
}

/* line 70, ../sass/rtl.scss */
#fb-icon i, #g-icon i, #t-icon i {
  margin-top: 10px;
}

/* line 73, ../sass/rtl.scss */
#fb-icon:hover, #g-icon:hover, #t-icon:hover {
  background-color: #fff;
  border: solid 3px #00a99d;
  color: #00a99d;
}

/* line 81, ../sass/rtl.scss */
.cv-head {
  clear: both;
  background-color: #00a99d;
  height: auto;
  overflow: hidden;
}

/* line 87, ../sass/rtl.scss */
.img-container {
  /*width:220px;*/
  float: right;
  width: 17%;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 98, ../sass/rtl.scss */
.img-container img {
  width: 100%;
  display: block;
  border: #00736b dashed 2px;
  padding: 1%;
  border-radius: 54%;
}

/* line 106, ../sass/rtl.scss */
.name-wrapper {
  width: 50%;
  float: right;
  margin-right: 30px;
}

/* line 111, ../sass/rtl.scss */
.name-wrapper h1 {
  font-weight: lighter;
  color: #fff;
  margin-top: 100px;
  font-size: 4rem;
}

/* line 117, ../sass/rtl.scss */
.name-wrapper h2 {
  font-size: 30px;
  color: #ebebeb;
}

/* line 122, ../sass/rtl.scss */
.contact-info {
  width: 22%;
  float: right;
  color: #005c55;
  border-right: 2px dashed #005c55;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 1rem;
}

/* line 134, ../sass/rtl.scss */
.contact-info h3 {
  font-size: 1rem;
  line-height: 1%;
}

/* line 138, ../sass/rtl.scss */
.contact-row {
  margin-bottom: 30px;
}

/* line 141, ../sass/rtl.scss */
.contact-row span {
  display: block;
}

/* line 144, ../sass/rtl.scss */
.cv-content {
  overflow: auto;
  padding: 4%;
}

/*==============================================================
tabs css
===============================================================*/
/* line 151, ../sass/rtl.scss */
.tab-head {
  width: 17%;
}

/* line 154, ../sass/rtl.scss */
.tab-head li {
  border: transparent 2px solid;
  background-color: #00a99d;
  margin-bottom: 5px !important;
  color: #ebebeb;
  font-size: 1rem;
  word-wrap: break-word;
}

/* line 163, ../sass/rtl.scss */
h2.resp-accordion {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: transparent 2px solid;
  background-color: #00a99d;
  margin-bottom: 5px !important;
  color: #ebebeb;
  padding: 14px;
}

/* line 173, ../sass/rtl.scss */
.tab-head li:hover, h2.resp-accordion:hover {
  background-color: #ffde5a !important;
  color: #00a99d;
}

/* line 177, ../sass/rtl.scss */
.resp-tab-active {
  border: dashed 2px #00a99d !important;
  background-color: #fff !important;
  color: #00a99d !important;
}

/* line 183, ../sass/rtl.scss */
.resp-tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 500px;
  /*overflow: auto;*/
  border: dashed 2px #00a99d !important;
  margin-right: 1%;
  padding: 2%;
}

/* line 194, ../sass/rtl.scss */
.resp-tab-content-active h3 {
  color: #00a99d;
  font-size: 18px;
  display: inline-block;
  padding-right: 10px;
  border-right: solid #ffde5a 5px;
}

/* line 202, ../sass/rtl.scss */
.resp-tab-content-active span {
  display: inline-block;
  color: #404041;
}

/*======================================
personal info specific content 
=========================================*/
/* line 210, ../sass/rtl.scss */
.p-info-row {
  width: 100%;
}

/* line 213, ../sass/rtl.scss */
.p-info-row h3 {
  margin: 0 0 20px 0;
}

/*======================================
education , courses
========================================*/
/* line 219, ../sass/rtl.scss */
.edu-row {
  margin-bottom: 50px;
}

/* line 222, ../sass/rtl.scss */
.edu-head {
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

/* line 229, ../sass/rtl.scss */
.edu-desc {
  margin-right: 30px;
}

/* line 232, ../sass/rtl.scss */
.edu-desc h3 {
  font-weight: lighter;
}

/*==========================================
experience
============================================*/
/* line 238, ../sass/rtl.scss */
.exp-row {
  margin-bottom: 50px;
}

/* line 241, ../sass/rtl.scss */
.exp-head h2 {
  color: #00a99d;
  text-transform: uppercase;
  margin: 0;
}

/* line 246, ../sass/rtl.scss */
.exp-head h2 span {
  display: inline-block;
  margin-right: 40px;
}

/* line 251, ../sass/rtl.scss */
.date, .lang-row h4, .skills h4, .ref-row h4, .reccom-row h4 {
  border-right: #00a99d solid 5px;
  padding-right: 10px;
}

/* line 255, ../sass/rtl.scss */
.exp-desc {
  margin-right: 20px;
}

/* line 258, ../sass/rtl.scss */
.exp-desc ul {
  list-style: none;
}

/* line 261, ../sass/rtl.scss */
.exp-desc ul li:before {
  content: "-";
  position: relative;
  margin-right: -10px;
  /* optional, for multiline li element */
  right: -5px;
}

/*=================================
languages & qualifications
===================================*/
/* line 270, ../sass/rtl.scss */
.lang-row h4 {
  margin: 0;
}

/* line 274, ../sass/rtl.scss */
.lang-row span {
  display: block;
  margin: 20px;
  border-right: #ffde5a 5px solid;
  padding-right: 10px;
  color: #00a99d;
}

/* line 281, ../sass/rtl.scss */
.lang-row {
  margin-bottom: 40px;
}

/*===============================
skills
=================================*/
/* line 287, ../sass/rtl.scss */
.skills h4 {
  margin-top: 0;
}

/*==================================
reference
====================================*/
/* line 294, ../sass/rtl.scss */
.ref-row span {
  display: block;
  line-height: 150%;
}

/* line 298, ../sass/rtl.scss */
.ref-row h4 {
  margin-top: 0;
}

/* line 302, ../sass/rtl.scss */
.email, .recom-text {
  border-right: #ffde5a solid 5px;
  padding-right: 10px;
}

/* line 306, ../sass/rtl.scss */
.ref-desc {
  margin-right: 20px;
}

/* line 309, ../sass/rtl.scss */
.phone {
  padding-right: 15px;
}

/*===================================
Recomendations
=====================================*/
/* line 315, ../sass/rtl.scss */
.reccom-row h4 {
  margin-bottom: 5px;
}

/* line 320, ../sass/rtl.scss */
.reccom-row h4 > span {
  display: inline-block;
  margin-right: 15%;
}

/* line 324, ../sass/rtl.scss */
.recom-pos {
  color: #00a99d !important;
  margin-bottom: 10px;
  padding-right: 15px;
}

/* line 329, ../sass/rtl.scss */
.recom-text {
  line-height: 150%;
  color: #00a99d !important;
  margin-right: 30px;
  margin-bottom: 20px;
}

/* line 336, ../sass/rtl.scss */
.btn-wrapper {
  border-bottom: 1px #00a99d solid;
  position: relative;
  margin-top: 50px;
}

/* line 341, ../sass/rtl.scss */
.btn {
  background-color: #00a99d;
  padding: 5px;
  color: #ebebeb;
  position: absolute;
  left: 0;
  top: -28px;
  cursor: pointer;
  cursor: hand;
}

/* line 350, ../sass/rtl.scss */
#form-wrapper {
  display: none;
}

/* line 353, ../sass/rtl.scss */
.recom-form input {
  height: 30px;
  width: 60%;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 361, ../sass/rtl.scss */
.recom-form textarea {
  width: 60%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 367, ../sass/rtl.scss */
.recom-form .btn-submit {
  border: none;
  background-color: #00a99d;
  width: 40%;
  margin-right: 10%;
  margin-left: auto;
  margin-top: 10px;
  height: 30px;
  color: #ebebeb;
}

/* line 377, ../sass/rtl.scss */
.error_message {
  display: block;
  width: 59.4%;
  background: #ebebeb;
  padding: 10px;
  margin-bottom: 5px;
  position: relative;
  color: #404041;
}

/* line 387, ../sass/rtl.scss */
.error_message:after {
  content: " ";
  position: absolute;
  bottom: -5px;
  right: 5px;
  border-top: #ebebeb solid 5px;
  border-left: transparent solid 5px;
  border-right: transparent solid 5px;
}

/* line 396, ../sass/rtl.scss */
.form-success {
  width: 59.4%;
  display: block;
  background-color: #00a99d;
  color: #ebebeb;
  padding: 10px;
  margin-bottom: 5px;
}

/*=====================================
footer
========================================*/
/* line 409, ../sass/rtl.scss */
.footer {
  width: 100%;
  background-color: #00a99d;
  text-align: center;
  color: #ebebeb;
  border-bottom: #ffde5a 5px solid;
  height: 35px;
  padding-top: 15px;
}

/*================================================
tabs media query
==================================================*/
@media only screen and (max-width: 1024px) and (min-width: 767px) {
  /* line 422, ../sass/rtl.scss */
  .contact-info {
    margin-right: 25.5%;
  }

  /* line 425, ../sass/rtl.scss */
  .resp-vtabs .resp-tab-content {
    min-height: 560px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  /* line 430, ../sass/rtl.scss */
  .social-icons {
    display: inline-block;
    vertical-align: middle;
  }

  /* line 434, ../sass/rtl.scss */
  .cv-head {
    width: 100%;
  }

  /* line 438, ../sass/rtl.scss */
  .img-container {
    clear: both;
    width: 100%;
    margin-right: 0;
  }

  /* line 444, ../sass/rtl.scss */
  .img-container img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 451, ../sass/rtl.scss */
  .name-wrapper {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  /* line 456, ../sass/rtl.scss */
  .name-wrapper h1 {
    font-size: 4rem;
    line-height: 100%;
    margin: 0;
  }

  /* line 461, ../sass/rtl.scss */
  .name-wrapper h2 {
    font-size: 2rem;
    margin: 0;
  }

  /* line 465, ../sass/rtl.scss */
  .contact-info {
    width: 100%;
    border: none;
    font-size: 1rem;
    margin-right: 0;
    text-align: center;
    padding: 0;
  }

  /* line 473, ../sass/rtl.scss */
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
    width: 100%;
  }

  /* line 478, ../sass/rtl.scss */
  .recom-form input {
    width: 97.5%;
  }

  /* line 483, ../sass/rtl.scss */
  .recom-form textarea {
    width: 98%;
  }

  /* line 486, ../sass/rtl.scss */
  .recom-form .btn-submit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 491, ../sass/rtl.scss */
  .error_message {
    width: 96.5%;
  }

  /* line 495, ../sass/rtl.scss */
  .reccom-row h4 > span {
    margin-right: 50%;
  }

  /* line 500, ../sass/rtl.scss */
  .form-success {
    width: 96.5%;
  }
}
/*================================================
mobile media query
==================================================*/
@media only screen and (max-width: 480px) {
  /* line 509, ../sass/rtl.scss */
  .social-icons {
    display: inline-block;
    vertical-align: middle;
    width: 18%;
  }

  /* line 514, ../sass/rtl.scss */
  .cv-head {
    width: 100%;
  }

  /* line 519, ../sass/rtl.scss */
  .img-container {
    clear: both;
    width: 100%;
    margin-right: 0;
  }

  /* line 525, ../sass/rtl.scss */
  .img-container img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 532, ../sass/rtl.scss */
  .name-wrapper {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  /* line 537, ../sass/rtl.scss */
  .name-wrapper h1 {
    font-size: 4rem;
    line-height: 100%;
    margin: 0;
    padding-right: 1%;
    padding-right: 1%;
    text-align: center;
  }

  /* line 545, ../sass/rtl.scss */
  .name-wrapper h2 {
    font-size: 2rem;
    padding-right: 1%;
    padding-right: 1%;
    text-align: center;
  }

  /* line 551, ../sass/rtl.scss */
  .contact-info {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    font-size: 1rem;
  }

  /* line 560, ../sass/rtl.scss */
  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
    width: 100%;
  }

  /* line 565, ../sass/rtl.scss */
  .recom-form input {
    width: 94.15%;
  }

  /* line 570, ../sass/rtl.scss */
  .recom-form textarea {
    width: 95%;
  }

  /* line 573, ../sass/rtl.scss */
  .recom-form .btn-submit {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 579, ../sass/rtl.scss */
  .error_message {
    width: 92%;
  }

  /* line 583, ../sass/rtl.scss */
  .reccom-row h4 > span {
    margin-right: 50%;
  }

  /* line 588, ../sass/rtl.scss */
  .form-success {
    width: 92%;
  }
}
