
@font-face {
	font-family: 'BrushScriptMT';
	src: url('BrushScriptMT.eot?') format('eot'), 
	     url('BrushScriptMT.woff') format('woff'), 
	     url('BrushScriptMT.ttf')  format('truetype'),
	     url('BrushScriptMT.svg#BrushScriptMT') format('svg');
        unicode-range:U+0020-007F;
}
