@charset "IBM437";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 9, 2014, 10:19:33 AM
    Author     : DELL
*/
@import url(../font/BrushScriptMT/font-en-styles.css);
@import url(../font/bader_alyadawi/font-styles.css);
/* line 17, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/style-ltr_green.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/style-ltr_green.scss */
body {
  background-color: #12e9e1;
  font-size: 24px;
  font-family: 'bader_alyadawi','BrushScriptMT';
  direction: ltr;
  text-align: left;
  line-height: 1;
}

/* line 30, ../sass/style-ltr_green.scss */
#bg2-en {
  /*position: absolute;*/
  top: 0;
  left: 0;
  display: inline;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* line 39, ../sass/style-ltr_green.scss */
#mobile-bg, #bg, #tab-l, #tab-l-en, #mobile-bg-en {
  display: none;
}

/* line 42, ../sass/style-ltr_green.scss */
#tab-l {
  display: none;
}

/* line 45, ../sass/style-ltr_green.scss */
.container {
  width: 80%;
  position: absolute;
  top: 9rem;
  left: 0;
}

/* line 51, ../sass/style-ltr_green.scss */
.head-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 2%;
}

/* line 56, ../sass/style-ltr_green.scss */
.name-wrapper {
  width: 70%;
  float: right;
  color: #0077c0;
  padding-left: 10%;
}

/* line 63, ../sass/style-ltr_green.scss */
.name {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}

/*==============profile iamge=================*/
/* line 69, ../sass/style-ltr_green.scss */
.profile-img-container {
  float: right;
  width: 20%;
  position: relative;
}

/* line 74, ../sass/style-ltr_green.scss */
.profile-img {
  width: 9.2rem;
  position: absolute;
  -webkit-transform: rotate(11.2deg);
  -moz-transform: rotate(11.2deg);
  -ms-transform: rotate(11.2deg);
  -o-transform: rotate(11.2deg);
  transform: rotate(11.2deg);
  top: 2.5rem;
  right: -3.4rem;
  /*border:solid 1px $btn-bg-color;*/
  border-top: 7px #fff solid;
  border-left: 8px #fff solid;
  border-right: 8px #fff solid;
  border-bottom: 35px #fff solid;
}

/*==========================
tabs
===========================*/
/* line 89, ../sass/style-ltr_green.scss */
.resp-tab-item.resp-tab-active {
  color: #12e9e1;
}

/* line 92, ../sass/style-ltr_green.scss */
.resp-tabs-list.tab-head {
  width: 25%;
}

/* line 95, ../sass/style-ltr_green.scss */
.resp-tabs-list.tab-head li:hover {
  color: #12e9e1;
}

/* line 98, ../sass/style-ltr_green.scss */
.resp-tab-content.resp-tab-content-active {
  overflow-y: auto;
  height: 530px;
}

/*-------scrollbar style----------------*/
/* line 103, ../sass/style-ltr_green.scss */
.resp-tab-content.resp-tab-content-active::-webkit-scrollbar {
  width: 5px;
}

/* line 107, ../sass/style-ltr_green.scss */
.resp-tab-content.resp-tab-content-active::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* line 112, ../sass/style-ltr_green.scss */
.resp-tab-content.resp-tab-content-active::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* line 118, ../sass/style-ltr_green.scss */
​
.resp-tabs-list.tab-head li {
  text-align: center;
  width: 100%;
}

/* line 123, ../sass/style-ltr_green.scss */
.resp-vtabs ul.resp-tabs-list {
  text-align: center;
}

/* line 127, ../sass/style-ltr_green.scss */
.resp-tabs-container {
  width: 75%;
  padding-right: 15%;
  padding-left: 20%;
}

/*==============================
general css
===============================*/
/* line 136, ../sass/style-ltr_green.scss */
.dash:before {
  content: "-";
}

/* line 139, ../sass/style-ltr_green.scss */
.tag:before {
  content: "<";
}

/* line 143, ../sass/style-ltr_green.scss */
.tag:after {
  content: ">";
}

/*==============================
personal info tab
===============================*/
/* line 149, ../sass/style-ltr_green.scss */
.p-info-row {
  padding-left: 10%;
  margin-bottom: 50px;
}

/*================================
education 
==================================*/
/* line 157, ../sass/style-ltr_green.scss */
.edu-row span {
  display: block;
  margin-bottom: 25px;
}

/* line 161, ../sass/style-ltr_green.scss */
.edu-row {
  padding-left: 10%;
}

/*==================================
exp
====================================*/
/* line 167, ../sass/style-ltr_green.scss */
.exp-head {
  padding: 5%;
}

/* line 170, ../sass/style-ltr_green.scss */
.date {
  display: block;
  padding-top: 10px;
}

/* line 174, ../sass/style-ltr_green.scss */
.exp-row ul li {
  margin-bottom: 25px;
  margin-top: 25px;
}

/* line 178, ../sass/style-ltr_green.scss */
.exp-row {
  margin-bottom: 60px;
}

/*========================================
progress bar
==========================================*/
/* line 184, ../sass/style-ltr_green.scss */
.progress {
  height: 20px;
  background: #8f8b8b;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
}
/* line 192, ../sass/style-ltr_green.scss */
.progress > span {
  position: relative;
  float: right;
  margin: 0 -1px;
  min-width: 30px;
  height: 20px;
  line-height: 16px;
  text-align: left;
  background: #12e9e1;
  background: repeating-linear-gradient(-70deg, #8f8b8b, #8f8b8b 1px, #12e9e1 1px, #12e9e1 8px);
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 211, ../sass/style-ltr_green.scss */
.progress span:before {
  content: " ";
  position: absolute;
  background: #12e9e1;
  top: 0;
  left: -3px;
  bottom: 0;
  width: 8px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  z-index: 5;
}
/* line 230, ../sass/style-ltr_green.scss */
.progress .green {
  background: #85c440;
  border-color: #78b337 #6ba031 #568128;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b7dc8e), color-stop(70%, #99ce5f), color-stop(100%, #85c440));
  background-image: -webkit-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: -moz-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: -o-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
}
/* line 230, ../sass/style-ltr_green.scss */
.progress .red {
  background: #db3a27;
  border-color: #c73321 #b12d1e #8e2418;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ea8a7e), color-stop(70%, #e15a4a), color-stop(100%, #db3a27));
  background-image: -webkit-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: -moz-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: -o-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
}
/* line 230, ../sass/style-ltr_green.scss */
.progress .orange {
  background: #f2b63c;
  border-color: #f0ad24 #eba310 #c5880d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8da9c), color-stop(70%, #f5c462), color-stop(100%, #f2b63c));
  background-image: -webkit-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -moz-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -o-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
}
/* line 230, ../sass/style-ltr_green.scss */
.progress .blue {
  background: #5aaadb;
  border-color: #459fd6 #3094d2 #277db2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aed5ed), color-stop(70%, #7bbbe2), color-stop(100%, #5aaadb));
  background-image: -webkit-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -moz-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -o-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
}

/* line 238, ../sass/style-ltr_green.scss */
.my-progress-style {
  width: 50%;
  overflow: hidden;
  display: inline-block;
}

/*=================================
skills 
===================================*/
/* line 246, ../sass/style-ltr_green.scss */
.skill-name, .lang-name {
  width: 45%;
  display: inline-block;
}

/* line 251, ../sass/style-ltr_green.scss */
.skill-wrapper {
  padding-top: 100px;
  padding-left: 10%;
}

/* line 256, ../sass/style-ltr_green.scss */
.skill-row, .lang-row {
  margin-bottom: 50px;
}

/*==================================
language
====================================*/
/* line 268, ../sass/style-ltr_green.scss */
.lang-wrapper {
  padding-top: 25px;
  padding-left: 5%;
}

/*=====================================
refernce
=======================================*/
/* line 275, ../sass/style-ltr_green.scss */
.ref-row span {
  display: block;
}

/* line 278, ../sass/style-ltr_green.scss */
.ref-phone, .ref-email {
  padding-left: 10px;
}

/* line 281, ../sass/style-ltr_green.scss */
.ref-phone {
  letter-spacing: .5rem;
}

/* line 284, ../sass/style-ltr_green.scss */
.ref-row {
  margin-bottom: 75px;
}

/* line 287, ../sass/style-ltr_green.scss */
.ref-wrapper {
  padding-top: 30px;
  padding-left: 5%;
}

/*======================================
recomm 
========================================*/
/* line 294, ../sass/style-ltr_green.scss */
.recomm-wrapper {
  padding-top: 30px;
  padding-left: 5%;
  margin-bottom: 40px;
}

/* line 299, ../sass/style-ltr_green.scss */
.recom-row span {
  display: block;
  line-height: 1.5;
}

/* line 303, ../sass/style-ltr_green.scss */
.recom-row {
  margin-bottom: 50px;
}

/*---------form--------------------------*/
/* line 307, ../sass/style-ltr_green.scss */
.btn {
  background-color: #054757;
  display: block;
  width: 40%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
}

/* line 318, ../sass/style-ltr_green.scss */
.recom-form input, .recom-form textarea {
  background-color: #9bb5bc;
  color: #fff;
  border: solid #9bb5bc 2px;
  margin-bottom: 20px;
  width: 80%;
  float: left;
  padding: 2px 5px;
}

/* line 327, ../sass/style-ltr_green.scss */
.btn-submit {
  background-color: #054757 !important;
  border: solid #054757 2px !important;
  display: block;
  width: 40% !important;
  text-align: center !important;
  color: #fff !important;
  margin-bottom: 20px !important;
  margin-left: 20%;
}

/* line 338, ../sass/style-ltr_green.scss */
.error_message {
  display: block;
  width: 80%;
  float: left;
}

/* line 343, ../sass/style-ltr_green.scss */
#form-wrapper {
  display: none;
}

/* line 346, ../sass/style-ltr_green.scss */
::-webkit-input-placeholder {
  color: #fff;
}

/* line 351, ../sass/style-ltr_green.scss */
:-moz-placeholder {
  /*Firefox 18- */
  color: #fff;
}

/* line 355, ../sass/style-ltr_green.scss */
::-moz-placeholder {
  /*Firefox 19+ */
  color: #fff;
}

/* line 359, ../sass/style-ltr_green.scss */
:-ms-input-placeholder {
  color: #fff;
}

/*==================================
contact info
================================*/
/* line 365, ../sass/style-ltr_green.scss */
.contact-info {
  font-size: 16px;
  width: 30%;
  float: left;
  margin-left: 5%;
}

/* line 371, ../sass/style-ltr_green.scss */
.contact-row span {
  padding-left: 10%;
}

/* line 374, ../sass/style-ltr_green.scss */
.contact-row {
  margin-bottom: 20px;
}

/* line 377, ../sass/style-ltr_green.scss */
.add {
  background: url("../../../assets/images/web7/loc.png") no-repeat left;
}

/* line 381, ../sass/style-ltr_green.scss */
.phone {
  background: url("../../../assets/images/web7/phone.png") no-repeat left;
}

/* line 385, ../sass/style-ltr_green.scss */
.mail {
  background: url("../../../assets/images/web7/email.png") no-repeat left;
}

/*=====================================
social
=======================================*/
/* line 392, ../sass/style-ltr_green.scss */
.social-wrapper {
  width: 100%;
  float: left;
  padding-left: 7%;
}

/* line 397, ../sass/style-ltr_green.scss */
.social a {
  margin-left: 10px;
}

/* line 400, ../sass/style-ltr_green.scss */
#fb-icon {
  background-image: url("../../../assets/images/web7/fb.png");
  width: 35px;
  height: 34px;
  display: inline-block;
}

/* line 406, ../sass/style-ltr_green.scss */
#fb-icon:hover {
  background-image: url("../../../assets/images/web7/fb-hover.png");
}

/* line 409, ../sass/style-ltr_green.scss */
#t-icon {
  background-image: url("../../../assets/images/web7/twitter.png");
  width: 35px;
  height: 34px;
  display: inline-block;
}

/* line 415, ../sass/style-ltr_green.scss */
#t-icon:hover {
  background-image: url("../../../assets/images/web7/twitter-hover.png");
}

/* line 418, ../sass/style-ltr_green.scss */
#g-icon {
  background-image: url("../../../assets/images/web7/gplus.png");
  width: 35px;
  height: 34px;
  display: inline-block;
}

/* line 424, ../sass/style-ltr_green.scss */
#g-icon:hover {
  background-image: url("../../../assets/images/web7/gplus-hover.png");
}

/* line 427, ../sass/style-ltr_green.scss */
#ln-icon {
  background-image: url("../../../assets/images/web7/link.png");
  width: 36px;
  height: 37px;
  display: inline-block;
}

/* line 433, ../sass/style-ltr_green.scss */
#ln-icon:hover {
  background-image: url("../../../assets/images/web7/link-hover.png");
}

/* line 436, ../sass/style-ltr_green.scss */
#be-icon {
  background-image: url("../../../assets/images/web7/behance.png");
  width: 40px;
  height: 40px;
  display: inline-block;
}

/* line 442, ../sass/style-ltr_green.scss */
#be-icon:hover {
  background-image: url("../../../assets/images/web7/be-hover.png");
}

/*==========================================
tablet-landscape-vession
=============================================*/
@media only screen and (max-width: 960px) and (min-width: 767px) {
  /* line 449, ../sass/style-ltr_green.scss */
  #bg2-en {
    display: none;
  }

  /* line 453, ../sass/style-ltr_green.scss */
  #tab-l-en {
    display: inline;
    top: 0;
    right: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }

  /* line 462, ../sass/style-ltr_green.scss */
  .profile-img {
    width: 6.5rem;
    top: 3.6rem;
    right: -3.2rem;
  }

  /* line 467, ../sass/style-ltr_green.scss */
  .container {
    top: 5rem;
  }

  /* line 470, ../sass/style-ltr_green.scss */
  .name-wrapper {
    padding-top: 1rem;
  }

  /* line 473, ../sass/style-ltr_green.scss */
  .name {
    padding-left: 10%;
  }

  /* line 476, ../sass/style-ltr_green.scss */
  .resp-vtabs .resp-tabs-list li {
    padding: 15px 0px 0px 14px !important;
  }

  /* line 479, ../sass/style-ltr_green.scss */
  .resp-vtabs.resp-tabs-container {
    height: 23rem;
  }

  /* line 483, ../sass/style-ltr_green.scss */
  .resp-tab-content.resp-tab-content-active {
    height: 20rem;
  }

  /* line 486, ../sass/style-ltr_green.scss */
  .resp-tabs-container {
    height: 21rem;
    padding-left: 22%;
    padding-right: 15%;
  }

  /* line 491, ../sass/style-ltr_green.scss */
  .skill-wrapper {
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 768px) and (min-width: 479px) {
  /* line 500, ../sass/style-ltr_green.scss */
  #bg2-en {
    display: none;
  }

  /* line 504, ../sass/style-ltr_green.scss */
  #mobile-bg-en {
    display: inline;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }

  /* line 513, ../sass/style-ltr_green.scss */
  .container {
    top: 2rem;
  }

  /* line 517, ../sass/style-ltr_green.scss */
  .name-wrapper {
    float: left;
    width: 100%;
    padding-top: 1rem;
  }

  /* line 522, ../sass/style-ltr_green.scss */
  .profile-img {
    width: 8.2rem;
    top: 9.3rem;
    right: -5rem;
  }

  /* line 527, ../sass/style-ltr_green.scss */
  .resp-tabs-container {
    margin-top: 19rem;
    width: 100%;
    height: 40rem;
  }

  /* line 532, ../sass/style-ltr_green.scss */
  .resp-accordion.resp-tab-active {
    color: #12e9e1;
    width: 100%;
  }

  /* line 536, ../sass/style-ltr_green.scss */
  .resp-tab-content {
    width: 100%;
  }

  /* line 539, ../sass/style-ltr_green.scss */
  .resp-tab-content.resp-tab-content-active {
    height: 27rem;
  }

  /* line 542, ../sass/style-ltr_green.scss */
  .contact-info {
    width: 100%;
    margin-top: 17rem;
  }

  /* line 547, ../sass/style-ltr_green.scss */
  .skill-wrapper {
    padding-top: 10%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 553, ../sass/style-ltr_green.scss */
  body {
    font-size: 1rem;
  }

  /* line 556, ../sass/style-ltr_green.scss */
  #bg2-en {
    display: none;
  }

  /* line 560, ../sass/style-ltr_green.scss */
  #mobile-bg-en {
    display: inline;
    top: 0;
    right: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }

  /* line 569, ../sass/style-ltr_green.scss */
  .container {
    top: 2rem;
  }

  /* line 572, ../sass/style-ltr_green.scss */
  .name-wrapper {
    float: left;
    width: 100%;
  }

  /* line 576, ../sass/style-ltr_green.scss */
  .name {
    width: 100%;
  }

  /* line 579, ../sass/style-ltr_green.scss */
  .position {
    width: 100%;
  }

  /* line 582, ../sass/style-ltr_green.scss */
  .profile-img {
    width: 4.9rem;
    top: 4.8rem;
    right: -3rem;
  }

  /* line 587, ../sass/style-ltr_green.scss */
  .resp-tabs-container {
    margin-top: 9rem;
    width: 100%;
    height: 35rem;
  }

  /* line 592, ../sass/style-ltr_green.scss */
  .resp-accordion.resp-tab-active {
    color: #12e9e1;
    width: 100%;
  }

  /* line 596, ../sass/style-ltr_green.scss */
  .resp-tab-content {
    width: 100%;
  }

  /* line 599, ../sass/style-ltr_green.scss */
  .resp-tab-content.resp-tab-content-active {
    height: 10rem;
  }

  /* line 602, ../sass/style-ltr_green.scss */
  .contact-info {
    width: 100%;
  }

  /* line 607, ../sass/style-ltr_green.scss */
  .btn {
    width: 100%;
  }

  /* line 610, ../sass/style-ltr_green.scss */
  .recom-form input, .recom-form textarea {
    width: 100%;
  }

  /* line 613, ../sass/style-ltr_green.scss */
  .btn-submit {
    width: 100%;
  }

  /* line 616, ../sass/style-ltr_green.scss */
  .skill-name, .lang-name {
    width: 100%;
  }

  /* line 617, ../sass/style-ltr_green.scss */
  .my-progress-style {
    width: 100%;
  }

  /* line 620, ../sass/style-ltr_green.scss */
  .skill-wrapper {
    padding-top: 10%;
  }

  /* line 623, ../sass/style-ltr_green.scss */
  .ref-phone {
    letter-spacing: .3rem;
  }
}
