@font-face {
  font-family: "Zahra Arabic";
  src: url('./font/Zahra_bold.woff') format('woff'), url('./font/Zahra.bold.ttf') format('truetype'), url('./font/Zahra.Arabic.Bold.otf') format('opentype');
}

@font-face {
  font-family: "Zahra Arabic";
  src: url('./font/zahra.arabic-webfont.woff') format('woff'), url('./font/zahra.arabic-webfont.ttf') format('truetype'), url('./font/zahra.arabic-webfont.otf') format('opentype');
}