@font-face {
  font-family: 'HacenTunisiaBd';
  src: url('HacenTunisiaBd.eot'); 
  src: url('HacenTunisiaBd?#iefix') format('embedded-opentype'),
       url('HacenTunisiaBd.woff') format('woff'),
       url('HacenTunisiaBd.ttf')  format('truetype'), 
       url('HacenTunisiaBd.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'HacenTunisiaLt';
  src: url('HacenTunisiaLt.eot'); 
  src: url('HacenTunisiaLt?#iefix') format('embedded-opentype'),
       url('HacenTunisiaLt.woff') format('woff'),
       url('HacenTunisiaLt.ttf')  format('truetype'), 
       url('HacenTunisiaLt.svg#svgFontName') format('svg');
}