
@font-face {
	font-family: 'bader_alyadawi';
	src: url('bader_alyadawi.eot?') format('eot'), 
	     url('bader_alyadawi.woff') format('woff'), 
	     url('bader_alyadawi.ttf')  format('truetype'),
	     url('bader_alyadawi.svg#bader_alyadawi') format('svg');
        unicode-range:U+0600-06FF;
}

